<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<head>
	<title id="title"></title>
</head>
<div layout:fragment="content">
<script type="text/javascript">

//<![CDATA[
const memail = "[[${memberEmail}]]";
var intervalLoopCnt = 0;
var colorArray = [];
var sizeArray = [];
var fileIdx = 1;
var pprice;
var cartQuantity = {};
var obj;
var Arr1 = location.href.split('detail/');
var Arr2 = Arr1[1].split('_');
var pid = Arr2[0];
var ccolorcode = Arr2[1];
var stock_amount = 0;
var selectSize = false;
var cmatchpid;

function setSize(size) {
	selectSize = true;
	$("#ssize").val(size);
}

function numWithComma(num) {
  return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function getProductColor(pid,colorcode){
	var chtml = '';
	$.ajax({
		type: "get",
		url: "/product/color/" + pid + "/" + colorcode,
		dataType: "json",
		async: false,
		contentType: "application/json",
		error: function (request, status, error) {
			console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
		},
		success: function (result) {
			if (result.length > 0) {
				for (var i = 0; i < result.length; i++) {
					chtml += `<li><a class="beige" style="background:url(${result[i].ccolorimage})" onclick="GA_Event('상품목록','색상변경','${pid}')"></a></li>`;
				}
			}
		}
	})
	return chtml;
}

$(document).ready(function(){
    reScroll();
    bodyReSize();
    resizeEtcImage();
    $(window).resize(function(){
        reScroll();
        bodyReSize();
        resizeEtcImage();
        btnPosition();
    });

    // 상품 정보 가져오는 ajax 호출
   	$.ajax({
   		url: "/detail/" + pid + "/" + ccolorcode,
   		type : "GET",
   		dataType : "json",
   		async : false,
   		error : function( request, status, error ){
            console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
        },
        success : function( result ) {
   			pprice = result.pprice;
   			cmatchpid = result.cmatchpid;
   			console.log(cmatchpid);
			$("#title").text(result.pname);
        	document.getElementById("image1").src=result.cimage1;
        	document.getElementById("image2").src=result.cimage2;
        	document.getElementById("image3").src=result.cimage3;
			document.getElementById("zoomimage1").src=result.cimage1;
			document.getElementById("zoomimage2").src=result.cimage2;
			document.getElementById("zoomimage3").src=result.cimage3;
        	document.getElementById("pname").innerHTML = result.pname;
        	document.getElementById("bname").innerHTML = result.bname;
        	document.getElementById("pprice").innerHTML = '₩' + numWithComma(result.pprice);
        	document.getElementById("pid").innerHTML = result.pid;
        	document.getElementById("pdetail").innerHTML = result.pdetail;
        	document.getElementById("totalprice").innerHTML = '₩' + (numWithComma(result.pprice*$("#txtqty").val()));
        	////// cmatchpid
			var cmatchArr = cmatchpid.split('_');
			$.ajax({
				url: "/detail/" + cmatchArr[0] + "/" + cmatchArr[1],
				type: "GET",
				dataType: "json",
				async: false,
				error: function (request, status, error) {
					console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				},
				success: function (result1) {
					var chtml = `<div class="together-codi-pic">
    <a href="/detail/${cmatchpid}" onclick="GA_Event('상품 상세','코디상품','${result1.pid}');" class="pic">
        <img src="${result1.cimage1}" alt="코디상품" class="respon_image" />
    </a>
</div>
<span class="info_wrap item_info2">
    <span class="brand BR07">${result1.bname}</span>
    <span class="title" style="width: 145px">${result1.pname}</span>
    <span class="price"> ₩`+numWithComma(result1.pprice)+`</span>
</span>
<div class="we-codi-colorchip">
    <ul class="color_chip clearfix" id="chipbtn">

    </ul>
</div>
`;				$("#cmatchpid").html(chtml);
				$("#chipbtn").html(getProductColor(cmatchArr[0], cmatchArr[1]));
				}
			});
        	let rt = result.pprice*$("#txtqty").val();
        	$("#mile").html(numWithComma(rt*0.05)+' P (5%)');
        }
    });

    // 상품 컬러 리스트 가져오는 ajax 호출
    $.ajax({
        url: "/color/" + pid + "/" + ccolorcode,
        type: "GET",
        dataType:"json",
        async : false,
        error : function( request, status, error ){
            console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
        },
        success : function( result ) {
        	var html="";
        	obj = result;
        	if(result.length > 0){
        		html += '<ul class="color_chip clearfix">';
        		for(var i=0; i<result.length; i++) {
        			if(i==0) html += '<li><a href="#" class="beige on" style="background:url('+result[i].ccolorimage+')" style="width: 294px; height: 444px"></a></li>';
        			else html += `<li><a href="/detail/${pid}_${result[i].ccolorcode}" class="beige" style="background:url(${result[i].ccolorimage})" onclick="GA_Event('상품 상세', '컬러칩', '${result[i].ccolorcode}')"></a></li>`;
        			$("#pcolor").val(ccolorcode);
        		}
        		html += '</ul>';
        	}
        	$("#getcolor").html(html);
        }
    });

    // 상품 사이즈 가져오는 ajax 호출
    $.ajax({
        url: "/size/" + pid + "/" + ccolorcode,
        type: "GET",
        dataType:"json",
        async : false,
        error : function( request, status, error ){
            console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
        },
        success : function( result ) { // ccolorcode, ssize, samount
        	var html="";
        	stock_amount = samount;
        	obj = result;
        	if(result.length > 0){
        		for(var i=0; i<result.length; i++) {
        			var size = "'"+ result[i].ssize + "'";
        			html += `<li id="${pid}"><a href="javascript:void(0)" onclick="setSize(${size}); GA_Event('상품 상세', '사이즈', '${result[i].ssize}')">${result[i].ssize}<span class="ko_size1901" style="display:none;">&nbsp;(55)</span></a></li>`;
        		}
        		html += '</ul>';
        	}
        	$("#ssize").html(html);
        }
    });
    $(document).on("click", ".prev" , function(){
        slidPrev();
    });
    $(document).on("click", ".next" ,  function(){
        slidNext();
    });
});

// 장바구니에 추가하는 함수
function addToCart()
{
	console.log('yoo');
	console.log(getYCsrfToken());
	console.log(getCsrfHeaderName());
	console.log('lim');
    //2019.09.09 주문 불가능한 상품 선택시
    if(selectSize == false){
        var la = new layerAlert('사이즈를 선택해 주세요.');
        return;
    }
    if(addToCartProcess){
        addToCartProcess = false;
        var ssize = $("#ssize").val();
        var qty  = $("#txtqty").val();
        // 장바구니 등록하는 ajax 호출
		console.log(ssize);
        $.ajax({
            url: "/cart",
            method: "post",
            data : JSON.stringify({
            	pid : pid,
            	ccolorcode : ccolorcode,
            	ssize : ssize,
            	qty : qty,
            	"CSRFToken": getYCsrfToken()
            }),
            contentType : "application/json",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
             },
            cache: false,
            success: function (data) {
				var lc = new layerConfirm('장바구니로 이동하시겠습니까?', '확인', '취소');
				lc.confirmAction = function(){
					location.href = "/cart";
				};
				lc.cancelAction = function() {
					location.reload();
				}
            },
            error : function( request, status, error ){
                console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
            }
        });

    }
}

function btnPosition(){

    var layerImgWidth = $(".gallery-wrapper ul li img").width();
    var layerBtn = $(".gallery-wrapper .close");

    $(layerBtn).css("margin-right",-(layerImgWidth/2+60));

};


function resizeEtcImage(){
    var widthLi = $(".adaptive_wrap").width() / 6;
    $(".productSlide li").css("padding","0").css("width","auto");
    $(".productSlide li img").css("width","96%").css("padding","0 2%");
    $(".hidden_wrap ul li").width(widthLi);
    $(".lookbook_list191211 ul li").css({'width':'auto','height':'216px'});
	$(".lookbook_list191211 ul li img").css({'width':'auto','height':'100%','padding':'0 5px'});

}

var intervalId = -1;
function bodyReSize(){
    var imgHeight = $("#imageDiv").height();        //상단 이미지
    var mainHeight = $("#clearfix").height();       //매인

    //개별 이미지 높이
    var imageDivSize = 0;
    var imageDivMaxHeight = 0;
    $("#imageDiv > ul > li").each(function(index){
        imageDivSize = index+1;
        if(imageDivMaxHeight < $(this).height()) {
            imageDivMaxHeight = $(this).height();
        }
    });

    if(imgHeight < ((imageDivMaxHeight+10)*imageDivSize)) {
        intervalLoopCnt = 0;
        intervalId = setTimeout(bodyReSize, 100);
//      intervalId = setInterval(bodyReSize, 100);
        return false;
    } else {
        if(intervalLoopCnt < imageDivSize) {
            intervalLoopCnt = intervalLoopCnt + 1;
            intervalId = setTimeout(bodyReSize, 100);
//          intervalId = setInterval(bodyReSize, 100);
            return false;
        } else {
            clearTimeout(intervalId);
//          clearInterval(intervalId);
        }
    }

    $("#productDetailEtc").css("display", "block");
    $("#footerWrap").css("display", "block");

    var contentHeight = $("#contentDiv").height();  //상단 detail 내용
    var offset = $("#imageDiv").offset();

    if(imgHeight > contentHeight){
        $("#clearfix").height(imgHeight+50);
    }else if(imgHeight < contentHeight){
        $("#clearfix").height(contentHeight+50);
    }


    var outerWidth = $(window).outerWidth();
    var imgWidth = $("#imageDiv").width();
    var resizeWidth = $("#imageDiv").width() + $('#contentDiv').innerWidth();
    var leftWidth = (outerWidth - resizeWidth) / 2
    var contentWidth = leftWidth + imgWidth;

    if($("#contentDiv").css('position') == 'absolute'){
        $("#contentDiv").css('left', imgWidth);
    }else{
        if(outerWidth < 1210){
            $("#contentDiv").css('left', imgWidth);
        }else{
            $("#contentDiv").css('left', contentWidth+2);
        }
    }
}

function reScroll(){
    var $btnwrap = $('.btnwrap.clearfix');
    var btnwrapHeight = $btnwrap.height();
    var btnMarginBottom = 44;

    // WIDTH
    var outerWidth = $(window).outerWidth();
    var imgWidth = $("#imageDiv").width();
    var leftWidth = $("#imageDiv").offset().left;
    var contentWidth = leftWidth + imgWidth;

    $(window).scroll(function(){

        var scrollTop = $(this).scrollTop();
        var outerHeight = $(window).outerHeight();
        var scrollHeight = parseFloat($("#imageDiv").height() - $('#contentDiv').height());

        if(scrollHeight > 0){

            if (scrollTop < 100) {
                $('#contentDiv').css({'top':'0','left':imgWidth,'margin-top':'20px'});
                $('#imageDiv').css({'margin-top':'20px'});

            } else if ((scrollTop>=100) && (scrollTop<=scrollHeight)) {
                //$('#contentDiv').css({'position': 'fixed', 'top':139,'left':contentWidth});
                $('#contentDiv').css({'margin-top':'0px'});
                if(outerWidth < 1210){
                    //$('#contentDiv').css({'position': 'fixed', 'top':139,'left':imgWidth});
                }
            } else {
                $('#contentDiv').css({'top':scrollHeight,'left':imgWidth});
            }
        }else{
            $('#contentDiv').css({'top':'0','left':imgWidth,'margin-top':'20px'});
            $('#imageDiv').css({'margin-top':'20px'});
        }

        var btnwrapOffset = $btnwrap.offset();
        var curBtnwrapMarginTop = parseInt( $btnwrap.css('margin-top') );
        var btnwrapMarginTop = Math.min( scrollTop + outerHeight - btnwrapOffset.top - btnwrapHeight - btnMarginBottom + curBtnwrapMarginTop, 0);

        $btnwrap.css({
            'margin-top': btnwrapMarginTop,
            'margin-bottom': -btnwrapMarginTop
        });


    }).trigger('scroll');
}

function fn_sumPriceCal(){

    var productPrice = $("#productPrice").val() == null || $("#productPrice").val() == 0 ? 0 : $("#productPrice").val();
    var qty = $("#txtqty").val();
    var sumPrice = parseFloat(productPrice * qty);

}

function fn_qtySubtraction()
{
    var qty  = $("#txtqty").val();
    if(qty < 2){
        return;
    }

    //GA 이벤트 태깅
    GA_Event('상품 상세','수량','-');

    $("#txtqty").val(parseInt(qty)-1);
	$("#totalprice").text('₩'+numWithComma((qty-1)*pprice));
    fn_sumPriceCal();
}

function fn_qtyAdd(){
	if(selectSize == false){
        var la = new layerAlert('사이즈를 선택해 주세요.');
        return;
    }
    var qty = parseInt($("#txtqty").val());
    if(qty + 1 > 2){
    	$("#txtqty").val("2");
    	$("#totalprice").text('₩'+numWithComma(2*pprice));
    	var la = new layerAlert('동일 상품(사이즈/컬러)은<br/>최대 2개까지 선택 가능합니다.');
        return;
    }

    GA_Event('상품 상세','수량','+');

    $("#txtqty").val(qty+1);
	$("#totalprice").text('₩'+numWithComma(2*pprice));
    fn_sumPriceCal();

}
var addToCartProcess = true;


// 기존로직
function addtoCartProcessFunction(){

    var productCode = $('form[name=addToCartForm] input[name=productCodePost]').val();
    var productType = $('form[name=addToCartForm] input[name=productCodeType]').val();
    var qty = $("#txtqty").val();


    if(qty < 1){
        var la = new layerAlert('productdetail.basket.errormag.qty');
        addToCartProcess = true;
        return;
    }

    $('form[name=addToCartForm] input[name=qty]').val(qty);


    $('#workOrder').val($('#erpWorkOrderNumber').val());

    //추천상품

    if('' != null) {
        $('#recommendProduct').val("recommendProd");
    }

    if($("#storePickupCheck").is(":checked") && $("#fourpmCheck").is(":checked")){
        var scrollTop = $(document).scrollTop();
        var la = new layerAlert('매장수령과 {0}PM는 동시에 선택할 수 없습니다.');
        var top = $(".popwrap.w_type_1").css("margin-top").replace("px","");
        $(document).scrollTop(scrollTop);
        $(".popwrap.w_type_1").css("margin-top",Number(scrollTop)+Number(top)+"px");
        la.confirmAction = function(){
            return;
        };
        addToCartProcess = true;
        return false;
    }
}
function imageZoom(){

    var layerTag = '<div class="layerArea" style="z-index:8;">';
    layerTag +='<div id="imgLayerArea" class="layerBg" style="background:#FFFFFF; position: inherit;z-index:7;width:100%;height:auto;outline:none;">';
    layerTag +='    <div id="item_vsl_modal"> ';
    layerTag +='        <div class="gallery-wrapper" id="productImagePop"> ';
    layerTag +='            <a class="close productImagePopClose" href="javascript:void(0);" onclick="GA_Event(\'상품 상세\',\'크게보기\',\'클릭\')"/> ';
    layerTag +='        </div>';
    layerTag +='    </div>';
    layerTag +='</div>';
    layerTag +='</div>';

    var thisLayer = $(layerTag).appendTo($('.item_detail > .adaptive_wrap'));

    $("#productImagePop").append($("#imageDivW ul").clone());
    btnPosition();

    thisLayer.find(".layerBg").css("width", $('.item_detail > .adaptive_wrap').width() + 4);
    var height = $("#bodyWrap").height();
    $("#bodyWrap").height($("#item_vsl_modal").height());

    thisLayer.find('.productImagePopClose').click(function(){
        thisLayer.remove();
        $("#bodyWrap").css("height", "");
        $(window).scrollTop("0");
        return false;
    });
}
function fn_parentLayer(){

    $("#productLayer .layerBg").addClass("white");

    $("#productLayer").show();
}

function showProductLayer(backgroud) {
    $("#productLayer").show();
}
function hideProductLayer() {

	$("#customerReviewWriteDiv #reviewFileCd").val('');
	$("#customerReviewWriteDiv #reviewFileCd1").val('');
	$("#customerReviewWriteDiv #reviewFileCd2").val('');
	$("#customerReviewWriteDiv #reviewFileCd3").val('');
	$("#customerReviewWriteDiv #reviewFileCd4").val('');
    $("#productLayer .layerBg").removeClass("white");
    $("#productLayer").hide();

}

var layerAlertNew = function(msg){
    var t = this;

    this.confirmAction = function(){};

    var scrollTop = $(window).scrollTop()+"px";
    var tp=($(window).height()-250)/2+"px";

    var alertTag = '<div class="layerArea" style="z-index:1110">';
    alertTag +='<div class="layerBg"></div> ';
    alertTag +='<div class="popwrap w_type_1" style="z-index:150;top:'+scrollTop+';margin-top:'+tp+'">';
    alertTag +='<div class="pop_cnt">';
    alertTag +='<h3 class="pop_tlt copy">'+msg+'</h3>';
    alertTag +='<div class="btnwrap">';
    alertTag +='<input type="button" class="btn gray_s mr0" value="확인" />';
    alertTag +='</div>';
    alertTag +='</div>';
    alertTag +='<a href="javascript:void(0);" class="btn_close"><img src="/_ui/desktop/common/images/popup/ico_close.png" alt="닫기"></a>';
    alertTag +='</div>';
    alertTag +='</div>';

    var $alertLayer = $(alertTag).appendTo('body');

    $alertLayer.find('.btn.gray_s').click(function(){
        $alertLayer.remove();
        t.confirmAction();
    });

    $alertLayer.find('.btn.wt_s, .btn_close').click(function(){
        $alertLayer.remove();
    });
}

function slidPrev(){

    var objDiv;

    if(status == 1 ){
        return;
    }
    status = 1;
    $("#productDetailEtc .productEtcDiv").each(function(){

        if( $(this).css('display') == 'block' ){
            objDiv = $(this);
        }
    });

    var slidUl = objDiv.find("ul");

    //상품평이 아닐 때
    if(document.getElementById("customerReviewDiv").style.display == "none"){
      //추천상품,최근본상품
        var liWidth = slidUl.find("li").width()*6;
        var max = (slidUl.find("li").size()) * slidUl.find("li").width();

        var marginLeft = slidUl.css("marginLeft").replace("px", "");

        var rest = slidUl.find("li").size()%6;

        if((marginLeft*-1)<liWidth){
            liWidth = slidUl.find("li").width()*rest;
        }
        //추천상품,최근본상품끝

        //룩북
        $("#productEctTab ul li").each(function(){
            if($(this).find("a").text().indexOf("룩북") > -1 && $(this).find("a").attr('class') == 'on'){
                liWidth = slidUl.find("li").width();
                max = (slidUl.find("li").size() - 4) * liWidth;
            }
        });
        //룩북끝
    }

    if( marginLeft >= 0 ){
        status = 0;
        return false;
    }
    slidUl.stop().animate({'marginLeft': '+='+liWidth+'px'}, 'normal', function(){status = 0;});

    return false;
}


function slidNext(){

    var objDiv;

    if(status == 1 ){
        return;
    }
    status = 1;
    $("#productDetailEtc .productEtcDiv").each(function(){

        if( $(this).css('display') == 'block' ){
            objDiv = $(this);
        }
    });

    var slidUl = objDiv.find("ul");

    //상품평이 아닐 때
    if(document.getElementById("customerReviewDiv").style.display == "none") {
        //추천상품,최근본상품
        var liWidth = slidUl.find("li").width()*6;
        var max = (slidUl.find("li").size()) * slidUl.find("li").width();

        var marginLeft = slidUl.css("marginLeft").replace("px", "");

        marginLeft = parseFloat(marginLeft)-liWidth;

        var rest = slidUl.find("li").size()%6;

        if((max+marginLeft)<liWidth){
            liWidth = slidUl.find("li").width()*rest;
        }
        //추천상품끝

        //룩북
        $("#productEctTab ul li").each(function(){
            if($(this).find("a").text().indexOf("룩북") > -1 && $(this).find("a").attr('class') == 'on'){
                liWidth = slidUl.find("li").width();
                max = (slidUl.find("li").size() - 4) * liWidth;
                marginLeft = slidUl.css("marginLeft").replace("px", "");
            }
        });
        //룩북끝
     }

    if( (parseFloat(max) + parseFloat(marginLeft)) <= 0 ){
        status = 0;
        return;
    }

    slidUl.stop().animate({'marginLeft': '-='+liWidth+'px'}, 'normal', function(){status = 0;});

    return false;
}
function lastImgMove(){
	if(moveYn){
		var isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
		var viewpordWidth = $('#lookbookListContent .bx-viewport').width();
		var viewpordOffsetRight = $('#lookbookListContent .bx-viewport').offset().left + viewpordWidth;

		var liLastWidth = $('#lookbookListContent .productSlide li:last').width();
		var liLastOffsetRight = $('#lookbookListContent .productSlide li:last').offset().left + liLastWidth;

		var moveImageWidth = liLastOffsetRight - viewpordOffsetRight;

		if(moveImageWidth > 5){
			if($.browser.msie == true && Number($.browser.version) <= 9) {
				var nowSlider = parseInt(lookBookbxslider.css('left'));
				prevMoveImageWidth = nowSlider;
				lookBookbxslider.stop().animate({'left':(nowSlider-moveImageWidth)+'px'});
			}else{
				if(isChrome){
					var nowSlider = parseInt(lookBookbxslider.css('transform').split(',').reverse()[1]);
				}else{
					var nowSlider = parseInt(lookBookbxslider.css('transform').split(',').reverse()[3]);
				}

				prevMoveImageWidth = nowSlider;

				lookBookbxslider.css('transition-duration','0.5s');
				lookBookbxslider.css('transform','translate3d('+(nowSlider-moveImageWidth)+'px,0px,0px)');
			}
			$(".bx-prev").hide();
			$(".lookbook_prev").show();

			moveYn=false;
		}
	}
}
function prevImgMove(){
	if($.browser.msie == true && Number($.browser.version) <= 9) {
		lookBookbxslider.stop().animate({'left':prevMoveImageWidth+'px'});

	}else{
		lookBookbxslider.css('transition-duration','0.5s');
		lookBookbxslider.css('transform','translate3d('+prevMoveImageWidth+'px,0px,0px)');
	}
	$(".bx-prev").show();
	$(".lookbook_prev").hide();
	moveYn=true;
}
//]]>
</script>

    <div id="globalMessages">
        </div>
    <div id="bodyWrap" class="item_detail">
        <div id="oneEventLayer"></div>

        <div class="adaptive_wrap">
            <div class="clearfix prd_detail1905" id="clearfix">
		<div class="clearfix image_view3">
	<a href="javascript:imageZoom()" id="btn_zoom" class="btn_zoom" onclick="GA_Event('상품 상세','크게보기','클릭')">크게보기</a><!-- 버튼 클릭시 item_visual 에 zoom 클래스 추가 -->
	<!-- 2021.08.18 동영상 재생 수정, 상품 imageDivisionCode에 VOD가 있는 경우 동영상 url 세팅 -->
	<div class="image_view1" id="image_view1">
		<div class="item_visual" id="imageDiv" style="margin-top: 20px;">
			<ul>
				<li><img id="image1" src="" class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
				<li><img id="image2" src="" class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
				<li><img id="image3" src="" class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
			</ul>
		</div>
	</div>
	<div class="item_visual" id="imageDivW" style="display:none">
        <ul>
            <li><img id="zoomimage1" src=""  class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
            <li><img id="zoomimage2" src=""  class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
            <li><img id="zoomimage3" src=""  class="respon_image" onerror="this.src='http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img1.jpg'" /></li>
        </ul>
    </div>
    </div>
<div class="item_detail_info float_right" id="contentDiv" style="margin-top: 20px;">
	<div class="info">
		<div class="info_sect">
			<h4 class="item_name">
				<div class="brand-name">
					<a id="bname" href="javascript:fn_goCategori('br31')" onclick="GA_Detail('brand',$(this))"></a>
				</div>
				<span id="pname" class="name ko_fir_spel">
				</span>
			</h4>
			
			<div class="flag">
			</div>
			
			<p class="price" id="pprice" style="font-size:22px">
			</p>
			<p class="selling_point"></p>
		            <div class="prod-detail-con-box">
		                    <strong class="number-code">상품품번 &#58; <span id="pid"></span></strong>
		                    <div class="round-style">
		                        <p id="pdetail"></p>
		                    </div>
		                    </div>
		            </div>
                 <div class="info_sect">
			<ul class="point_delivery">
				<li>
					<span class="title">H.Point</span>
					<span class="txt" id="mile"></span>
				</li>
				
				<li>
					<span class="title">배송비</span>
					<span class="txt">30,000원 이상 무료배송 (실결제 기준)</span>
					   <a href="javascript:fn_popupDelivery();" class="etc_info" onclick="GA_Event('상품 상세','배송안내','클릭');">배송안내</a>
					<div class="popwrap w_type_2" id="popupDelivery" style="display:none;">
	<div class="pop_tltwrap2">
		<h3>배송비안내</h3>
	</div>
	<div class="pop_cnt">
		<table class="cnt_type1">
			<caption>배송비안내</caption>
			<colgroup>
				<col style="width:155px" />
				<col />
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">배송기간</th>
					<td>평균 입금완료일 기준 2-4일 소요됩니다.<br />(토/일/공휴일 제외)</td>
				</tr>
				<tr>
					<th scope="row">배송비</th>
					<td>
						<ul class="bul_sty01_li">
							<li>30,000원 이상 결제 시 <em class="ft_point01">무료배송</em></li>
							<li>30,000원 미만 결제 시 <em class="ft_point01">2,500원</em></li>
						</ul>
						<p class="bul_sty02">도서산간 지역은 3,000원의 별도 배송비가 부과됩니다.</p>
						<p class="bul_sty02">쿠폰/바우처 할인금액 및 한섬마일리지/H.Point 사용을 제외한 실결제금액 기준입니다.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="javascript:void(0);" class="btn_close"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기" /></a>
</div>
</li>
				</ul>
		</div>

		<div class="info_sect" >
			<ul class="color_size_qty">
				<li>
					<span class="title">색상</span>
					<div id="getcolor" class="txt">
					</div>
					<span class="cl_name" id="colorNameContent"></span>
				</li>
				<li>
				    <span class="title">사이즈<!-- 사이즈 --></span>
					<span class="txt">
<div class="popwrap w_type_2" id="sizeQuickReferenceLayer" style="display:none;">
	<div class="pop_tltwrap2">
		<h3>사이즈조견표</h3>
	</div>
	<div class="pop_cnt">
		<div class="size_chart">
			<div class="tab_a m6" id="size_tab">
				<ul>
					<li><a href="#;" class="active">WOMEN<br />TOP</a></li>
					<li><a href="#;">WOMEN<br />BOTTOMS</a></li>
					<li><a href="#;">WOMEN<br />SHOES</a></li>
					<li><a href="#;">MEN<br />TOP</a></li>
					<li><a href="#;">MEN<br />BOTTOMS</a></li>
					<li><a href="#;">MEN<br />SHOES</a></li>
				</ul>
			</div>
			<div class="size_tab_container">
				<div>
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND/<br />SIZE</th>
								<th scope="col">XS</th>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">L</th>
								<th scope="col">FREE</th>
							</tr>
						</thead>
						<tbody>
							<tr class="al_middle">
								<th scope="row">TIME</th>
								<td>76</td>
								<td>82</td>
								<td>88</td>
								<td>94</td>
								<td>90</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">MINE</th>
								<td>76</td>
								<td>82</td>
								<td>88</td>
								<td>94</td>
								<td>90</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">SYSTEM</th>
								<td>76</td>
								<td>82</td>
								<td>88</td>
								<td>-</td>
								<td>90</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">SJSJ</th>
								<td>76</td>
								<td>82</td>
								<td>88</td>
								<td>-</td>
								<td>90</td>
							</tr>
							<tr class="al_middle">
								<th scope="row" rowspan="2">KOREA</th>
								<td>85</td>
								<td>90</td>
								<td>95</td>
								<td>100</td>
								<td>-</td>
							</tr>
							<tr class="al_middle">
								<td>44</td>
								<td>55</td>
								<td>66</td>
								<td>77</td>
								<td>-</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">US</th>
								<td>2</td>
								<td>4</td>
								<td>6</td>
								<td>8</td>
								<td>-</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">EUROPE</th>
								<td>34</td>
								<td>36</td>
								<td>38</td>
								<td>40</td>
								<td>-</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">CHINA</th>
								<td>160/<br />80A</td>
								<td>165/<br />84A</td>
								<td>170/<br />88A</td>
								<td>175/<br />92A</td>
								<td>-</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display:none;">
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:19%" />
							<col style="width:19%" />
							<col style="width:19%" />
							<col style="width:19%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND/<br />SIZE</th>
								<th scope="col">XS</th>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">L</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">TIME</th>
								<td>61</td>
								<td>64</td>
								<td>67</td>
								<td>70</td>
							</tr>
							<tr>
								<th scope="row">MINE</th>
								<td>61</td>
								<td>64</td>
								<td>67</td>
								<td>70</td>
							</tr>
							<tr>
								<th scope="row">SYSTEM</th>
								<td>61</td>
								<td>64</td>
								<td>67</td>
								<td>-</td>
							</tr>
							<tr>
								<th scope="row">SJSJ</th>
								<td>61</td>
								<td>64</td>
								<td>67</td>
								<td>-</td>
							</tr>
							<tr class="al_middle">
								<th scope="row" rowspan="2">KOREA</th>
								<td>24</td>
								<td>26</td>
								<td>28</td>
								<td>30</td>
							</tr>
							<tr>
								<td>44</td>
								<td>55</td>
								<td>66</td>
								<td>77</td>
							</tr>
							<tr>
								<th scope="row">US</th>
								<td>2</td>
								<td>4</td>
								<td>6</td>
								<td>8</td>
							</tr>
							<tr>
								<th scope="row">EUROPE</th>
								<td>34</td>
								<td>36</td>
								<td>38</td>
								<td>40</td>
							</tr>
							<tr>
								<th scope="row">CHINA</th>
								<td>160/<br />66A</td>
								<td>165/<br />68A</td>
								<td>170/<br />70A</td>
								<td>175/<br />72A</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display:none;">
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:19%" />
							<col style="width:19%" />
							<col style="width:19%" />
							<col style="width:19%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND/<br />SIZE</th>
								<th scope="col">XS</th>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">L</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">TIME</th>
								<td>230</td>
								<td>235</td>
								<td>240</td>
								<td>245</td>
							</tr>
							<tr>
								<th scope="row">MINE</th>
								<td>230</td>
								<td>235</td>
								<td>240</td>
								<td>245</td>
							</tr>
							<tr>
								<th scope="row">SYSTEM</th>
								<td>230</td>
								<td>235</td>
								<td>240</td>
								<td>245</td>
							</tr>
							<tr>
								<th scope="row">SJSJ</th>
								<td>230</td>
								<td>235</td>
								<td>240</td>
								<td>245</td>
							</tr>
							<tr>
								<th scope="row">KOREA</th>
								<td>230</td>
								<td>235</td>
								<td>240</td>
								<td>245</td>
							</tr>
							<tr>
								<th scope="row">US</th>
								<td>6</td>
								<td>6.5</td>
								<td>7</td>
								<td>7.5</td>
							</tr>
							<tr>
								<th scope="row">EUROPE</th>
								<td>36</td>
								<td>36.5</td>
								<td>37</td>
								<td>37.5</td>
							</tr>
							<tr>
								<th scope="row">CHINA</th>
								<td>36</td>
								<td>37</td>
								<td>38</td>
								<td>39</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display:none;">
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
							<col style="width:16%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND/<br />SIZE</th>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">L</th>
								<th scope="col">XL</th>
								<th scope="col">XXL</th>
							</tr>
						</thead>
						<tbody>
							<tr class="al_middle">
								<th scope="row">TIME<br />HOMME</th>
								<td>90</td>
								<td>95</td>
								<td>100</td>
								<td>105</td>
								<td>110</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">SYSTEM<br />HOMME</th>
								<td>90</td>
								<td>95</td>
								<td>100</td>
								<td>105</td>
								<td>110</td>
							</tr>
							<tr class="al_middle">
                                <th scope="row">CLUB<br />MONACO</th>
                                <td>XS</td>
                                <td>S</td>
                                <td>M</td>
                                <td>L</td>
                                <td>XL</td>
                            </tr>
							<tr class="al_middle">
								<th scope="row">KOREA</th>
								<td>90</td>
								<td>95</td>
								<td>100</td>
								<td>105</td>
								<td>110</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">US</th>
								<td>36</td>
								<td>38</td>
								<td>40</td>
								<td>42</td>
								<td>44</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">EUROPE</th>
								<td>46</td>
								<td>48</td>
								<td>50</td>
								<td>52</td>
								<td>54</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">CHINA</th>
								<td>165/<br />80-90</td>
								<td>170/<br />96-98</td>
								<td>175/<br />108-110</td>
								<td>180/<br />118-122</td>
								<td>185/<br />126-130</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display:none;">
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
							<col style="width:9.5%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND/<br />SIZE</th>
								<th scope="col">S</th>
								<th scope="col" colspan="2">M</th>
								<th scope="col" colspan="2">L</th>
								<th scope="col" colspan="2">XL</th>
								<th scope="col" colspan="2">XXL</th>
							</tr>
						</thead>
						<tbody>
							<tr class="al_middle">
								<th scope="row">TIME<br />HOMME</th>
								<td>74</td>
								<td colspan="2">78</td>
								<td>82</td>
								<td>84</td>
								<td>86</td>
								<td>88</td>
								<td>90</td>
								<td>92</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">SYSTEM<br />HOMME</th>
								<td>74</td>
								<td colspan="2">78</td>
								<td>82</td>
								<td>84</td>
								<td>86</td>
								<td>88</td>
								<td>90</td>
								<td>92</td>
							</tr>
                            <tr class="al_middle">
                                <th scope="row">CLUB<br />MONACO</th>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td>32</td>
                                <td>33</td>
                                <td colspan="2">34</td>
                                <td colspan="2">36</td>
                            </tr>
							<tr class="al_middle">
								<th scope="row">KOREA</th>
								<td>29</td>
								<td colspan="2">30</td>
								<td>32</td>
								<td>33</td>
								<td>34</td>
								<td>35</td>
								<td>35.5</td>
								<td>36</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">US</th>
								<td>44T</td>
								<td colspan="2">46T</td>
								<td colspan="2">48T</td>
								<td colspan="2">50T</td>
								<td colspan="2">52T</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">EUROPE</th>
								<td>44</td>
								<td colspan="2">46</td>
								<td colspan="2">48</td>
								<td colspan="2">50</td>
								<td colspan="2">52</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">CHINA</th>
								<td>44</td>
								<td colspan="2">46</td>
								<td colspan="2">48</td>
								<td colspan="2">50</td>
								<td colspan="2">52</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="display:none;">
					<table class="cnt_type2">
						<caption>사이즈조견표</caption>
						<colgroup>
							<col />
							<col style="width:23%" />
							<col style="width:23%" />
							<col style="width:23%" />
						</colgroup>
						<thead>
							<tr class="al_middle">
								<th scope="col">BRAND<br/>SIZE</th>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">L</th>
							</tr>
						</thead>
						<tbody>
							<tr class="al_middle">
								<th scope="row">TIME HOMME</th>
								<td>260</td>
								<td>270</td>
								<td>280</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">SYSTEM HOMME</th>
								<td>260</td>
								<td>270</td>
								<td>280</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">KOREA</th>
								<td>260</td>
								<td>270</td>
								<td>280</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">US</th>
								<td>8</td>
								<td>9</td>
								<td>10</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">EUROPE</th>
								<td>41</td>
								<td>42</td>
								<td>43.5</td>
							</tr>
							<tr class="al_middle">
								<th scope="row">CHINA</th>
								<td>43</td>
								<td>45</td>
								<td>47</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
		</div>
	</div>
	<a href="javascript:void(0);" class="btn_close"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기" /></a>
</div>
<ul id="ssize" class="size_chip clearfix sizeChipKo1901">

									</ul>
							</span>
					<a href="javascript:fn_popupSizeQuickReference();" class="etc_info" onclick="GA_Event('상품 상세','사이즈_조건표','클릭')">사이즈 조견표</a>
                    </li>
				<li>
					<span class="title">수량</span>
					<span class="txt">
						<span class="qty_sel num">
							<a href="javascript:fn_qtySubtraction();" class="left" >이전 버튼</a>
							<input type="text" id="txtqty" title='수량' value="1" class="mr0" readonly="readonly">
							<a href="javascript:fn_qtyAdd();" class="right" >다음 버튼</a>
							     </span>
					</span>
					
					<input type="hidden" id="erpWorkOrderNumber" />     <input type="hidden" id="reserveSalesStockpile" />  <input type="hidden" id="erpWorkOrderProdCode" />  </li>
			</ul>
		</div>
		<div class="total_price clearfix">
			<div class="title float_left" style="width:auto;">총 합계</div>
			<div class="pirce float_right">
			<span id="totalprice"></span>
			</div>
		</div>
			<!-- //st_store_wrap -->
		<div class="btnwrap clearfix" style="position:absolute; width:473px;">
            <!--//190508 추가 -->
			<form id="addToCartForm" name="addToCartForm" action="/shoppingbag" method="post">
				<input type="hidden" maxlength="3" size="1" name="qty" class="qty" />
				<input type="hidden" name="productCodePost" value=""/>
				<input type="hidden" id="pid" name="pid" value=""/>
				<input type="hidden" id="mid" name="mid" value=""/>
				<input type="hidden" id="ssize" name="ssize" value=""/>
				<input type="hidden" id="pcolor" name="pcolor" value=""/>
				<input type="hidden" id="samount" name="samount" value=""/>
				<input style="width: 230px;" type="button" value='쇼핑백 담기' class="btn cart1803 float_left ml0" id="addToCartButton" onClick="addToCart(); GA_Event('상품 상세','하단 고정 버튼','쇼핑백담기');"/>
        
        <!-- 이미 addToCart() 내의 ajax에서 csrftoken 처리해줌 -->
        <!--<div>
          <input type="hidden" name="CSRFToken" value="ec35065f-63f2-4b5d-8f20-aec5bd737cbc" />
        </div>-->
      </form><input type="button" style="width: 230px;" value="바로주문" class="btn order float_right mr0" id="addToCartBuyNowButton" onClick="GA_Event('상품 상세','하단 고정 버튼','바로주문');addToCart(true);">
	                </div>

		<dl class="toggle_type1" style="margin-top:80px;">
			<!-- 상품상세 정보창 변경 211027 S -->

        </dl>
		<div class="related_evt" style="margin-top: 100px;">
			<div class="cd-n-lb-tab" id="codi_lookbook_tab" style="">
				<ul>
					<li class="on"><a href="#cd-n-lb-tab-01" onclick="GA_Event('상품_상세','함께 코디한 상품','함께 코디한 상품');">함께 코디한 상품</a></li>
				</ul>
			</div>
			<!-- box1 -->
			<div class="cd-n-lb-content-box" id="cd-n-lb-tab-01" style="display: block;">
				<div class="matches_list together-codi-list" id="referencesListContent">
					<ul class="clearfix slides">
						<li id="cmatchpid">

						</li>
					</ul>
				</div>
			</div>
			<!-- //box1 -->
		</div>

		<!--코디상품 end -->
	</div>
	
	<div class="clearfix mt30">
		<div class="float_right">
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" >
<a href='javascript:fnSharePin("http://www.thehandsome.com/ko/HANDSOME/WOMEN/Top/Shirts/%EC%8B%9C%EC%8A%A4%EB%A3%A8-%ED%8C%A8%EB%84%90-%EC%BA%A1-%EC%8A%AC%EB%A6%AC%EB%B8%8C-%EC%85%94%EC%B8%A0/p/IL2C5WSH942W_DN");' class="pinterest" onclick="GA_Event('상품 상세','공유_SNS','PRINTEREST');"></a>
<input type="hidden" id="url" value="http://www.thehandsome.com/ko/HANDSOME/WOMEN/Top/Shirts/%EC%8B%9C%EC%8A%A4%EB%A3%A8-%ED%8C%A8%EB%84%90-%EC%BA%A1-%EC%8A%AC%EB%A6%AC%EB%B8%8C-%EC%85%94%EC%B8%A0/p/IL2C5WSH942W_DN"/>
</div>
			</div>
	</div>
	<input type="hidden" id="viewExhibitionPageCode" value=""/>
	<input type="hidden" id="viewExhibitionPageName" value=""/>

    </div>
</div>
	<div class="product-detail-img">
		</div>
<div class="matches_items" id="productDetailEtc">
                <script type="text/javascript">
//<![CDATA[

$(document).ready(function(){
	var recommendtProductYn = false;
	
	
		$('#recommendItemsListContent').css('display', 'block'); 
		recommendtProductYn = true;
	
		if(recommendtProductYn == false) {
			$('#newItemsListContent').css('display', 'block');
			$(".halatest_pb > a").addClass('on');
		}
		recommendtProductYn = true;
	
	
	if(recommendtProductYn == false) {
		$("#productEctTab .halatest_pb").css('display', 'block'); 
		$("#productEctTab .halatest_pb > a").addClass('on');
	}
});

function onMouseOverRecommend() {
	$(".rmd_pb_popup").css('display', 'block');
}
function onMouseOutRecommend() {
	$(".rmd_pb_popup").css('display', 'none');
}


//]]>
</script>

</div>
        </div>
<style>
#delQnAFile {
    display: inline;
    position: absolute;
    top: 9px;
    right: 115px;
}

#textQnAFile {
    padding: 0 30px 0 6px;
    width: calc(100% - 24px);
    text-overflow: ellipsis;
}
</style>
				<a href="#;" class="btn_close" id="storePickupClose"><img src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기" /></a>
			</div>
</div>
</div>
</html>