<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/common}">
<div layout:fragment="content">
	<script type="text/javascript">
	function numWithComma(num) {
	  return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
	function getProductColor(pid,colorcode){
		var chtml = '<div class="color_more_wrap">';
		$.ajax({
			type: "get",
			url: "/product/color/" + pid + "/" + colorcode,
			dataType: "json",
			async: false,
			contentType: "application/json",
			error: function (request, status, error) {
				console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			},
			success: function (result) {
				if (result.length > 0) {
					for (var i = 0; i < result.length; i++) {
 						chtml += '<a class="beige" style="background:url('+result[i].ccolorimage+')" ></a>';
 						chtml += '  <span>&nbsp;</span>';
					}
				}
			}
		});
		chtml += '</div>';
		return chtml;
	}

	function getProductSize(pid, colorcode){
		var shtml = '<div id="' + pid + '_' + colorcode + '">';
		$.ajax({
			type: "get",
			url: "/product/size/" + pid + "/" + colorcode,
			dataType: "json",
			async: false,
			contentType: "application/json",
			error: function (request, status, error) {
				console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			},
			success: function (result) {
				if (result.length > 0) {
					for (var i = 0; i < result.length; i++) {
						shtml += '<span>'+ result[i].ssize +'</span>';
					}
				}
			}
		});
		shtml += '</div>';
		return shtml;
	}

	function getProductList() {
    var params = new URL(location).searchParams;
		var page = params.get("pageNum") ?? 1;
		var amount = params.get("amount") ?? 12;
		var url = location.pathname;
		var arr = url.split("/");
		var clarge = arr[2];
		var cmedium = arr[3];
		var csmall = arr[4];
		$.ajax({
			type: "get",
			url: "/product/list/" + clarge + "/" + cmedium + "/" + csmall + "?pageNum=" + page + "&amount=" + amount,
			dataType: "json",
			async: true,
			contentType: "application/json",
			error: function (request, status, error) {
				console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			},
			success: function (result) {
				var html = "";
				if (result.length > 0) {
					for (var i = 0; i < result.length; i++) {
						var c = getProductColor(result[i].pid,result[i].ccolorcode);
						var s = getProductSize(result[i].pid,result[i].ccolorcode);
						if (i==3 || i==7 || i==11){
							html += '<li class="mr1m">'
						} else {
							html += '<li>'
						}
						html += '<div class="item_box">';
						html += '   <a href="/detail/' + result[i].pid + '_' + result[i].ccolorcode + '" class="item_info1">';
						html += '      <span class="item_img">';
						html += '         <img src=' + result[i].cimage1 + ' id="T01_IMG_' +i+'" alt="' + result[i].pname + '" targetcode=' + result[i].pid + '_' + result[i].ccolorcode +' class="respon_image" onerror="this.src=' + '"http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img3.jpg">';
						html += '         <img src=' + result[i].cimage2 + ' id="T02_IMG_' +i+'" alt="' + result[i].pname + '" targetcode=' + result[i].pid + '_' + result[i].ccolorcode +' class="respon_image on" onerror="this.src=' + '"http://cdn.thehandsome.com/_ui/desktop/common/images/products/no_img3.jpg" style="display: none; opacity: 1;">';
						html += '            <input type="hidden" id="newImage1_' +i+'" value="' + result[i].cimage1 + '">';
						html += '            <input type="hidden" id="newImage2_' +i+'" value="' + result[i].cimage2 + '">';
						html += '      </span>';
						html += '      <span class="item_size" id="itemsize_' +i+'" style="display: none; height: 20px; padding-top: 15px; margin-top: 0px; padding-bottom: 15px; margin-bottom: 0px;">';
						html += s;
						html += '      </span>';
						html += '      </a>';
						html += '      <a href="/detail/' + result[i].pid + '_' + result[i].ccolorcode +'" class="item_info2">';
						html += '      		<span class="brand">' + result[i].bname + '</span>';
						html += '      		<span class="title">' + result[i].pname + '</span>';
						html += '      		<span class="price">'
						html += '               <span id="price_'+ result[i].pid + '_' + result[i].ccolorcode +'">';
						html += '           		<span>₩' + numWithComma(result[i].pprice) + '</span>';
						html += ' 				</span>'
						html += '      		</span>';
						html += '      		<span class="flag">';
						html += '      				<span class="product">NEW</span>';
						html += '      		</span>';
						html += '      </a>';
						html += c
						html += '   </div>';
						html += '</li>';
					}
					$("#listBody").html(html);
				} else {
					$("#listBody").html(html);
				}
			}
		});
	}
		getProductList();
//]]>
	</script>
	<!-- bodyWrap -->
	<div id="bodyWrap" class="products">
		<!--title-->
		<!-- #1141 - 카테고리 개편(카테고리/브랜드 Navigation) -->
		<h3 class="cnts_title ou1804">
			<span>
				<!-- 정상 브랜드 카테고리 목록 --> <a href="/list/${clarge}/${cmedium}/${csmall}"
					onclick="GA_Event('카테고리_리스트','카테고리','여성')"> [[${clarge}]]</a> <img
					src="http://cdn.thehandsome.com/_ui/desktop/common/images/products/ou_location_arr.png" alt="location arr"> <a
					href="/ko/c/WE01/" onclick="GA_Event('카테고리_리스트','카테고리','탑')"> [[${cmedium}]]</a> <img
					src="http://cdn.thehandsome.com/_ui/desktop/common/images/products/ou_location_arr.png" alt="location arr"> <a
					href="javascript:void(0);" onclick="GA_Event('카테고리_리스트','카테고리','티셔츠')"> [[${csmall}]]</a>
			</span>
		</h3>
		<!--  카테고리 개편 아울렛 -->
		<!--//title-->
		<div class="adaptive_wrap">
				<!-- sort wrap -->
				<div class="filterWrap hsDelivery1902">
					<ul class="clearfix float_left">
						<!-- 정상용 브랜드 검색 -->
						<li class="brand" style="visibility:hidden;"><a href="javascript:void(0);" class="select"
								onclick="GA_Event('카테고리_리스트','정렬','브랜드');">브랜드<span class="ico_arr">arrow</span></a>
						</li>
						<li class="color" style="visibility:hidden;"><a href="#" class="select" onclick="GA_Event('카테고리_리스트','정렬','색상');">색상<span
									class="ico_arr">arrow</span></a>
						</li>
						<li class="size" style="visibility:hidden;"><a href="#" class="select" onclick="GA_Event('카테고리_리스트','정렬','사이즈')">사이즈<span
									class="ico_arr">arrow</span></a>
						</li>
						<li class="price" style="visibility:hidden;"><a href="#" class="select" onclick="GA_Event('카테고리_리스트','정렬','가격');">가격<span
									class="ico_arr">arrow</span></a>
						</li>

						<li class="sortby" style="visibility:hidden;"><a href="#" class="select" onclick="GA_Event('카테고리_리스트','정렬','정렬순');">정렬순<span
									class="current">신상품</span><span class="ico_arr">arrow</span></a>
						</li>
					</ul>
					<div class="items_count float_right">
						<span class="num">[[${pageMaker.total}]]</span> <span>전체</span>
					</div>
				</div>
			<div class="items_list cate_item4" id="listContent" style="display: block;">
				<ul class="clearfix" id="listBody" style="display: block;">
				</ul>
			</div>
			</body>
			<div class="paging" style="display: block;">
				 
				<span th:if="${pageMaker.prev}" class="num">
					<a href="#" th:href="@{?pageNum={prevPage}(prevPage=${pageMaker.startPage}-1)}" class="prev">Previous</a>
				</span>
				<span class="num">
					<th:block th:each="p:${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
						<span th:if="${pageMaker.startPage}+${pStat.index} <= ${pageMaker.endPage}">
							<a th:href="@{?pageNum={nowPage}(nowPage=${pageMaker.startPage}+${pStat.index})}" class="pageBtn">[[${pageMaker.startPage}+${pStat.index}]]</a>
						</span>
					</th:block>
				</span>

				<span th:if="${pageMaker.next}" class="num">
					<a href="#" th:href="@{?pageNum={nextPage}(nextPage=${pageMaker.endPage}+1)}" class="next">Next</a>
				</span>
			</div>
			<form id='actionForm' action="/list" method='get'>
				<input type='hidden' name='pageNum' value='${pageMaker.cri.pageNum}'>
				<input type='hidden' name='amount' value='${pageMaker.cri.amount}'>
			</form>
			<div class="sh_result none" id="searchResult_None" style="display: none;">조건에 맞는 상품 정보가 없습니다.</div>
		</div>
	</div>
</div>
</html>