<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<head>
	<title>마이페이지 | 주문조회</title>
</head>
<div layout:fragment="content">
<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	$(document).on("click", '.btn', function () {
	    var prodid = $(this).prop('id').split("_");

	    if (prodid[0] == 'optCancelLayer') {
	        $(this).parents('.basket_info').slideUp('fast');
	    }
	});
	$(document).on("click", '.btn_option', function () {
        //옵션변경 클릭시 모든 하위 레이어 닫기
        $("[class^=store_info]").css("display", "none");
        var checkIdx = $(".btn_option").index(this);
        $(".basket_info").each(function (idx) {
            if (idx != checkIdx) {
                $(this).css("display", "none");
            }
        });

        if ($(this).parents("tr").next("tr").find(".basket_info").prop('style') == 'display: block;') {
            return;
        }
	});
	$(document).ready(function () {
		let rank = [[${membergno}]];
		let grade = '', rate;
		if (rank === 1) grade ='FRIEND', rate = 5;
		else if (rank === 2) grade = 'CREW', rate = 6;
		else if (rank === 3) grade = 'MANIA', rate = 7;
		else if (rank === 4) grade = 'STAR', rate = 8;
		else grade = 'THESTAR', rate = 5;
		$("#mrank").html(grade);
		
	    const hpoint = numWithComma([[${memberpoint}]]);
        var hhtml = `<br><a class="count" href="javascript:void(0)" onclick="GA_Event('마이페이지','회원정보','H.POINT');"><span>`+hpoint+`P</span></a>`;
        document.getElementById("hpoint").innerHTML += hhtml;
		const memail = "[[${member.memail}]]";
		let o_arr = []; /* 주문(번호) 개수. 중복제거 */
		let cnt = []; /* 주문 번호에 해당하는 상품 개수 조회 위한 주문 번호 저장 배열 */
		let tot; /* 외 n-1 건 */
		$.ajax({
            type: "get",
            url: "/mypage/" + memail,
            dataType: "json",
            async: false,
            contentType: "application/json",
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            },
            success: function (result) {
            	let ohtml = '';
            	let list_cnt = []; /* 주문 번호 저장 배열. 반복문 돌때마다 앞에서부터 요소 하나씩 제거용 */
                if (result.length > 0) {
                	for (let i = 0; i<result.length;i++){
                		cnt.push(result[i].oid);
                		list_cnt.push(result[i].oid);
                	}
                    for (var i = 0; i < result.length; i++) {
                        	let pid = result[i].pid;
                        	let ccode = result[i].ccolorcode;
                        	let p_price = '₩'+numWithComma(result[i].pprice * result[i].qty);
                        if (!o_arr.includes(result[i].oid)){
                        	list_cnt.shift();
                        	tot = cnt.filter(element => result[i].oid === element).length;
                        	o_arr.push(result[i].oid);
                        	let status;
                        	if (result[i].ostatus === 1){
                        		status = '결제 완료';
                        	} else if (result[i].ostatus === 2){
                        		status = '주문 취소';
                        	} else if (result[i].ostatus === 3){
                        		status = '배송 준비중'
                        	} else if (result[i].ostatus === 4){
                        		status = '배송 완료'
                        	}
                        	let tprice = '₩ '+numWithComma(result[i].oprice);
                        	let discounted = '(-' + rate + '% ' + numWithComma(result[i].odiscounted) + ')';
                            let usedpoint = '( -'+numWithComma(result[i].ousedpoint)+' P )';
                            let realprice = '₩ ' + numWithComma(result[i].oprice - result[i].odiscounted - result[i].ousedpoint);
                            let rprice = result[i].oprice - result[i].ousedpoint - result[i].odiscounted;
                        	let point = numWithComma(Math.ceil(rprice*0.05));
                        	ohtml += `<tr>
                        			<td class="al_middle">
                        				${result[i].oid}
                        			</td>
                       				<td class='pt_list_wrap'>
		                                <div class="pt_list_all">
		                                <a href="/detail/${pid}_${ccode}"
		                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
		                                <img src="${result[i].cimage1}" alt="" onclick="location.href='/detail/${pid}_${ccode}" style="position:absolute;width:98px;height:98px;"/>
		                                </a>
		                                <div class="tlt_wrap">
		                                <a href="/detail/${pid}_${ccode}" class="basket_tlt"
		                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
		                                <span class="tlt">${result[i].bname}</span>
		                                <span class="sb_tlt" id="${i}" style="white-space:normal;">
		                                `
	                                if (tot == 1) ohtml += `${result[i].pname}</span>`;
	                                else  ohtml += `${result[i].pname} <strong>외 ${tot-1}건</strong></span>`;
	                                
		                            ohtml+=`</a>
		                                <p class="color_op">
		                                color : ${result[i].ccolorcode}<span class="and_line">/</span>
		                                size : ${result[i].ssize} <br>
		                                주문날짜 : ${result[i].odate}</p>
		                                <div class="option_wrap">
			                                <a href="#none" class="btn_option" id="optOpenLayer^${i}^${pid}_${ccode}"
			                                onclick="GA_Event('주문내역','상세보기', '${result[i].pname}')">상세보기</a>
		                                </div>
		                                </div>
		                                </div>
		                                <!-- //od_list_all-->
	                                </td>
	                                <td class="al_middle">
	                                	${tot}
	                                </td>
	                                <td class="al_middle">
	                                	<span style="font-size: 11px; color:#999">${tprice}</span><br>
	                                	<span style="font-size: 8px; color:lightslategrey;">${discounted}</span><br>
                                        <span style="font-size: 8px; color:#c69c6d;">${usedpoint}</span><br><br>
                                        <span><strong>${realprice}</strong></span>
	                                </td>
	                                <td class="al_middle">
	                                ${status} <br>`
                                if(result[i].ostatus === 1) {	
                                	ohtml += `<button onclick="cancelOrder(${result[i].oid});GA_Event('주문내역','주문취소','${result[i].pname}');" class="btn gray_ss">주문취소</button>`
                                }        
                              	 	ohtml += `</td>
                        			<td class="al_middle">
                        				${point} P
                        			</td>
                       			</tr>
                       			<tr>
                        		<td colspan="6" class="basket_wrap">
                        	    <div class="basket_info" style="display: none;">
                        	        <span class="btn_arr">위치아이콘</span>
                        	        <div class="info">
                        	            <!-- Products -->
                        	            <div class="pt_list_all">
		                                <a href="/detail/${pid}_${ccode}"
		                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
		                                <img src="${result[i].cimage1}" alt="" onclick="location.href='/detail/${pid}_${ccode}" style="position:absolute;width:98px;height:98px;"/>
		                                </a>
		                                <div class="tlt_wrap">
		                                <a href="/detail/${pid}_${ccode}" class="basket_tlt"
		                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
		                                <span class="tlt">${result[i].bname}</span><br>
		                                <span class="sb_tlt" id="${i}" style="width:350px; max-width:350px; white-space:normal;">
		                                ${result[i].pname}</span>
		                                </a>

		                                <p class="color_op">

		                                color : ${result[i].ccolorcode}<span class="and_line">/</span>
		                                size : ${result[i].ssize}<span class="and_line">/</span>
		                                구매 수량 : ${result[i].qty}<span class="and_line">/</span>
		                                상품 가격 : ${p_price}</p>
		                                </div>
		                                </div>
                        	            <!-- //Products -->
                        	            <!-- btn -->
                    	                <a href="#none" class="btn_close" id="optCloseLayer_1">닫기</a>
                    	            </div>
                    	            <!-- //btns -->
                       			`;
                        } else{
                        	list_cnt.shift();
                        	/* 각 주문 건(번호)에 속해있는 상품 목록 보이게 */
                        	ohtml += `	<div class="info">
		                        	            <div class="pt_list_all">
					                                <a href="/detail/${pid}_${ccode}"
					                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
					                                <img src="${result[i].cimage1}" alt="" onclick="location.href='/detail/${pid}_${ccode}" style="position:absolute;width:98px;height:98px;"/>
					                                </a>
					                                <div class="tlt_wrap">
					                                <a href="/detail/${pid}_${ccode}" class="basket_tlt"
					                                onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('주문내역','상품','${result[i].pname}');">
					                                <span class="tlt">${result[i].bname}</span><br>
					                                <span class="sb_tlt" id="${i}" style="width:350px; max-width:350px;white-space:normal;">
					                                ${result[i].pname}</span>
					                                </a>
					                                <p class="color_op">

					                                color : ${result[i].ccolorcode}<span class="and_line">/</span>
					                                size : ${result[i].ssize}<span class="and_line">/</span>
					                                구매 수량 : ${result[i].qty}<span class="and_line">/</span>
					                                상품 가격 : ${p_price}</p>
					                                </div>
					                                </div>
			                        	            <!-- //Products -->
		                        	            </div>`;
                      		if(!list_cnt.includes(result[i].oid)){
                      			ohtml += `           </div>
				                        	    </div> <!-- //Info -->
				                        	</td>
		                               	 </tr>`;
                          	}
                        }
                    }
                  $("#ocount").html(o_arr.length+' 건');
                } else{ /* 주문 기록이 없을 때 */
                	ohtml = `<tr>
                				<td colspan="6" class="no_data">주문내역이 없습니다.</td>
                			</tr>`;
                }
                $('#listBody').html(ohtml);
           }
		})
	})
	
	function cancelOrder(oid) {
		var lc = new layerConfirm('주문을 취소하시겠습니까? 구매시 적립된 포인트가 차감됩니다.', '확인', '취소');
        lc.confirmAction = function(){
        	$.ajax({
                url: "/mypage/cancel/"+oid,
                method: "put",
                /* data: JSON.stringify(data), */
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                 },
                cache: false,
                success: function (result) {
	                var la = new layerAlert(result);
	                la.confirmAction = function(){
						location.href = "/mypage";	                	
	                }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        };

        }
</script>
<div id="bodyWrap">
    <h3 class="cnts_title">
        <span id="menuTitle">마이페이지</span>
    </h3>
    <div class="" style="position: relative; width: 834px; height: 0; display: block; left: 50%; margin-left: -338px;">
        <div class="delch_box tooltip1907" id="store_delbox" style="display: none;">
            <span class="arr">위치아이콘</span> 작성 가능한 상품평 확인하시고,<br />
            상품평 작성해서 추가 마일리지 적립하세요.
        </div>
    </div>
    <div class="sub_container">
        <!-- lnb -->
        <div class="lnb_wrap">
            <h4>
                <a href="/mypage">마이페이지<!-- 마이페이지 --></a>
            </h4>
            <div class="lnb">
                <dl>
                    <dt>주문조회</dt>
                    <dd>
                        <a href="javascript:void(0)" onclick="GA_Event('마이페이지','LNB','주문/배송/취소');">주문/배송/취소</a>
                    </dd>
                </dl>
                <dl>
                    <dt>혜택관리</dt>
                    <dd>
                        <a href="/mypage/grade" onclick="GA_Event('마이페이지','LNB','나의 회원 등급');">나의 회원 등급</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 정보관리</dt>
                    <dd th:if="${from_social} == 0">
                        <a href="/mypage/personInformationChange" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보 변경/탈퇴</a>
                    </dd>
                    <dd th:unless="${from_social} == 0">
                        <a href="/mypage/modifyPage" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보 변경/탈퇴</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 활동관리</dt>
                    <!-- <dd><a href="#">회원등급</a></dd> -->
                    <dd>
                        <a href="/mypage/qna" onclick="GA_Event('마이페이지','LNB','1:1 문의');">1:1 문의</a>
                    </dd>
                    <!-- <dd><a href="#">이벤트 참여현황</a></dd> -->
                </dl>
            </div>
            <!-- ph_guide -->
            <div class="ph_guide">
                <p class="tlt">고객센터 운영 안내</p>
                <p class="phone" style="font-size:18px;">1800-5700<span style="color: #c69c6d;" class="txt"><br>(유료)</span></p>
                <p class="txt">
                    평일(월~금)<br />
                    am 09:00 ~ pm 18:00<span>토/일, 공휴일 휴무</span>
                </p>
                <a href="mailto:shophelp@GKMCC.com" onclick="GA_Event('마이페이지','LNB','이메일 문의');">
                    shophelp<br />
                    @thehandsome.com
                </a>
            </div>
            <!-- //ph_guide -->
        </div>
        <!-- //lnb -->
        <!-- cnts -->
        <div class="sub_cnts">
            <div class="profile_info1 clearfix review_betterment1905">
                <div class="name">
                    <span th:text="${membername}+ 님" class="ico_grade"><span style="margin-left: 10px;"></span></span> <span class="grade_txt" id="grade_txt"></span>
                </div>
                <div class="pointbox_cover">
                    <div class="point_wrap">
                        <!-- <div class="point" style="border-left: 0; padding-left: 0;">
                            <p class="title">한섬마일리지</p>
                            <a class="count" href="/ko/mypage/mypoint" onclick="GA_Event('마이페이지','회원정보','한섬마일리지');">0&nbsp;<span>M</span></a>
                        </div> -->
                        <div class="point">
                            <p class="title" id="hpoint">H.POINT</p>
                        </div>
                        <div class="point">
                            <p class="title">회원 등급</p>
                            <a class="count" href="/mypage/grade" onclick="GA_Event('마이페이지','회원정보','RANK');" id="mrank"></a>
                        </div>
                        <div class="point review">
                            <p class="title">총 주문</p>
                            <a href="javascript:void(0)" class="count" id="ocount" onclick="GA_Event('마이페이지','회원정보','총 주문조회');"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 최근주문 -->
            <div class="title_wrap">
                <h4 class="float_left">
                    최근주문&nbsp;
                    <!-- 최근주문 -->
                </h4>
            </div>
            <!-- table -->
            <div class="tblwrap lncl1812">
                <!-- 클래스추가 181204 -->
                <table class="tbl_ltype review_betterment1905">
                    <caption>
                        상품평 리스트
                    </caption>
                    <colgroup class="interval1812">
                        <!-- 수정 181204 -->
                        <col style="width: 120px;" />
                        <col />
                        <col style="width: 42px;" />
                        <col style="width: 107px;" />
                        <col style="width: 108px;" />
                        <col style="width: 96px;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">주문번호<!-- 주문번호 --></th>
                            <th scope="col">상품정보<!-- 상품정보 --></th>
                            <th scope="col" style="padding: 15px 0;">수량<!-- 수량 --></th>
                            <!-- 스타일추가 181204 -->
                            <th scope="col">결제금액<!-- 판매가 --></th>
                            <th scope="col">주문상태<!-- 주문상태 --></th>
                            <th scope="col">적립 포인트<!-- 포인트 --></th>
                        </tr>
                    </thead>
                    <tbody id="listBody">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //cnts -->
    </div>
</div>
</body>
</div>
</html>