<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<head>
	<title>비밀번호 확인</title>
</head>
<div layout:fragment="content">
<body>
<div id="bodyWrap">
	<h3 class="cnts_title">
		<span id="menuTitle"></span>
	</h3>
	<div class="sub_container">
		<!-- lnb -->
		<div class="lnb_wrap">
            <h4>
                <a href="/mypage">마이페이지<!-- 마이페이지 --></a>
            </h4>
            <div class="lnb">
                <dl>
                    <dt>주문조회</dt>
                    <dd>
                        <a href="javascript:void(0)" onclick="GA_Event('마이페이지','LNB','주문/배송/취소');">주문/배송/취소</a>
                    </dd>
                </dl>
                <dl>
                    <dt>혜택관리</dt>
                    <dd>
                        <a href="/mypage/grade" onclick="GA_Event('마이페이지','LNB','나의 회원 등급');">나의 회원 등급</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 정보관리</dt>
                    <dd th:if="${#authentication.principal.fromSocial} == 1">
                        <a href="/mypage/modifyPage" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보 변경/탈퇴</a>
                    </dd>
                    <dd th:unless="${#authentication.principal.fromSocial} == 1">
                        <a href="/mypage/personInformationChange" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보 변경/탈퇴</a>
                    </dd>
                </dl>
                <dl>
                    <dt>나의 활동관리</dt>
                    <!-- <dd><a href="#">회원등급</a></dd> -->
                    <dd>
                        <a href="/mypage/qna" onclick="GA_Event('마이페이지','LNB','1:1 문의');">1:1 문의</a>
                    </dd>
                    <!-- <dd><a href="#">이벤트 참여현황</a></dd> -->
                </dl>
            </div>
            <!-- ph_guide -->
            <div class="ph_guide">
                <p class="tlt">고객센터 운영 안내</p>
                <p class="phone" style="font-size:18px;">1800-5700<span style="color: #c69c6d;" class="txt"><br>(유료)</span></p>
                <p class="txt">
                    평일(월~금)<br />
                    am 09:00 ~ pm 18:00<span>토/일, 공휴일 휴무</span>
                </p>
                <a href="mailto:shophelp@thehandsome.com">
                    shophelp<br />
                    @thehandsome.com
                </a>
            </div>
            <!-- //ph_guide -->
        </div>
		<!-- //lnb -->
		<!-- cnts -->
		<div class="sub_cnts">
			
			
			<script type="text/javascript" src="/_ui/desktop/common/js/jquery-1.11.2.min.js"></script>

<script th:inline="javascript">
//<![CDATA[ 
$(document).ready(function(){
	
	$("#menuTitle").text("개인정보 변경 / 탈퇴");
	
	capsLockCheck('j_password');
	
	$("#login_btn").click(function(){
		//var header = $("meta[name='_csrf_header']").attr('content');
		//var token = $("meta[name='_csrf']").attr('content');
		console.log(getYCsrfToken());
		console.log(getCsrfHeaderName());
		var vc = new ValidationCheck();
		vc.checkIdList = ['j_username', 'j_password'];
		if(vc.isValid()){
			
		    var pw = $("#j_password").val();
		    //var realpw = [[${mpassword}]];
		    
		    //console.log("jewfjefbjefwbjkefbjkefbw: ", realpw);            
		    
		    $.ajax({
				type:'POST',
				url:'/mypage/passwordCheck',
				dataType: 'JSON',
    			contentType : "application/json",
				data:JSON.stringify({
					"mpassword":pw,
					"CSRFToken": getYCsrfToken()
				}),
				beforeSend: function(xhr){
			        xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
			    },
				success:function(response){
					console.log(response.mpassword)
					if(response){
					    location.href = '/mypage/modifyPage';
					}else{
						$('#errMsg').html('입력하신 비밀번호가 일치하지 않습니다.');
						//alert('wrong password');
					    //location.href="/mypage/personInfomationChange?error";
					}
				},
				error:function(e){
					console.log(e);
				}
			});
		}
		
	});
	
	$("#cancle_btn").click(function(){
		location.href="/ko/mypage/order/myorders";
	});
	
	$("#j_password").keypress(function( event ) {
		if ( event.which == 13 ) {
			event.preventDefault();
			$("#login_btn").click();
			$(this).blur();
		}
	});
	
});
//]]>
</script>
	<form id="personInfomationChangePage" name="manToManInquiryForm" method="post"><input type="hidden" name="directInto" value="NO">
	<div>
	
<!--yoooooooooooooooooooooooliiiiiiiiiiiiiiiiiiiiiiiim -->
<input type="hidden" name="CSRFToken" value="${_csrf.token}" />
</div></form><div class="title_wrap mt30">
		<h4 class="float_left">비밀번호 재확인</h4>
		<p class="txt_line">고객님의 정보보호를 위하여 비밀번호를 다시 한번 확인합니다.</p>
	</div>

    <!-- pw reaffirm -->
    <div class="pw_reaffirm">
        <form>
            <fieldset>
                <legend>입력항목</legend>
                <div class="login_section">
                    
                    <div>
                        <div>
                            <label for="j_username">아이디</label>
                            <input type="text" id="j_username" name="j_username" th:value="${memail}" disabled="disabled" />                          
                        </div>
                        <div>
                            <label for="j_password">비밀번호</label>
                            <input type="password" id="j_password" name="j_password" title="비밀번호"/>
                        </div>
                    </div>
                    <p id="errMsg" class="guide_comment ml50"></p>
                </div>
            </fieldset>
        </form>
    </div>
    <!— //pw reaffirm —>

	<!— btn_btwrap —>
	<div class="btnwrap mypage2">
		<a href="/mypage" class="btn wt" id="cancel_btn">취소</a>
		<a href="javascript:void(0);" class="btn gray" id="login_btn">확인</a>
	</div>
</div>
		<!— //cnts —>
	</div>
</div>

</body>
</div>
</html>