<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<head>
    <title>1:1 문의 작성</title>
</head>
<div layout:fragment="content">
    <script type="text/javascript">
        var formData = new FormData();
        $("input[type='file']").on("change", function (e) {

            let fileInput = $('input[name="uploadFile"]');
            let fileList = fileInput[0].files;
            let fileObj = fileList[0];

            if (!fileCheck(fileObj.name, fileObj.size)) {
                return false;
            }
            /* console.log($('input[name="uploadFile"]')); */
            $("#textManToManFile").val($('input[name="uploadFile"]').val());
            /* console.log($("#textManToManFile").val()); */
            formData.append("uploadFile", fileObj);
        });

        function updateQna() {
            console.log($("#largeClassificationCode").val());
            var data = {
                qid : "[[${qnaAttribute.qid}]]",
                qtitle: $("#qtitle").val(),
                qcontent: $("#qcontent").val(),
                qkind: $("#largeClassificationCode").val(),
                qimage : $("#qimageold").val()
            }
            if (data.qtitle == "") {
                var la = new layerAlert('제목을 입력해주세요.');
                return;
            }
            if (data.qcontent == "") {
                var la = new layerAlert('내용을 입력해주세요.');
                return;
            }
            var fileInput = $('#qimage');
            console.log(fileInput);
            formData.append("qimage", fileInput[0].files[0]);
            formData.append('key', new Blob([JSON.stringify(data)], {type: "application/json"}));
            console.log(data);

            $.ajax({
                url: "/mypage/qna",
                method: "put",
                data: formData,
                contentType: false,               // * 중요 *
                processData: false,               // * 중요 *
                enctype: 'multipart/form-data',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
                },
                cache: false,
                success: function (data) {
                    /// alert 창 띄워주기
                    location.href = "/mypage/qna";
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        $(document).ready(function () {
            console.log("[[${qnaAttribute}]]");
            $("#qtitle").val("[[${qnaAttribute.qtitle}]]");
            $("#qcontent").val("[[${qnaAttribute.qcontent}]]");
            $("#qtitle").val("[[${qnaAttribute.qtitle}]]");
            console.log("[[${qnaAttribute.qkind}]]");
            document.getElementById("largeClassificationCode").value = "[[${qnaAttribute.qkind}]]";
            $("#qimageold").val("[[${qnaAttribute.qimage}]]");
            $("#qemail").text("[[${qnaAttribute.qemail}]]");
        });
    </script>
    <!-- bodyWrap -->
    <div id="bodyWrap">
        <h3 class="cnts_title">
            <span>1:1 문의 하기</span>
        </h3>
        <div class="sub_container clearfix">
            <!-- lnbWrap -->
            <div class="iframe_lnb">
                <div class="lnb_wrap">
                    <h4>
                        <a href="/svcenter/submain">고객센터<!-- 고객센터 --></a>
                    </h4>
                    <div class="lnb">
                        <dl>
                            <dt>주문조회</dt>
                            <dd>
                                <a href="javascript:void(0)" onclick="GA_Event('마이페이지','LNB','주문/배송/취소');">주문/배송/취소</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>혜택관리</dt>
                            <dd>
                                <a href="/mypage/grade" onclick="GA_Event('마이페이지','LNB','나의 회원 등급');">나의 회원 등급</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>나의 정보관리</dt>
                            <dd>
                                <a href="/mypage/personInformationChange" onclick="GA_Event('마이페이지','LNB','개인정보 변경/탈퇴');">개인정보 변경/탈퇴</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>나의 활동관리</dt>
                            <!-- <dd><a href="#">회원등급</a></dd> -->
                            <dd>
                                <a href="/mypage/qna" onclick="GA_Event('마이페이지','LNB','1:1 문의');">1:1 문의</a>
                            </dd>
                            <!-- <dd><a href="#">이벤트 참여현황</a></dd> -->
                        </dl>
                    </div>
                    <!-- ph_guide -->
                    <div class="ph_guide">
                        <p class="tlt">고객센터 운영 안내</p>
                        <p class="phone" style="font-size:18px;">1800-5700<span style="color: #c69c6d;" class="txt"><br>(유료)</span>
                        </p>
                        <p class="txt">
                            평일(월~금)<br/>
                            am 09:00 ~ pm 18:00<span>토/일, 공휴일 휴무</span>
                        </p>
                        <a href="mailto:shophelp@thehandsome.com">
                            shophelp<br/>
                            @thehandsome.com
                        </a>
                    </div>
                    <!-- //ph_guide -->
                </div>
            </div>
            <!-- //lnbWrap -->
            <div class="sub_cnts">
                <div class="title_wrap mt30 clearfix">
                    <h4 class="float_left">1:1 문의 수정</h4>
                    <p class="reqd_txt"><strong class="reqd">*</strong> 표시는 필수항목입니다.</p>
                </div>
                <!-- <form id="manToManInquiryForm" name="manToManInquiryForm" action="/ko/svcenter/mantomaninquiry?refererUrl=" method="post" enctype="multipart/form-data"><input type="hidden" id="orderPk" name="orderPk" /> -->
                <input type="hidden" id="orderPk" name="orderPk"/>
                <input type="hidden" id="pkInquiry" name="pkInquiry"/>
                <input type="hidden" id="mobilePhoneNumber" name="mobilePhoneNumber" value=""/>
                <input type="hidden" id="emailAddress" name="emailAddress" value=""/>
                <fieldset>
                    <legend>1:1 문의 입력</legend>
                    <div class="tblwrap">
                        <table class="tbl_wtype1">
                            <caption>
                                1:1 문의 입력
                            </caption>
                            <colgroup>
                                <col style="width: 140px;"/>
                                <col/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row"><strong class="reqd">*</strong>문의 항목</th>
                                <td class="storeQue">
                                    <p>더한섬닷컴 문의</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong class="reqd">*</strong>문의 종류</th>
                                <td>
                                    <select id="largeClassificationCode" name="largeClassificationCode" title="대분류 선택" style="width:160px">
                                        <option value="대분류">대분류</option>
                                        <option value="행사/이벤트">행사/이벤트</option>
                                        <option value="쿠폰/혜택문의">쿠폰/혜택문의</option>
                                        <option value="주문/확인취소">주문/확인취소</option>
                                        <option value="웨딩 프로모션">웨딩 프로모션</option>
                                        <option value="온라인수선">온라인수선</option>
                                        <option value="오프라인 문의">오프라인 문의</option>
                                        <option value="오에라 문의">오에라 문의</option>
                                        <option value="상품문의">상품문의</option>
                                        <option value="배송관련">배송관련</option>
                                        <option value="반품">반품</option>
                                        <option value="기프트카드문의">기프트카드문의</option>
                                        <option value="기타">기타</option>
                                        <option value="교환">교환</option>
                                        <option value="고객정보">고객정보</option>
                                        <option value="결제/환불문의">결제/환불문의</option>
                                        <option value="현대카드 레드바우처 문의">현대카드 레드바우처 문의</option>
                                        <option value="SYSTEM X BTS 문의">SYSTEM X BTS 문의</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong class="reqd">*</strong>문의제목</th>
                                <td>
                                    <input type="hidden" id="qid" name="qid"/>
                                    <input type="text" id="qtitle" name="qtitle" value=""
                                           title="문의제목" class="w_all"/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><strong class="reqd">*</strong>문의 내용<span
                                        class="com_txt_p">(2000자 이하)</span></th>
                                <td>
                                    <!-- textarea -->
                                    <textarea id="qcontent" name="qcontent" title="문의내용" cols="30" rows="10"></textarea>
                                    <!-- //textarea -->
                                </td>
                            </tr>
                            <!-- popup end -->

                            <tr>
                                <th scope="row" class="th_space">사진등록</th>
                                <td>
                                    <!-- File upload -->
                                    <div class="file_upload">
                                        <input type="text" id="qimageold" class="text" title="파일 첨부하기"
                                               readonly="readonly" name="fileText"/>
                                        <div class="upload_btn">
                                            <button type="button" id="uploadFile" class="img_upload" title="파일찾기"><span>파일찾기</span>
                                            </button>
                                            <input type="file" name="mantomanFile" id="qimage" class="btn add_s"
                                                   title="파일찾기"/>
                                        </div>
                                    </div>
                                    <p class="txt_guide">10MB 미만의 jpg,gif,png 파일만 첨부하실 수 있습니다.</p>
                                    <div class="select_img"><img src=""/></div>
                                    <!-- //File upload -->
                                    <script>
                                        // 첨부파일 미리보기
                                        $("#qimage").change(function() {
                                            if(this.files && this.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function(data) {
                                                    $(".select_img img").attr("src", data.target.result).width(500);
                                                }
                                                reader.readAsDataURL(this.files[0]);
                                            }
                                        });

                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">이메일 답변받기</th>
                                <td>
                                    <span id="qemail"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- btn -->
                    <div class="btnwrap">
                        <input type="button" id="cancleBtn" value="취소" class="btn wt"/>
                        <input type="button" id="registerBtn" value="등록" class="btn gray mr0" onclick="updateQna()"/>
                    </div>
                    <!-- //btn -->
                </fieldset>
                <div>
                    <input type="hidden" name="CSRFToken" value="b44478b9-4671-4b50-a76d-392ac8ea118d"/>
                </div>
                <ul class="bul_sty01_li mt60">
                    <li>
                        문의하신 내용에 대한 답변은 이메일 또는 <a href="/ko/mypage/mymantomaninquiry"><em class="ft_point01">마이페이지 &gt;
                        1:1 문의내역</em></a>에서 확인하실 수 있습니다.
                    </li>
                    <li>SMS 문자와 이메일로 답변 완료 알림을 받아보실 수 있습니다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>