<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: header('게시판')">
<meta charset="UTF-8">
<title>Insert title here</title>
  <!-- 
  /* 작성자 : 문혁, 김승환
 * 게시글 상세 페이지. 
 */
   -->
</head>
<body>
	<!-- 게시글 수정, 삭제 시 시큐리티 연동하여 권한 체크 함수 -->
	<script type="text/javascript">
	function modify(u_email, b_email, no, role){
		if(u_email==b_email || role == '[ROLE_ADMIN]'){
			location.href = "/board/update?no="+ no
		}
		if(u_email!=b_email && role != '[ROLE_ADMIN]'){
			alert("본인 게시물이 아닙니다.");
		}
	}
	function delete_board(u_email, b_email, no, role){
		if(u_email==b_email || role == '[ROLE_ADMIN]'){
			location.href = "/board/delete?no="+ no
		}
		if(u_email!=b_email && role != '[ROLE_ADMIN]'){
			alert("본인 게시물이 아닙니다.");
		}
	}
	</script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')"></nav>

	<h2 class="text-center">게시물 상세보기</h2> <br>
	<table border="2" class="table table-striped">
		<tr>
			<th style="width:200pt">글번호</th>
			<td th:text="${boardDTO.no}" />
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${boardDTO.title}" />
		</tr>
		<tr>
			<th>작성자</th>
			<td th:text="${boardDTO.email}" />
		</tr>
		<tr>
			<th>작성일</th>
			<td	th:text="${#calendars.format(boardDTO.regdate, 'yyyy-MM-dd HH:mm:ss')}" />
		</tr>
		<tr>
			<th>내용</th>
			<td th:text="${boardDTO.content}" />
		</tr>
		<tr >
			<table class="table table-striped">
			<th>첨부파일</th>
			<tr th:if="${not #lists.isEmpty(boardDTO.attachList)}" th:each="list, state: ${boardDTO.attachList}">
				<span>
				<a th:href="@{display(fileName=${list.folderPath}+'%5C'+${list.uuid}+'_'+${list.fileName})}"  />
					<img th:src="@{display(fileName=${list.folderPath}+'%5C'+${list.uuid}+'_'+${list.fileName})}" style="width:200px; height:200px; padding:10px; margin-left:50px"/>
				</a>
				</span>
			</tr>
			</table>
		</tr>
	</table>
	<br />
	<div class="text-right">
		<a type="button" class="btn btn-success" th:onclick = "modify([[${user.email}]], [[${boardDTO.email}]], [[${boardDTO.no}]], [[${user.role}]]);" th:text="수정" />
		<a type="button" class="btn btn-success" th:onclick = "delete_board([[${user.email}]], [[${boardDTO.email}]], [[${boardDTO.no}]], [[${user.role}]]);" th:text="삭제" />
		<a type="button" class="btn btn-success" th:href="@{/board/list?page=1}" th:text="목록" />
	</div>
	<footer th:replace="fragments/common :: footer"></footer>	
</body>
</html>
