<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<div layout:fragment="content">
    <script type="text/javascript">
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var color = [];
        var size = [];
        var res_obj, allchecked = false;
        var check_obj = [];
        var selected_price = 0, total_price = 0;

        function numWithComma(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function setOptionColor(obj, idx, c) {
            $(obj).parent().find("a").css("line-height", "18px");
            $(obj).addClass("on");
            $(obj).siblings("a").removeClass("on");
            $(obj).css("line-height", "15px")
            console.log(idx, c);
            color[idx] = c;
        }

        function setOptionSize(obj, idx, s) {
            $(obj).parent().find("a").css("line-height", "18px");
            $(obj).addClass("on");
            $(obj).siblings("a").removeClass("on");
            $(obj).css("line-height", "15px")
            console.log(idx, s);
            size[idx] = s;
        }

        function updateCart(idx) {
            console.log(res_obj[idx]);
            var data = {
                pid: res_obj[idx].pid,
                ccolorcode: res_obj[idx].ccolorcode,
                ssize: res_obj[idx].ssize,
                qty: res_obj[idx].qty,
                newcolorcode: color[idx],
                newsize: size[idx],
                newqty: res_obj[idx].qty
            }
            $.ajax({
                url: "/cart",
                method: "put",
                data: JSON.stringify(data),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                cache: false,
                success: function (data) {
                    var lc = new layerAlert('완료되었습니다.');
                    lc.confirmAction = function () {
                        location.href = "/cart";
                    };
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        function qtyUpdateCart(idx) {
            console.log(res_obj[idx]);
            var data = {
                pid: res_obj[idx].pid,
                ccolorcode: res_obj[idx].ccolorcode,
                ssize: res_obj[idx].ssize,
                qty: res_obj[idx].qty,
                newcolorcode: res_obj[idx].ccolorcode,
                newsize: res_obj[idx].ssize,
                newqty: $("#txtqty_" + idx).val()
            }
            $.ajax({
                url: "/cart",
                method: "put",
                data: JSON.stringify(data),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                cache: false,
                success: function (data) {
                    var lc = new layerAlert('완료되었습니다.');
                    lc.confirmAction = function () {
                        location.href = "/cart";
                    };
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        function getProductColor(idx, pid, colorcode) {
            var chtml = '<div class="color_more_wrap">';
            $.ajax({
                type: "get",
                url: "/product/color/" + pid + "/" + colorcode,
                dataType: "json",
                async: false,
                contentType: "application/json",
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                success: function (result) {
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var ccolorcode = "'" + result[i].ccolorcode + "'";
                            if (i == 0) {
                                chtml += `<a href="javascript:void(0);" onclick="setOptionColor(this, ${idx}, ${ccolorcode});"
                            class="beige on" style="background:#a2d6f3 url('${result[i].ccolorimage}')">${result[i].ccolorcode}</a>`;
                            } else {
                                chtml += `<a href="javascript:void(0);" onclick="setOptionColor(this, ${idx}, ${ccolorcode});"
                            class="beige" style="background:#a2d6f3 url('${result[i].ccolorimage}')">${result[i].ccolorcode}</a>`;
                            }
                        }
                    }
                }
            });
            chtml += '</div>';
            return chtml;
        }

        function getProductSize(idx, pid, colorcode) {
            var shtml = '<div id="' + pid + '_' + colorcode + '">';
            $.ajax({
                type: "get",
                url: "/product/size/" + pid + "/" + colorcode,
                dataType: "json",
                async: false,
                contentType: "application/json",
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                success: function (result) {
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var ssize = "'" + result[i].ssize + "'";
                            shtml += `<a href="javascript:void(0);" onClick="setOptionSize(this, ${idx}, ${ssize});" className="on"
                                        style="line-height: 15px;">${result[i].ssize}</a>`;
                        }
                    }
                }
            });
            shtml += '</div>';
            return shtml;
        }

        function deleteProduct(pid, ccolorcode, ssize) {
            var url = "/cart";
            var check = new layerAlert('해당 상품을 삭제하시겠습니까?');
            check.confirmAction = function () {
                $.ajax({
                    url: url,
                    method: "delete",
                    data: JSON.stringify({
                        pid: pid,
                        ccolorcode: ccolorcode,
                        ssize: ssize,
                    }),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    cache: false,
                    success: function (data) {
                        var lc = new layerAlert('완료되었습니다.');
                        lc.confirmAction = function () {
                            location.href = "/cart";
                        };
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });
            }
        }

        function fn_qtySubtraction(idx) {
            var qty = $("#txtqty_" + idx).val();
            if (qty < 2) {
                return;
            }

            //GA 이벤트 태깅
            GA_Event('상품_상세', '수량', '-');

            $("#txtqty_" + idx).val(parseInt(qty) - 1);
        }

        function fn_qtyAdd(idx) {
            var qty = parseInt($("#txtqty_" + idx).val());
            if (qty + 1 > 2) {
                $("#txtqty_" + idx).val("2");
                var la = new layerAlert('동일 상품(사이즈/컬러)은<br/>최대 2개까지 선택 가능합니다.');
                return;
            }
            /*if (qty >= stockCnt) {
                if("ko" == "ko"){
                    var la = new layerAlert("구매 가능한 재고 "+stockCnt+"개만 선택하실 수 있습니다.");
                }else{
                    var la = new layerAlert("재고가 부족합니다.");
                }
                return;
            }*/

            GA_Event('상품_상세', '수량', '+');

            $("#txtqty_" + idx).val(qty + 1);
        }

        //<![CDATA[
        var qtyLimitProductYnMap = {};
        $(document).ready(function () {
            // 장바구니 정보 가져오는 ajax 호출
            $.ajax({
                url: "/cart/list",
                type: "GET",
                dataType: "json",
                async: false,
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                success: function (result) {
                    res_obj = result;
                    console.log(result);
                    document.getElementById("total-cnt").innerHTML = '<span class="delt_ico"></span>택배(' + result.length + ')';
                    var str = ``;
                    for (var i = 0; i < result.length; i++) {
                        var obj = result[i];
                        var pid_ccode = result[i].pid + "_" + result[i].ccolorcode;
                        color[i] = result[i].ccolorcode;
                        size[i] = result[i].ssize;
                        total_price += parseInt(result[i].pprice) * result[i].qty;
                        str += `<tr name="entryProductInfo" data-pk="10687045664812" data-deliverykind=""
                   data-outofstock="false" data-category="ME011">
                   </tr><td class="frt">
                        <input type="checkbox" name="cartlist" data-pk="10687045664812" data-division="" data-deliverykind="" value="9" autocomplete="off">
                        </td>
                        <td class="pt_list_wrap">
                        <div class="pt_list_all">
                        <a href="/detail/${pid_ccode}"
                        onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('쇼핑백','상품','${result[i].pname}');">
                        <img src="${result[i].cimage1}" alt="" onclick="location.href='/detail/${pid_ccode}" />
                        </a>
                        <div class="tlt_wrap">
                        <a href="/detail/${pid_ccode}" class="basket_tlt"
                        onclick="javascript:setEcommerceData('0', 'Click ADD');GA_Event('쇼핑백','상품','${result[i].pname}');">
                        <span class="tlt">${result[i].bname}</span>
                        <span class="sb_tlt" id="${i}">
                        ${result[i].pname}</span>
                        </a>
                        <p class="color_op">
                        color : ${result[i].ccolorcode}<span class="and_line">/</span>
                        size : ${result[i].ssize}</p>
                        <div class="option_wrap">
                        <a href="#none" class="btn_option" id="optOpenLayer^9^TH2C3TRN644N_CR"
                        onclick="GA_Event('쇼핑백','옵션변경', '${result[i].pname}')">옵션변경</a>
                        </div>
                        </div>
                        </div>
                        </td>
                        <td class="al_middle">
                        <form id="!!!바꾸기"
                        data-cart="{&quot;cartCode&quot; : &quot;371497467&quot;,&quot;productPostPrice&quot;:&quot;155000.0&quot;,&quot;productName&quot;:&quot;[온라인 단독] 세미 오버핏 솔리드 티셔츠&quot;}"
                        action="/ko/shoppingbag/update" method="post">
                        <input type="hidden" name="entryNumber" value="${i}" />
                        <input type="hidden" name="productCode" value="${result[i].pid}" />
                        <input type="hidden" name="initialQuantity" value="${result[i].samount}" />
                        <input type="hidden" name="chgProductCode" value="" />
                        <input type="hidden" name="curSize" value="${result[i].ssize}" />
                        <input type="hidden" name="storeId" value="" />
                        <input type="hidden" name="storePickupDate" value="" />
                        <input type="hidden" name="deliveryKind" value="" />
                        <input type="hidden" name="cartDivision" value="" />
                        <span class="qty_sel num">
                        <a href="javascript:fn_qtySubtraction(${i});" class="left" >이전 버튼</a>
                        <input type="text" id="txtqty_${i}" title='수량' value="${result[i].qty}" class="mr0" readonly="readonly">
                        <a href="javascript:fn_qtyAdd(${i});" class="right" >다음 버튼</a>
                        </span>
                            <!-- //qty_sel -->
                        <a href="#none" onclick="qtyUpdateCart(${i})" class="btn wt_ss qty_w mr0">변경</a>
                        <div>
                        </div>
                        </form>
                        </td>
                        <td class="al_middle">
                            <!-- Price -->
                        <div class="price_wrap">
                        <span>` + numWithComma(result[i].pprice * result[i].qty) + `</span> <input type="hidden" name="checkZeroPrice"
                        value="${result[i].pprice}.0" />
                        </div> <!-- //Price -->
                        </td>
                        <td class="al_middle">
                        <span class="earn">5% (한섬마일리지)</span>
                        <br>
                        <span class="earn">0.1% (H.Point)</span>
                        </td>
                        <td class="al_middle">
                            <!-- Button size -->
                        <div class="btn_wrap">
                        <a href="#none" class="btn gray_ss"
                        onclick="callWishListClick('${result[i].pname}',$(this),'${result[i].pid}');" data-value="0">위시리스트</a>
                        <a href="javascript:deleteProduct('${result[i].pid}', '${result[i].ccolorcode}', '${result[i].ssize}');" id="RemoveProduct_${i}" class="btn wt_ss"
                        onclick="GA_Event('쇼핑백','삭제','${result[i].pname}');">삭제</a>
                        </div> <!-- //Button size -->
                        </td>
                        <tr>
                        <td colspan="6" class="basket_wrap">
                            <!-- Info -->
                            <!--  옵션변경 버튼 누를 시 나오는 상품 디테일 -->
                        <div class="basket_info">
                        <span class="btn_arr">위치아이콘</span>
                        <div class="info">
                            <!-- Products -->
                        <div class="pt_list" id="pt_list_${i}">
                        <a href="/detail/${pid_ccode}">
                        <img src="${result[i].cimage1}" alt="">
                        </a>
                        <div class="tlt_wrap">
                        <a href="/detail/${pid_ccode}" class="basket_tlt">
                        <span class="tlt">${result[i].bname}</span>
                        <span class="sb_tlt">${result[i].pname}</span>
                        </a>
                            <!-- color_size -->
                        <dl class="cs_wrap">
                        <dt>COLOR</dt>
                        <dd>
                        <div class="cl_select">`
                            + getProductColor(i, result[i].pid, result[i].ccolorcode) +
                            `<span class="cs_sel1807">${result[i].ccolorcode}</span>
                        </div>
                        </dd>
                        <dt>SIZE</dt>
                        <dd style="width: 90%; height: 100%">
                        <div class="sz_select">`
                            + getProductSize(i, result[i].pid, result[i].ccolorcode) +
                            `</div>
                        </dd>
                        </dl>
                        <!-- //color_size -->
                        </div>

                        </div>
                        <!-- //Products -->
                            <!-- btns -->
                        <div class="btns">
                        <a href="#none" class="btn wt_ss mr0" onclick="updateCart(${i})">변경</a>
                        <a href="#none" class="btn wt_ss mt10 mr0" id="optCancelLayer_${i}">취소</a>
                        <a href="#none" class="btn_close" id="optCloseLayer_${i}">닫기</a>
                        </div>
                        <!-- //btns -->
                        </div>
                        </div> <!-- //Info -->
                        </td>
                        </tr>
                        <tr>
                        <td colspan="6" class="basket_wrap">
                        </td>
                        </tr>`;
                    }
                    $("#cart-list").html(str);
                }
            });


            //GA 이벤트 태깅
            $(document).on('click', 'input:checkbox', function () {
                var isChecked = $(this).is(":checked");

                if ($(this).attr('id') == 'entryCheckAll') { // 전체선택시
                    if (isChecked) {
                        allchecked = true;
                        selected_price = total_price;
                        GA_Event('쇼핑백', '선택', '전체선택');
                        document.getElementById("cartDataSubtotal").innerText = "₩" + numWithComma(total_price);
                        document.getElementById("cartDataTotalPrice").innerText = "₩" + numWithComma(total_price);
                        for (var i = 0; i < res_obj.length; i++) check_obj[i] = true;
                    } else {
                        GA_Event('쇼핑백', '선택', '전체해제');
                        allchecked = false;
                        selected_price = 0;
                        document.getElementById("cartDataSubtotal").innerText = "₩ 0";
                        document.getElementById("cartDataTotalPrice").innerText = "₩ 0";
                        for (var i = 0; i < res_obj.length; i++) check_obj[i] = false;
                    }

                } else if ($(this).attr('name') == 'cartlist') { // 개별 선택시
                    var idx = parseInt($(this).parent().next().find('.sb_tlt').attr('id'));
                    if (allchecked) {
                        if (isChecked) {
                            check_obj[idx] = true;
                            selected_price += parseInt(res_obj[idx].pprice * res_obj[idx].qty);
                        } else {
                            check_obj[idx] = false;
                            selected_price -= parseInt(res_obj[idx].pprice * res_obj[idx].qty);
                        }
                    } else {
                        if (isChecked) {
                            check_obj[idx] = true;
                            selected_price += parseInt(res_obj[idx].pprice * res_obj[idx].qty);
                        } else {
                            check_obj[idx] = false;
                            selected_price -= parseInt(res_obj[idx].pprice * res_obj[idx].qty);
                        }
                    }
                    document.getElementById("cartDataSubtotal").innerText = "₩" + numWithComma(selected_price);
                    document.getElementById("cartDataTotalPrice").innerText = "₩" + numWithComma(selected_price);
                }
                for (var i = 0; i < res_obj.length; i++) console.log(check_obj[i]);
            });

            $(document).on("click", '.left', function () {

                var soldout = $(this).data("soldout");
                if (soldout == true) {
                    return false;
                }

                var qty = $(this).parents('.qty_sel').find('.mr0');

                if (qty.val() == 1) {
                    return;
                }
                qty.val(Number(qty.val()) - 1);
            });

            $(document).on("click", '.right', function () {
                var soldout = $(this).data("soldout");
                if (soldout == true) {
                    return false;
                }

                var qty = $(this).parents('.qty_sel').find('.mr0');

                var productCode = $(this).parents('form').find('input[name="productCode"]').val();

            });

            $(document).on("click", '.btn_option', function () {
                //옵션변경 클릭시 모든 하위 레이어 닫기
                $("[class^=store_info]").css("display", "none");
                var checkIdx = $(".btn_option").index(this);
                $(".basket_info").each(function (idx) {
                    if (idx != checkIdx) {
                        $(this).css("display", "none");
                    }
                });

                var prodid = $(this).prop('id').split("^");
                var curSize = $('#updateCartForm' + prodid[1]).find('input[name=curSize]').val();

                if ($(this).parents("tr").next("tr").find(".basket_info").prop('style') == 'display: block;') {
                    return;
                }
            });

            $(document).on("click", '.btn', function () {
                var prodid = $(this).prop('id').split("_");

                if (prodid[0] == 'optCancelLayer') {
                    $(this).parents('.basket_info').slideUp('fast');
                }

                if (prodid[0] == 'QuantityProduct') {
                    var form = $('#updateCartForm' + prodid[1]);
                    var productCode = form.find('input[name=productCode]').val();
                    var initialCartQuantity = form.find('input[name=initialQuantity]').val();
                    var newCartQuantity = form.find('input[name=quantity]').val();
                    var cartData = form.data("cart");


                    if (qtyLimitProductYnMap[productCode] == 'true' && parseInt(newCartQuantity) > 2) {
                        layerAlert('동일 상품(사이즈/컬러)은<br/>최대 2개까지 선택 가능합니다.');
                        return;
                    }
                }

                /* !!!!!!!!!!!!!!!!!!! */
            });


            $("#ce_tab li:eq(0) a").click();

            var widthLi = $(".rmd_pb_list .hidden_wrap").width() / 6;
            $(".productSlide li").css("padding", "0").css("width", "auto");
            $(".productSlide li img").css("width", "96%").css("padding", "0 2%");
            $(".hidden_wrap ul li").width(widthLi);
            $(".hidden_wrap ul li").css("margin-right", "0px");
            $(".rmd_pb_list ul").css("width", "1000%")

            $(document).on("click", ".prev", function () {
                slidPrev();
            });
            $(document).on("click", ".next", function () {
                slidNext();
            });

            var prevSelectEntry = ",";
            $(document).on("click", '#onlyFourPm', function () {

                var checked = $(this).prop("checked");
                var entryPkList = ",";

                $("tr[name='entryProductInfo']").each(function () {
                    if (checked == false) {
                        $($(this).find("input[type='checkbox']")).each(function () {

                            // 체크되있던거
                            var checkTempPk = "," + $(this).data("pk") + ",";
                            if (prevSelectEntry.indexOf(checkTempPk) > -1) {
                                $(this).prop("checked", true);
                            }
                        });

                        if ($(this).find("input[type='checkbox']").prop("checked") == true) {
                            entryPkList += $(this).data("pk");
                            entryPkList += ",";
                        }

                        $(this).show();
                    } else {
                        $($(this).find("input[type='checkbox']")).each(function () {
                            if ($(this).prop("checked") == true) {
                                prevSelectEntry += $(this).data("pk") + ","; // 체크되있던거
                            }
                        });

                        var deliveryKind = $(this).data("deliverykind");
                        if (deliveryKind == "FOUR_PM") {
                            if ($(this).find("input[type='checkbox']").prop("checked") == true) {
                                entryPkList += $(this).data("pk");
                                entryPkList += ",";
                            }
                        } else {
                            $($(this).find("input[type='checkbox']")).each(function () {
                                $(this).prop("checked", false);
                            });

                            var outofstock = $(this).data("outofstock");
                            if (outofstock == false) {
                                $(this).hide();
                            }
                        }
                    }
                });

                if (checked == false) {
                    prevSelectEntry = ","; // 초기화
                }

                //if(entryPkList != ",") {
                cartListCheckPrice(entryPkList, true);
                //}
            });


            $(document).on("click", "#entryCheckAll", function () {
                var eachName = $(this).val();
                eachName = "input[name=" + eachName + "]";

                var checkProp = $(this).prop("checked");
                var checkOnlyFourPm = $("#onlyFourPm").prop("checked");
                $(eachName).each(function () {

                    if (checkOnlyFourPm == true) {
                        var deliveryKind = $(this).data("deliverykind");
                        if (deliveryKind == "FOUR_PM") {
                            if ($(this).prop("disabled") == false) {
                                $(this).prop("checked", checkProp);
                            }
                        } else {

                        }
                    } else {
                        if ($(this).prop("disabled") == false) {
                            $(this).prop("checked", checkProp);
                        }
                    }

                });

                cartListCheckPrice(",", false);
            });

            $(document).on("click", "input[name='cartlist']", function () {
                var obj = this;
                var isCartListCheckPrice = true;
                if ($("input:checkbox[name='cartlist']:checked").length > 0) {
                    $("[class^=shopping_cart_tab]").find("[name=cartDivision]").each(function () {
                        if ($(this).attr("data-division") == "store") {
                            if ($(this).hasClass("active")) {
                                //매장수령일 경우 동일한 브랜드 and 매장 만 체크box 처리
                                var targetIdx = $("input[name='cartlist']").index(obj);
                                var targetBrand = $("input[name='cartlist']").eq(targetIdx).parent().next().find(".tlt_wrap > a > span:eq(0)").html();
                                var targetStore = $("input[name='cartlist']").eq(targetIdx).parent().next().find(".storepick_opt_wrap .info").html();
                                $("input:checkbox[name='cartlist']").each(function (idx) {
                                    if (targetIdx != idx) {
                                        var tempBrand = $(this).parent().next().find(".tlt_wrap > a > span:eq(0)").html();
                                        var tempStore = $(this).parent().next().find(".storepick_opt_wrap .info").html();

                                        if (targetBrand != tempBrand || targetStore != tempStore) {
                                            $(this).prop("disabled", true);
                                        }
                                    }
                                });
                            }
                        } else if ($(this).attr("data-division") == "athome") {
                            if ($(this).hasClass("active")) {
                                if ($("input:checkbox[name='cartlist']:checked").length > 3) {
                                    layerAlert('앳홈은 3개 상품 까지만 주문이 가능합니다.');
                                    isCartListCheckPrice = false;
                                }
                            }
                        }
                    });
                } else {
                    if ($("#ordersheetCartDivision").val() != "") {
                        $("input:checkbox[name='cartlist']").prop("disabled", false);
                    }
                }

                if (isCartListCheckPrice) {
                    cartListCheckPrice(",", false);
                } else {
                    return false;
                }
            });


            $('.gd_btn1807 li a').on('click', function () {
                var objN = $(this).attr('rel');
                var obj = $('.' + objN);

                if (obj.find('tr').length < 1) {
                    return;
                }

                var lp = ($(window).width() - obj.width()) / 2;
                var tp = ($(window).height() - obj.height()) / 2 + $(window).scrollTop();
                if (lp < 0) lp = 0;
                if (tp < 0) tp = 0;
                $('.layerArea').show();
                obj.css("top", tp).css("position", "absolute").css('left', lp).css("z-index", 101);
                obj.show();
            });

            $(".btn_close, .close_btn").on("click", function () {
                $(".popwrap, .layerArea").hide();
            });


            $(document).on("click", '.gd_btn1807 a:eq(0)', function () {
                $("#ce_tab li:eq(0) a").click();
            });
        })
            ;

            function slidPrev() {
                if (status == 1) {
                    return;
                }
                status = 1;

                var slidUl = $(".hidden_wrap ul");

                var liWidth = slidUl.find("li").width()
                var max = (slidUl.find("li").size() - 6) * liWidth;
                var marginLeft = slidUl.css("marginLeft").replace("px", "");

                if (marginLeft >= 0) {
                    status = 0;
                    return false;
                }
                slidUl.stop().animate({'marginLeft': '+=' + liWidth + 'px'}, 'normal', function () {
                    status = 0;
                });

                return false;
            }


            function slidNext() {
                if (status == 1) {
                    return;
                }
                status = 1;

                var slidUl = $(".hidden_wrap ul");

                var liWidth = slidUl.find("li").width()
                var max = (slidUl.find("li").size() - 6) * liWidth;
                var marginLeft = slidUl.css("marginLeft").replace("px", "");

                if ((parseFloat(max) + parseFloat(marginLeft)) <= 0) {
                    status = 0;
                    return;
                }

                slidUl.stop().animate({'marginLeft': '-=' + liWidth + 'px'}, 'normal', function () {
                    status = 0;
                });

                return false;
            }

            function checkoutPage() {
                var cartDivision = $("#ordersheetCartDivision").val();
                var resultReturn = true;

                $("input[name=checkZeroPrice]").each(function () {
                    var price = $(this).val();

                    if (price <= 0) {
                        layerAlert("선택 상품은 일시적인 시스템 장애로 구매하실 수 없습니다.<br/>고객센터(1800-5700)로 문의주세요.");
                        resultReturn = false;
                        return false;
                    }
                });

                if (resultReturn == false) {
                    return false;
                }

                var entryNumber = "";
                $("input:checkbox[name='cartlist']:checked").each(function () {
                    entryNumber += $(this).val() + ",";
                });

                if (entryNumber == "") {
                    layerAlert("주문하실 상품을 선택해주세요.");
                    return false;
                }
                var item = [];
                for (var i = 0; i < res_obj.length; i++) {
                    if (check_obj[i]) item.push(res_obj[i]);
                }
                var data = {
                    totalPrice: selected_price,
                    item: item
                };
                $.ajax({
                    url: "/cart/station",
                    method: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    cache: false,
                    success: function (data) {
                        var lc = new layerConfirm('주문하시겠습니까?', '확인', '취소');
                        lc.confirmAction = function () {
                            localStorage.setItem('station-item', JSON.stringify(data));
                            location.href = "/order";
                        };
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                });
            }

            function qtyLimitProductAlert() {
                $('[name=entryProductInfo]').each(function (idx, row) {
                    var productCode = $(row).find('form [name=productCode]').val();
                    var quantity = $(row).find('form [name=initialQuantity]').val();
                    if (qtyLimitProductYnMap[productCode] == 'true' && parseInt(quantity) > 2) {
                        var brandName = $(row).find('.pt_list_wrap .tlt').text();
                        var productName = $(row).find('.pt_list_wrap .sb_tlt').text().trim();
                        layerAlert('[' + brandName + '] [' + productName + ']의<br/>구매 가능한 수량은 2개입니다.<br/>수량 변경 후 구매하실 수 있습니다.');
                        return false;
                    }
                })
            }

            //]]>
    </script>

    <!-- bodyWrap -->
    <div id="bodyWrap">
        <!--title-->
        <h3 class="cnts_title cnts_tlt1807">
            <span>쇼핑백</span>
        </h3>
        <!--//title-->

        <span id="shoppingbagCartView">
            <!--sub_container-->
        <div class="sub_container ">
            <!--order wrap-->
            <div class="shopping_cart_tab1807 tab_a">
                <!-- 장바구니개편 -->
                <ul class="tab3">
                    <li>
                        <a id="total-cnt" href="#;" name="cartDivision" data-division=""
                           onclick="GA_Event('쇼핑백', '탭', '택배');"></a>
                    </li>
                    <li>
                        <a href="#;" name="cartDivision" data-division="store"
                           onclick="GA_Event('쇼핑백', '탭', '매장수령');"><span class="spt_ico"></span>매장수령 (0)</a>
                    </li>
                    <li>
                        <a href="#;" name="cartDivision" data-division="quick"
                           onclick="GA_Event('쇼핑백', '탭', '퀵배송');"><span class="quk_ico"></span>퀵배송(0)</a>
                    </li>
                    </ul>
            </div>

            <div class="orderwrap1807">
                <div class="tbl_info_wrap">
                    <p class="cart_top_text">
                       </p>

                    <div class="fourpm_pd_ck">
                        <div class="input_wrap">
                        </div>
                    </div>
                    </div>
                <!--shoppingback table-->
                <div class="tblwrap">
                    <table class="tbl_ltype">
                        <caption>
                            쇼핑백</caption>
                        <colgroup>
                            <col style="width: 10px;"/>
                            <col/>
                            <col style="width: 120px"/>
                            <col style="width: 105px"/>
                            <col style="width: 140px"/>
                            <col style="width: 110px"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">
                                   <!-- 2019.11.07 쇼핑백 진입 시 선택 상품 없도록 수정 -->
                                   <input type="checkbox" id="entryCheckAll" value="cartlist" autocomplete="off">
                                </th>
                                <th scope="col">상품정보</th>
                                <th scope="col">수량</th>
                                <th scope="col">판매가</th>
                                <th scope="col">적립율</th>
                                <th scope="col">선택</th>
                            </tr>
                        </thead>
                        <tbody id="cart-list">

                        </tbody>
                    </table>
                </div>
                <!--// shoppingback table-->
                <!--Total wrap-->
                <div class="total_wrap">
                    <!-- total -->
                    <div class="total_price_wrap">
                        <dl>
                                <dt>
                                    상품 합계</dt>
                                <dd>
                                <!-- 여기 총 금액 변경되는거.. -->
                                    <span id="cartDataSubtotal"></span>
         </dd>
                                <dt class="delch_wrap">
                                    <p class="tlt_ship">배송비</p>
                                    <!--delivery charge layer popup-->
                                    <div class="delch_box" style="display: none;">
                                        <span class="arr">위치아이콘</span>
                                        <ul class="bul_sty01_li">
                                            <li>쿠폰/바우처 할인금액 및 한섬마일리지/H.Point 사용을 제외한 실 결제금액 기준 <strong>3만원 미만 결제 시 2,500원 배송비가 부과</strong> 됩니다.(3만원 이상 구매 시 무료배송)</li>
                                            <li>도서산간 지역은 배송비가 추가 될 수 있습니다.</li>
                                            <li>한섬마일리지, H.Point, e-money로 배송비 결제가 불가합니다.</li>
                                        </ul>
                                    </div>
                                    <!--//delivery charge layer popup-->
                                </dt>
                                <dd>
                                    <span id="cartDataDeliveryCost">₩ 0</span>
            </dd>
                            </dl>
                        <dl class="total ">
                            <dt>
                                합계</dt>
                            <dd>
                                <span id="cartDataTotalPrice"></span>
         </dd>
                        </dl>
                    </div>
                    <div class="total_count1807">
                        <p>총 <span id="selectProductCount">0</span>개 상품</p>
                        </div>
                    <!-- //total -->
                </div>
                <!--//Total wrap-->
                <!--button wrap-->
                <div class="btnwrap order" id="checkout_btn_wrap">
                    <a href="#;" onclick="selectRemove();"><input value="선택상품삭제" class="btn wt" type="button"/></a>
                    <a href="#;" onclick="checkoutPage();">
                        <input value="선택상품 주문하기" class="btn gray mr0" type="button"/>
                        </a>

                     </div>
                    </div>
            <!--//order wrap-->
        </div>
            <!--//sub_container-->
</span>
        <!--Guide table-->
        <div class="gd_wrap mt60">
            <dl class="shoppingbag_list">
                <dt>
                    쇼핑백 이용안내
                </dt>
                <dd class="shoppingbag_list_text">
                    <ul class="bul_sty01_li">
                        <li>쇼핑백에 담긴 상품은 30일 동안 보관됩니다. 30일이 지난 상품 자동 삭제됩니다.<br/>더 오래 보관하고 싶은 상품은 위시리스트에 담아주세요.</li>
                        <li>쇼핑백에 최대 50개까지 상품 보관이 가능하며, 실제 구매 시에는 가격이나 혜택이 변동될 수 있습니다.</li>

                        <li>쇼핑백에 담은 상품이 판매종료가 되었을 경우 자동 삭제 됩니다.</li>
                        <li>쿠폰은 배송&결제정보 화면에서 입력 할 수 있습니다.</li>
                        <li>상품별 지급율에 따라 한섬마일리지 및 H.POINT가 적립됩니다. 배송완료 10일 이후 적립되며 실 결제금액기준입니다.</li>
                        <li>해외 배송을 원할 경우 더한섬닷컴의 영문 혹은 중문 서비스를 이용해 주시기 바랍니다.</li>
                        <li>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <!--//Guide table-->

        <form id="ordersheetCloneForm" name="orderSheetCloneForm" action="/ko/shoppingbag/checkout" method="get"><input
                type="hidden" id="ordersheetEntryNumber" name="ordersheetEntryNumber" value=""/>
            <input type="hidden" id="ordersheetCartDivision" name="ordersheetCartDivision" value=""/>
            <div>
                <input type="hidden" name="CSRFToken" value="2e4f730b-79fa-408e-b072-425a73f94a7c"/>
            </div>
        </form><!-- layer pop 1 -->
    </div>
    <!— //bodyWrap —>
    <!— footerWrap —>
    </body>
</div>
</html>