<!DOCTYPE html>
<html>
<body>
<div class="">
<div class="aHl"></div>
<div id=":o5" tabindex="-1"></div>
<div id=":nu" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
<div id=":nt" class="a3s aiL "><u></u>
<div>
<table style="width:760px;padding:60px 20px 30px;margin:0 auto" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <table style="width:760px;padding:0 0 5px;margin:0" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="text-align:left;border:0;padding:0">
                                <a href="http://www.thehandsome.com" style="border:0;padding:0;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.thehandsome.com&amp;source=gmail&amp;ust=1656730271866000&amp;usg=AOvVaw1C0FI3UaD6ojXvMGyUv6F-">
                                <img src="http://www.thehandsome.com/_ui/desktop/common/images/email/logo.gif" alt="THEHANDSOME.COM" border="0" class="CToWUd">
                                </a>
                            </td>
                            <td style="text-align:right;border:0;padding:0">
                                <a href="http://www.thehandsome.com/ko/member/login" style="color:#363636;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;text-decoration:none;border:0;padding:0;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.thehandsome.com/ko/member/login&amp;source=gmail&amp;ust=1656730271867000&amp;usg=AOvVaw3kS3K7uiaCqr6SOg6r8UIJ">로그인</a>
                                <span style="color:#e7e4d7;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                                <a href="http://www.thehandsome.com/ko/svcenter/submain" style="color:#363636;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;text-decoration:none;border:0;padding:0;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.thehandsome.com/ko/svcenter/submain&amp;source=gmail&amp;ust=1656730271867000&amp;usg=AOvVaw10deBODZP438R1Estn9Tor">고객센터</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="color:#363636;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;text-align:right;border:0;border-top:1px solid #000;padding:10px 0 0"> 2022-07-01 </td>
        </tr>
        <tr>
            <td style="color:#222;font-size:26px;line-height:40px;font-family:Malgun Gothic,Dotum,sans-serif;font-weight:bold;text-align:center;border:0;padding:50px 0 0;margin:0">이메일 인증 안내 메일입니다.</td>
        </tr>
        <tr>
            <td style="color:#222;font-size:16px;line-height:20px;font-family:Dotum,sans-serif;font-weight:normal;text-align:center;border:0;padding:15px 0 0">
            더한섬닷컴은 안전하고 편리한 서비스를 제공하기 위해 최선을 다합니다.
            </td>
        </tr>
        <tr>
            <td style="height:50px;border:0;padding:0;margin:0"></td>
        </tr>
        <tr>
            <td style="width:760px;height:50px;border:0;border-top:1px solid #e3e3e3;padding:0">
            </td>
        </tr>
        <tr>
            <td style="color:#222;font-size:12px;line-height:20px;font-family:Dotum,sans-serif;font-weight:normal;text-align:center;border:0;padding:30px 0 0">
            회원가입을 하기 위해 아래 이메일 인증하기 버튼을 클릭해주세요.
            </td>
        </tr>
        <tr>
            <td style="height:10px;border:0;padding:0;margin:0"></td>
        </tr>
        <tr>
            <td style="text-align:center;padding:20px 0 0">
                <a href="/member/simpleRegister" style="display:inline-block;color:#ffffff;font-size:14px;line-height:14px;font-family:Dotum,sans-serif;font-weight:bold;text-decoration:none;background-color:#474747;border:0;padding:14px 25px;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.thehandsome.com/ko/member/authenticationMail?joincode%3DjD9GvPtEmsbgwNS8jxa1,yoolo0212@gmail.com&amp;source=gmail&amp;ust=1656730271867000&amp;usg=AOvVaw1eMl-WsmRTb0yx1T1c5Bne">이메일 인증하기</a>
            </td>
        </tr>
        <tr>
            <td style="color:#222;font-size:12px;line-height:20px;font-family:Dotum,sans-serif;font-weight:normal;text-align:center;border:0;padding:10px 0 0">
            인증 유효시간 : 2022.07.01 PM 12:20 까지
            </td>
        </tr>
        <tr>
            <td style="height:120px;border:0;padding:0;margin:0"></td>
        </tr>
        <tr>
            <td>
                <table style="width:760px;background:#f5f5f5;padding:15px 30px 15px 20px;margin:0" border="0" cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col style="width:10px">
                        <col style="width:700px">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="color:#999;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:top;border:0;padding:0">ㆍ</td>
                            <td style="color:#999;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;text-align:left;border:0;padding:0">
                            본 메일은 정보통신망 이용 촉진 및 정보 보호 등에 관한 법률에 근거하여 수신동의 여부와 관계없이 법적 의무 사항으로 발송 된 메일입니다.
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#999;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:top;border:0;padding:0">ㆍ</td>
                            <td style="color:#999;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;border:0;padding:0">
                            본 메일은 발신 전용 메일이므로 회신 되지 않습니다. 문의사항은 고객센터를 이용해 주시길 바랍니다.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;border:0;padding:0">
                                <a href="http://www.thehandsome.com/ko/svcenter/submain" style="color:#999;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;text-align:center;text-decoration:none;background-color:#fff;border:0;border:1px solid #e3e3e3;padding:5px 10px;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.thehandsome.com/ko/svcenter/submain&amp;source=gmail&amp;ust=1656730271867000&amp;usg=AOvVaw10deBODZP438R1Estn9Tor">고객센터</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:760px;border-top:1px solid #e3e3e3;padding:0;margin:0" border="0" cellpadding="0" cellspacing="0">
                    <colgroup>
                        <col style="width:555px">
                        <col style="width:205px">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td colspan="2" style="border:0;padding:30px 0 0 20px">
                                <img src="http://www.thehandsome.com/_ui/desktop/common/images/email/footer_logo.gif" alt="THEHANDSOME.COM" border="0" class="CToWUd">
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#424242;font-size:10px;line-height:18px;font-family:Malgun Gothic,Dotum,sans-serif;font-weight:normal;border:0;padding:10px 0 0 20px">
                            (주) 한섬
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            대표이사 김민덕
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            서울시 강남구 도산대로 523 한섬빌딩
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            TEL 02.3416.2000
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            FAX 02.516.7028
                            <br>
                            사업자등록번호 120-81-26337
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            통신판매업신고번호 강남 제 00826호
                            <span style="color:#e7e4d7;font-size:11px;line-height:18px;font-family:Dotum,sans-serif;font-weight:normal;vertical-align:middle;border:0;padding:0;margin:0">│</span>
                            개인정보보호책임자 윤인수
                            </td>
                            <td style="border:0;padding:10px 0 0 0;margin:0">
                                <a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1208126337" style="color:#999;font-size:11px;line-height:11px;font-family:Dotum,sans-serif;font-weight:normal;text-align:center;text-decoration:none;background-color:#fff;border:0;border:1px solid #e3e3e3;padding:5px 10px;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no%3D1208126337&amp;source=gmail&amp;ust=1656730271867000&amp;usg=AOvVaw337K3YIKGkOCIBeQESXBrR">사업자정보확인</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="color:#363636;font-size:10px;line-height:10px;font-family:Malgun Gothic,sans-serif;font-weight:normal;text-align:left;letter-spacing:1px;border:0;padding:10px 0 0 20px;margin:0">COPYRIGHT @ 2015 HANDSOME. ALL RIGHT RESERVED.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div class="yj6qo"></div>
<div class="adL"></div>
</div>
<div class="adL"></div>
</div>
</div>
<div id=":o9" class="ii gt" style="display:none">
<div id=":oa" class="a3s aiL "></div>
</div>
<div class="hi"></div>
</div>	
</body>
</html>