<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <!-- 
  /* 작성자 : 김승환
   * 회원가입 폼
  */
   -->
<title>회원가입</title>
<body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>


<script type="text/javascript">
	var check = 0
	
	$(function(){
		//비밀번호 입력칸, 비밀번호 확인 입력칸 동일한지 확인
		$('#pwd_check').blur(function(){
			if($('#password').val() != $('#pwd_check').val()){
				alert("비밀번호가 일치하지 않습니다.");
			}
		});
		
	});
	
	// 아이디 중복 확인
	function check_id(){
		var email = $("#email").val();
		$.ajax({
			url : '/member/checkid',
			type: 'POST',
			dataType: 'JSON',
			data : {
				'email' : email
			},
			success: function(res){
				console.log(res.email);
				if(res.email == email){
					alert("중복입니다.");
					$("#email").val("");
				}else{
					check = 1;
					alert("중복이 아닙니다.");
				}
			},
			error: function(){
				
			}
		});
	}
</script>
</head>
<form action="/member/join" method="post">
<table>
<caption>회원가입</caption>
<tr>
	<th>이메일</th>
	<td><input type="text" id = "email" name="email" value = "" required="required"/></td>
	<td><input type="button" name = "id_check" onclick = "check_id();" value = "아이디 중복 확인"/></td>
</tr>
<tr>
	<th>비밀번호</th>
	<td><input type = "password" class = "pw" id = "password" name="password" required="required" />
<tr>
	<th>비밀번호 확인</th>
	<td>
		<input type="password" class = "pw" id = "pwd_check" name="pwd_check" required="required" />
		<font id = "checkPw" size = "2"></font>
	</td>
</tr>
<tr>
	<th>이름</th>
	<td><input type="text" name="name" required="required" /></td>
</tr>
<tr>
	<td colspan="2" align="center"><input type="submit" id = "submit" value="완료" /></td>
</tr>
</table>
</form>
</body>
</html>