<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
      
<head>
	<title>로그인</title>
</head>
<div layout:fragment="content"> 
    <style>
        .inner_box_2nd {
            min-height: inherit;
            width: 100%;
            background-color: aqua;
        }
    </style>
	<script type="text/javascript">
//<![CDATA[
var tempData = "";
$(document).ready(function(){	
	if(location.href === 'http://localhost/member/loginfail'){
		$('#hpErrMsg').html('입력하신 아이디 혹은 비밀번호가 일치하지 않습니다.');
	}
	
	var egiftParam = "";
    
    if(egiftParam != "") {
    	$("#eg_block").addClass("close1812");
    	$("#eg_block").find("a").removeAttr("onclick");
    }
    
    // #1130 로그인 입력창 탭위치변경
    var loginLayer = document.getElementById("loginLayer");
    var loginError = "";
    isShow('h');
     
	//로그인 오류횟수 관련
	if("" != "") {
		if("" == "true") {
			layerAlert("잘못된 비밀번호를 5회 입력하셨습니다.<br/>비밀번호가 보호조치되었으니, 고객센터로 문의하시길 바랍니다.");
		} else {
			
				if(Number("") == 3 || Number("") == 4 || Number("") == 5) {
					layerAlert("잘못된 비밀번호를 {0}회 입력하셨습니다.<br/>5회 이상 입력시 로그인은 제한됩니다.");	
				}
			
		}
	}
    
    $("#login_btn").click(function(){
        var id = $("#loginForm").find("[id='j_username']").eq(0).val();
        var pw = $("#loginForm").find("[id='j_password']").eq(0).val();
        
        document.getElementById("loginLayer").value = "E";
        
        if(true){
	        if(id==""){
	            layerAlert("아이디를 입력해 주십시요."); 
	            return;
	        }
	        if(pw==""){
	            layerAlert("비밀번호를 입력해 주십시요."); 
	            return;
	        }
        }
    });
    
    
    //enter key event 추가
    $("#loginForm").find("#j_password").eq(0).keypress(function( event ) {    
        if ( event.which == 13 ) {
            event.preventDefault();
            $("#login_btn").click();
            $(this).blur();
        }
    });
    
    $("#hpPw").keypress(function( event ) {
        if ( event.which == 13 ) {
            event.preventDefault();
            $("#hplogin").click();
            $(this).blur();
        }
    });
    
    //통합맴버십 회원가입 요청
    $("#hpoinJoinBtn").click(function(){
        location.href = "/oauth2/authorization/google"
    });

    //통합맴버십 회원가입 요청    
    $("#hpoinJoinBtn2").click(function(){
        hpoinJoin();
    });

    $("#idShow").click(function(){
        $("#handsomeCust .inner_box .title_wrap:first").html("<h4>회원</h4>");
        $("#loginForm").find("input[name='j_username']").focus();
        
        $('#hpIPLogin').show();
        $('#hpOtpLogin').hide(); 
        $('#isOtp').show();
    });
    
    $('#id_save').click(function(){
        if($(this).is(':checked')){
            $("#hpIdSave2").val("Y"); 
        }else{
            $("#hpIdSave2").val(""); 
        }
    }); 
});

//HP휴면
function hpDorm(data, ltype){
    var msg = "휴면고객입니다.<br/>로그인 하시면 휴면상태가 해제됩니다.<br/>로그인 하시겠습니까?";
    layerConfirm(msg,"휴면해제","취소");
    
    $("#clsBtn").on("click",function(){
    });
    
    $("#cfBtn").on("click",function(){
        $("#otpIdD").val(data.otpId);
        $("#mcustNoD").val(data.mcustNo);
        $("#isLogin").val(data.login);
        var paramDatas = $("#dormMcustForm").serialize();
        $.ajax({
            type:"POST",
            url:"/ko/member/dormMcust",
            data:paramDatas,
            success:function(rdata){
                if(rdata.resultCode == "S"){
                    if(rdata.dormCode == "L004"){
                        if(data.login == "Y"){
                            hpoinPwChange(rdata);
                        }else if(data.login == "N"){
                            hpoinPwChange2(rdata);
                        }
                    }else if(rdata.dormCode == "L003"){
                        layerAlert("로그인 할 수 없습니다.<br/>H.Point 고객센터(1800-2800)로<br/>문의해주세요.");
                    }else if(rdata.dormCode == "0000"){
                        if(data.login == "Y"){
                            $("#hpointLoginForm").find("#j_username").val(rdata.otpId);
//                             $("[id='j_username']").eq(1).val(rdata.otpId);
                            gfnReqSSoToknIssuAjax(rdata.hpMcustNo, rdata.hpSsoAuthCd, 'https://sso.h-point.co.kr:29865', hpSsoSuccess);
                        }else if(data.login == "N"){
//                             $("#ssoMcustNo").val(rdata.hpMcustNo);
//                             layerPopup('open'); 
                            location.href="/ko/member/login?error=true";
                        }
                    }
                }else if(data.resultCode == "R"){
                    /* if(data.dormCode == "L004"){
                        hpoinPwChange2();
                    } */
                    layerAlert("탈퇴 후 90일 전에는 로그인 및 재가입 하실 수 없습니다.");
                }else{
                    if(ltype == "h"){
                        layerAlert(rdata.resultMessage);
//                         document.getElementById("hpErrMsg").textContent=rdata.resultMessage;
                    }else{
                        layerAlert(rdata.resultMessage);
//                         document.getElementById("otpErrMsg").textContent=rdata.resultMessage;
                    }
                }
            },
            error:function(e){
                layerAlert("로그인 처리 중 오류가 발생했습니다.");
            }
        });
    });     
}

function isShow(custType){
    if(custType=='h'){
        $('#handsomeCust').show();
        $("#loginForm").find("input[name='j_username']").focus();
        $('#isOtp').show();
    }else{
        $('#handsomeCust').hide();
        $('#isOtp').hide();
    }
}


function simpJoin(){
    var hdUrl = "https://www.h-point.co.kr/cu/join/simpJoinStart.nhd";
    window.open(hdUrl,"simpStart_window");
    
    document.getElementById("ptcoReqnMdaInf").value = "pc";
    $("#simpJoinForm").attr("action", hdUrl);
    $("#simpJoinForm").submit();
    $("#simpJoinLayer").hide();  
}

//가입 유도 팝업    
function layerPopup(division) {
    if(division == "open") {
        $("#simpJoinLayer").show();
    } else {
        $("#simpJoinLayer").hide();  
    }   
}

function easyMemJoin() {
    var lc = new layerConfirm("<span style='color:red;'>간편회원으로 가입</span>하실 경우,<br> <span style='color:red;'>한섬마일리지 및 H.Point 적립이 불가</span>하며,<br><span style='color:red;'>한섬 온라인 멤버십 서비스 ‘THE 클럽’의 혜택을 받으실 수 없습니다.<br></span> 간편회원 가입을 진행하시겠습니까?", "간편회원 가입", "통합회원 가입");
    lc.confirmAction = function(){
        location.href = "/member/simpleRegisterEmail";
    };
    return;
}

//]]>
</script>
<form>
<div>
<input type="hidden" name="CSRFToken" value="ad754cc6-15c3-4dad-80c5-f49fce74470d" />
</div></form><!-- 다국어 한국에서만 사용 -->
<input type="hidden" name="loginLayer" id="loginLayer" value="E" />
<div id="bodyWrap" class="login">
    <h3 class="cnts_title"><span>로그인</span></h3>
    <div class="sub_container" style="width: 497.5px;">
         <div id="handsomeCust" class="login_wrap box_type_1 renewal1904" >
            <div class="border_box1" style="height: 620px;">
                <div class="inner_box">
	                <div class="title_wrap">
	                    <h4>회원</h4>
	                </div>
	                <div id="hpIPLogin">
	                <form id="loginForm" name="loginForm" th:action="@{/member/login}" method="post">
	                	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	                    <input type="hidden" name="inputId" id="inputId" value = "" />
	                    <fieldset>
	                        <legend>로그인 입력항목</legend>
	                        <div class="login_section">       
	                            <p class="login_err_txt" id="hpErrMsg" style="margin-left:0px;"></p>
	                            <div>
	                                <div>
	                                    <input type="text" id="j_username" name="memail" placeholder="아이디 / 이메일을 입력하세요." title="아이디" value=""/>
	                                </div>
	                                <div>
	                                    <input type="password" id="j_password" name="mpassword" placeholder="비밀번호를 입력하세요." title="비밀번호" />
	                                </div>
	                            </div>
	                            <button type="submit" class="btn_login" id="login_btn" onclick="GA_Event('로그인', '로그인', '간편 로그인');">로그인</button>
	                            <div class="id_save">
	                               <input type="checkbox" id="id_save" name="id_save" value="Y"> <label for="id_save">아이디 저장</label>
	                            </div>
	                        </div>
	                    </fieldset>
	                </form>
	                </div>
	            </div>
            </div>
            <div class="border_box2"><!-- 추가 190417 -->
                <div class="inner_box step2">
                    <div class="title_wrap">
                        <a href="/oauth2/authorization/naver" onclick="easyMemJoin();GA_Event('로그인', '가입', '간편회원_가입');" class="btn add_ss join" style="width:366px">네이버 소셜 가입</a>
                    </div>   
                    <a href="javascript:void(0);" id="hpoinJoinBtn" class="btn add_ss join" style="margin-bottom:40px" onclick="GA_Event('로그인', '가입', '구글소셜_가입');">구글 소셜 로그인</a>
	                <div class="title_wrap">
	                    <h4 class="tlt_typ1">더한섬닷컴 간편회원 가입</h4>
	                    <p class="txt" style=" line-height: 1.5;">본인인증 절차 없이, 더한섬닷컴에서 제공하는 서비스만 제한적으로<br/>이용할 수 있는 ID를 만듭니다.</p>
	                    <p class="join_txt2 mt10">더한섬닷컴에서 사용 가능하며, 오프라인 매장에서는 사용할 수 없습니다.<br/><span>한섬마일리지와 현대백화점그룹 H.Point 혜택, 한섬의 온라인 멤버십 서비스<br/>‘THE 클럽’의 혜택은 제공되지 않습니다. </span></p>
	                </div>                      
	                <div class="title_wrap hide" id="eg_block">
	                    <a onclick="easyMemJoin();GA_Event('로그인', '가입', '간편회원_가입');" class="btn add_ss join" style="width:366px">간편회원 가입</a>
	                    <a href="/oauth2/authorization/kakao" onclick="GA_Event('로그인', '가입', '카카오소셜_가입');" class="btn add_ss join" style="width:366px">카카오 소셜 가입</a>
	                    
	                    <p class="join_txt2 mt20">
	                        <span>※ 간편회원은 e-Gift Card 구매 및 등록이 불가능합니다.<br>통합회원 가입 후 이용해 주세요.</span>
	                    </p>
	                </div>
	                <div style="text-align: center;">
                        <div style="padding-top: 20px; ">
                            <div style="display: inline-block;">
                                <a href="javascript:void(0);" id="hpoinJoinBtn" onclick="GA_Event('로그인', '가입', '통합회원_가입');">
                                    <img src="/resources/_ui/desktop/common/images/googlelogin.png" />
                                </a>
                            </div>
                                
                            <div style="display: inline-block;">
                                <a href="/oauth2/authorization/kakao" onclick="GA_Event('로그인', '가입', '간편회원_가입');" style="border: none;">
                                    <img src="/resources/_ui/desktop/common/images/kakaologin.png" />
                                </a>
                            </div>
                        </div>
	                </div>
	                
	                
	            </div>
                <div style="padding: 40px;">
                    <div class="inner_box step2">
                        <!-- <div class="title_wrap">
                            <a href="/oauth2/authorization/naver" onclick="easyMemJoin();GA_Event('로그인', '가입', '간편회원_가입');" class="btn add_ss join" style="width:366px">
                                네이버 소셜 가입
                            </a>
                        </div>    -->
                        <div style="    position: relative;
                        min-height: 25px;
                        overflow: hidden;
                        width: 457px;
    margin: 0 auto;">
                            <h4 class="tlt_typ1" style="padding: 40px 0px 0px; font-size: 16px; color: #222;">더한섬닷컴 간편회원 가입</h4>
                            <p class="join_txt2 mt10">더한섬닷컴에서 사용 가능하며, 오프라인 매장에서는 사용할 수 없습니다.<br/><span>한섬마일리지와 현대백화점그룹 H.Point 혜택, 한섬의 온라인 멤버십 서비스<br/>‘THE 클럽’의 혜택은 제공되지 않습니다. </span></p>
                        </div>                      
                        <div id="eg_block">
                            <a onclick="easyMemJoin();GA_Event('로그인', '가입', '간편회원_가입');" class="btn add_ss join" style="width:415px !important">간편회원 가입</a>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- </div> -->
         <!--//login wrap-->
    <!-- </div> -->
    <!--//sub_container-->
<!-- </div> -->
<div class="layerArea" id="simpJoinLayer" style="display:none;">
    <div class="layerBg" style="display:block;" tabindex="-1"></div> 
    <div class="popwrap w_type_8" id="" style="position: absolute; z-index: 201; display: block;" tabindex="-1">
        <div class="pop_tltwrap3">
            <h3>더한섬닷컴 회원가입</h3>
        </div>
        <div class="pop_cnt">
            <div class="hpoint">
                <p class="img"><img src="https://www.thehandsome.com/_ui/desktop/common/images/popup/join_pop_icon.jpg" style="vertical-align:top"></p>
                <p class="txt">
                    H.Point통합회원 정보로 더한섬닷컴에 회원가입이 가능합니다.<br />
                    단, 더한섬닷컴 가입확인을 위해 아래의 정보로 조회가 진행됩니다.<br />
                    동의하시면 회원가입 해주세요.<br />
                    <span>※ 조회정보 : 이름, 생년월일, 휴대폰번호</span>
                </p>
                <div class="btnwrap mt30">
                    <input class="btn gray" value="더한섬닷컴 가입" type="button" style="width:200px" onclick="simpJoin();" />
                </div>
            </div>
        </div>
        <a href="#" class="btn_close" id="closeLayerPop" onclick="layerPopup('close');"><img src="https://www.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" ></a>
    </div>
</div>
</div>
</div>
</html>