<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<div layout:fragment="content">
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        function send_mail(email){
            console.log(email);
            $.ajax({
                url : '/member/sendEmail',
                type: 'POST',
                data: JSON.stringify({
                    "memail": email
                }),
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                async: false,
                cache: false,
                success: function(res){
                    console.log(res);
                },
                error: function(res){
                    alert("수정 실패");
                }
            });
        }
        $(document).ready(function(){
            function emailValid(id, domain){
                var pattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; //한글
                console.log('id: ',id, 'domain: ', domain);
                if(id !== "" && domain !== "" && !pattern.test(id+domain)){
                    return true;
                }
                else{
                    return false;
                }
            }

            $('#btnClose, #btnConfirm').click(function(){
                $('#layerDiv').attr("style", "z-index: 1110; display:none;");
            });

            $('#emailAuthBtn').click(function(){
                var emailDomain = '';
                if($('#uidDomainSel').val() === ""){
                    emailDomain += $('#uidDomain').val();
                }
                else{
                    emailDomain += $('#uidDomainSel').val();
                }

                console.log('emailAuthBtn click');
                console.log('line44', $("#uidDuplChk").val());
                if(emailValid($("#id").val(), emailDomain) && $("#uidDuplChk").val() !='N' ){
                    $("#idDubChkBtn").attr("disabled", true);
                    $("#emailAuthBtn").attr("disabled", true);

                    var email = $("#id").val()+"@"+emailDomain;

                    send_mail(email);
                    $('#emailMessage').html("["+email+"]으로 발송된 인증메일을 클릭해주세요")
                    $('#layerDiv').attr("style", "z-index: 1110; display:block;");
                    //layerAlert("["+email+"]으로 발송된 인증메일의<br/>인증링크를 유효시간 30분 안에 선택해주세요.");
                    $('#emailAuthBtn').hide();
                }

                if(!emailValid($("#id").val(), emailDomain)){
                    $('#emailMessage').html('필수 데이터가 입력되지 않았습니다.')
                    $('#layerDiv').attr("style", "z-index: 1110; display:block;");
                }

                if($("#uidDuplChk").val() =='N'){
                    $('#emailMessage').html('이메일 아이디의 중복 확인이 필요합니다.')
                    $('#layerDiv').attr("style", "z-index: 1110; display:block;");
                }
            });

            $("#idDubChkBtn").click(function(){
                console.log('idDubChkBtn click');
                if($("#uidDuplChk").val() == 'N'){
                    return;
                }

                var emailDomain = '';
                if($('#uidDomainSel').val() === ""){
                    emailDomain += $('#uidDomain').val();
                }
                else{
                    emailDomain += $('#uidDomainSel').val();
                }

                if(emailValid($("#id").val(), emailDomain)){
                    $.ajax({
                        type: 'POST',
                        url:'/member/duplicateCheck',
                        dataType: 'JSON',
                        contentType: "application/json",
                        data: JSON.stringify({
                            'memail': $("#id").val() + '@' + emailDomain,
                            "CSRFToken": getYCsrfToken()
                        }),
                        beforeSend: function(xhr){
                            xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
                        },
                        success:function(response){
                            if(response.memail !== '0'){
                                $("#idDubMsg").text('이미 사용중인 이메일입니다.');
                                $("#uidDuplChk").val('N');
                                console.log('plz', $("#uidDuplChk").val())
                            }else{
                                $("#idDubMsg").text('사용 가능한 이메일입니다.');
                                $("#uidDuplChk").val('Y');
                                console.log('plz', $("#uidDuplChk").val())
                            }
                        },
                        error:function(e){
                            console.log(e);
                        }
                    });
                }
            });

            $("#id, #uidDomain, #uidDomainSel").change(function(){
                var emailDomain = '';
                if($('#uidDomainSel').val() === ""){
                    emailDomain += $('#uidDomain').val();
                    $('#uidDomain').show();
                }
                else{
                    emailDomain += $('#uidDomainSel').val();
                    $('#uidDomain').hide();
                }

                var emailRegExp = /^((([^<>()[\]\\.,;:\s@\"~`!@#$%^&*+={}|'/?]+(\.[^<>()[\]\\.,;:\s@\"~`!@#$%^&*+={}|'/?]+)*))|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var email = $("#id").val()+"@"+emailDomain;


                if($("#id").val() == "" &&  $("#uidDomain").val() == ""){
                    $("#idDubMsg").text('');
                    $("#uidDuplChk").val('');
                }
                else{
                    if ( emailRegExp.test(email) != true) {
                        $("#idDubMsg").text("잘못된 E-mail 형식입니다.");
                        $("#uidDuplChk").val('N');
                        return;
                    }
                    else {
                        $("#idDubMsg").text('');
                        $("#uidDuplChk").val('');
                    }
                }
            });
        });
    </script>
    <!-- bodyWrap --><input type="hidden" name="uidDuplChk" id="uidDuplChk" value="" title="이메일 아이디 중복" />
    <div id="bodyWrap">

        <!--title-->
        <h3 class="cnts_title"><span>회원가입</span></h3>
        <!--//title-->
        <!--email step-->
        <div class="email_step">
            <ul class="clearfix">
                <li class="step01 on">step01 이메일인증</li>
                <li class="step02">step02 회원약관동의</li>
                <li class="step03">step03 회원정보 입력</li>
                <li class="step04">step04 가입완료</li>
            </ul>
        </div>
        <!--/email  step-->
        <!--sub container-->
        <div class="sub_container">
            <div class="join_title">
                <p class="title">더한섬닷컴에 가입을 환영합니다.</p>
                <p class="s_title"><strong>본인인증 절차 없이, 더한섬닷컴에서 제공하는 서비스만 제한적으로 이용할 수 있습니다.</strong><br/>더한섬닷컴에서 사용 가능하며, <span style="color:#c69c6c;font-weight:normal;text-decoration:underline;">오프라인 매장에서는 사용할 수 없습니다.<br/>한섬마일리지와 현대백화점그룹 H.Point 혜택, 한섬의 온라인 멤버십 서비스 ‘THE 클럽’의 혜택은 제공되지 않습니다.</span></p>
            </div>
            <form>

                <fieldset>
                    <legend>본인인증</legend>
                    <div class="box_type_1">
                        <div class="email" style="background-image:url('http://www.thehandsome.com/_ui/desktop/common/images/member/ico_email.gif'); ">
                            <p>
                                <strong>이메일인증으로 회원가입</strong>
                            </p>
                            <p>정보입력은 입력한 메일을 통한 인증 후 가능합니다.</p>
                            <p class="emailinput">
                                <input type="text" id="id" name="memail1" style="width:120px" title="이메일 아이디">
                                <span class="andmail">@</span>
                                <input type="text" id="uidDomain" name="uidDomain" style="width:120px" title="이메일 계정">
                                <select id="uidDomainSel" style="width:120px; margin:0 0 0 0;" title="이메일 아이디 도메인" name="memail2">
                                    <option value="">직접입력</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                                    <option value="lycos.co.kr">lycos.co.kr</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="empas.com">empas.com</option>
                                    <option value="hotmail.com">hotmail.com</option>
                                    <option value="msn.com">msn.com</option>
                                    <option value="hanmir.com">hanmir.com</option>
                                    <option value="chol.net">chol.net</option>
                                    <option value="korea.com">korea.com</option>
                                    <option value="netsgo.com">netsgo.com</option>
                                    <option value="dreamwiz.com">dreamwiz.com</option>
                                    <option value="hanafos.com">hanafos.com</option>
                                    <option value="freechal.com">freechal.com</option>
                                    <option value="hitel.net">hitel.net</option>
                                </select>
                                <input type="button" class="btn add_s" id="idDubChkBtn" value="중복확인">
                                <br/>
                                <span class="guide_comment" id="idDubMsg"></span>
                            </p>
                            <input type="button" value="이메일 인증하기" class="btn acc"  id="emailAuthBtn"/>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="jo_bottom_banner">
                <div class="left_banner">
                    <a href="http://www.thehandsome.com/ko/magazine/events/8802941687680" target="_blank">통합회원 가입 시 <br/>가입 축하 <span style="color:#c69c6c;">정상 15% & 아울렛 5% 쿠폰</span> 증정<span class="dtil_viw">자세히 보기 >></span></a>
                </div>
                <div class="right_banner">
                    <a href="/ko/svcenter/theClubInfo" target="_blank">통합회원을 위한<br/>한섬 온라인 멤버십 <span style="color:#c69c6c;">THE 클럽</span><span class="dtil_viw">자세히 보기 >></span></a>
                </div>
            </div>
        </div>
        <!--//sub container-->
    </div>
    <!-- //bodyWrap -->
</div>
</html>
<div class="layerArea" style="z-index: 1110; display:none;" id="layerDiv">
    <div class="layerBg"></div>
    <div class="popwrap w_type_1 " style="z-index: 150; margin-top: 531px;" tabindex="-1">
        <div class="pop_cnt">
            <h3 class="pop_tlt copy" id="emailMessage"></h3>
            <div class="btnwrap">
                <input type="button" class="btn gray_s mr0" id="btnConfirm" value="확인">
            </div>
        </div>
        <a href="javascript:void(0);" class="btn_close" id="btnClose">
            <img src="/_ui/desktop/common/images/popup/ico_close.png" alt="닫기">
        </a>
    </div>
</div>