<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.productDAO.ProductDAO">

    <select id="getProductDetail"
            resultType="com.hyundai.project.dto.ProductDTO">
        select p.pid || '_' || c.ccolorcode pid,
               bname,
               c.cimage1
                                            cimage1,
               c.cimage2                    cimage2,
               c.cimage3                    cimage3,
               c.ccolorcode
                                            ccolorcode,
               c.cmatchpid                  cmatchpid,
               clarge,
               cmedium,
               csmall,
               pname,
               pprice,
               pdetail
        from product p
                 join color c on p.pid = c.pid
        where p.pid = #{pid}
          and c.ccolorcode = #{ccolorcode}
    </select>

    <select id="getProductColorDetail"
            resultType="com.hyundai.project.dto.ProductColorDTO">
        select *
        from (select ccolorcode, ccolorimage from color where pid = #{pid} and ccolorcode = #{ccolorcode})
        union all
        (select ccolorcode, ccolorimage from color where pid = #{pid} and ccolorcode != #{ccolorcode})
    </select>

    <select id="getProductSize"
            resultType="com.hyundai.project.dto.ProductSizeDTO">
        select ccolorcode, ssize, samount
        from stock
        where pid = #{pid}
          and ccolorcode = #{ccolorcode}
    </select>

    <select id="getListAll" resultType="com.hyundai.project.dto.ProductListDTO">
    <![CDATA[
        select p.pid,
               c.cimage1,
               c.cimage2,
               c.ccolorimage,
               p.pname,
               p.pprice,
               p.bname,
               c.ccolorcode
        from product p
                 join color c on p.pid = c.pid
        ]]>
   </select>

    <select id="getListWithPaging" resultType="com.hyundai.project.dto.ProductListDTO">
 		<![CDATA[
        select pid, bname, pname, pprice, ccolorcode, cimage1, cimage2
        from (
                 select rownum rr,
                        p.pid,
                        p.bname,
                        p.pname,
                        p.pprice,
                        c.ccolorcode,
                        c.cimage1,
                        c.cimage2
                 from product p
                          join v_color1 c on p.pid = c.pid
                 where clarge = #{param2}
                   and cmedium = #{param3}
                   and csmall = #{param4}
             )
        where rr > (#{param1.pageNum} - 1) * #{param1.amount}
          and rr <= (#{param1.pageNum} * #{param1.amount})
        ]]>
	</select>

    <select id="getTotal" resultType="int">
		 select count(*) from product p
         join v_color1 c on p.pid = c.pid
 			where clarge = #{param1}
            and cmedium = #{param2}
	        and csmall = #{param3}
    </select>

    <!-- yoolim start -->
    <!-- <select id="productSearch" resultType="com.hyundai.project.dto.ProductDTO">
        select p1.pid as pid, p1.pname as pname, p2.cimage1 as cimage1
        from product p1
                 join color p2
                      on p1.pid = p2.pid
        where p1.pname = #{pname}
    </select> -->

    <delete id="delStock">
        delete
        from stock
        where pid = #{pid}
    </delete>

    <delete id="delColor">
        delete
        from color
        where pid = #{pid}
    </delete>

    <delete id="delProduct">
        delete
        from product
        where pid = #{pid}
    </delete>
    <!-- yoolim end -->
    <update id="updateProduct">
        update product set pid=#{pid}, clage=#{clarge}, cmedium=#{cmedium},
        csmall=#{csmall}, bname=#{bname}, pname=#{pname}, pprice=#{pprice}, pdatail=#{pdetail}
        where pid = #{pid}
    </update>

    <!-- 정민 -->
    <insert id="insertProduct">
        insert into product(pid, clarge, cmedium, csmall, bname, pname, pprice, pdetail, pstatus)
        values(#{pid}, #{clarge}, #{cmedium}, #{csmall}, #{bname}, #{pname}, #{pprice}, #{pdetail}, 1)
    </insert>

    <insert id="insertProductColor" parameterType="com.hyundai.project.dto.ProductColorDTO">
        insert into color(pid, ccolorcode, cimage1, cimage2, cimage3, ccolorimage, cmatchpid)
        values(#{pid}, #{ccolorcode}, #{cimage1}, #{cimage2}, #{cimage3}, #{ccolorimage}, #{cmatchpid})
    </insert>

    <insert id="insertProductSize" parameterType="com.hyundai.project.dto.ProductSizeDTO">
        insert into stock(pid, ccolorcode, ssize, samount)
        values(#{pid}, #{ccolorcode}, #{ssize}, #{samount})
    </insert>

    <update id="updateMain">
        UPDATE PRODUCT SET PSTATUS = #{pstatus} WHERE PID = #{pid}
    </update>
    
    <select id="productSearch" resultType="com.hyundai.project.dto.ProductBackDTO">
        select pid, clarge||'-'||cmedium||'-'||csmall category, bname, pname, pprice, pdetail, pstatus
		from product
        where pname like '%'||#{pname}||'%'
        order by pupdatedate desc
    </select>
    
    <update id="productModify">
        update product set pprice = #{pprice}, pstatus = #{pstatus}, pupdatedate = sysdate WHERE pid = #{pid}
    </update>

    <select id="getCategory" resultType="com.hyundai.project.dto.ProductCategoryDTO">
        select clarge, cmedium, csmall from category order by clarge desc
    </select>

    <select id="getProductExist" resultType="int">
        select nvl(count(*), 0) cnt from product where pid=#{pid}
    </select>

</mapper>
