<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="footer">
<div id="footerWrap">
	<div id="topBtn">
		<a href="javascript:void(0);" class="viewTopArea"><img src="/resources/_ui/desktop/common/images/common/top_btn.png" alt="맨 위로" onclick="GA_Event('공통','퀵버튼','TOP');"/></a>
	</div>
	<!--footer_cnts2 -->
	<div class="footer_cnts2 clearfix">
		<div class="footer">
			<div class="cnts2_left">
				<p class="top_p"><span>더현대라이브</span><span>대표 : 졈민</span><span>서울특별시 종로구 창경궁로 254</span><span class="bgnone">KOSA HYUNDAI IT&E</span></p>
				<p class="copyright">COPYRIGHT © 2022 THE HYUNDAI LIVE. ALL RIGHT RESERVED.</p>
			</div>
		</div>
	</div>
	<!--//footer_cnts2 -->
	</div>
	
	<div id="ariaStatusMsg" class="skip" role="status" aria-relevant="text" aria-live="polite"></div>
	
	<!--loadingbar-->
	<div class="layerBg"></div>
	<!--//loadingbar-->
	
	<div class="layerArea" id="mapleLayer" style="display:none;">
	   <div class="layerBg"></div>
	</div>
	
	<script type="text/javascript">  
	
	    var virtusizeViewYn = false;
	    
	        virtusizeViewYn = true;
	        
	    if(virtusizeViewYn){
	         
	    }
	</script>

<input type="hidden" id="apiConfmKey" value="U01TX0FVVEgyMDE5MDYxNzE2NDczMzEwODgxNTI="/>

</body>

</div>
</html>