<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.memberDAO.MemberDAO">
	
	<!-- 회원 전체 조회 -->
	<select id="showAllMember"
		resultType="com.hyundai.project.dto.MemberDTO">
		select * from member
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="getMemberInfo"
		resultType="com.hyundai.project.dto.MemberDTO">
		<!-- select * from member where memail = #{email} -->
		select A.memail, A.mname, A.birth, A.telnum, A.maddress, B.gno from member A, grade B where A.gno = B.gno and memail = #{email}
	</select>
	
	<!-- 회원 정보 수정 -->
	<select id="modifyMember">
		update member set mname = #{mname}, birth = #{birth}, telnum = #{telnum}, maddress = #{maddress}, gno = #{gno} where memail = #{memail}
	</select>
	
	<!-- 회원 탈퇴 -->
	<select id="delMember">
		delete from member where memail = #{email}
	</select>
	
	<!-- 유림 -->
	<insert id="simpleRegister" parameterType="com.hyundai.project.dto.MemberDTO">
		insert into member
		(memail, mname, birth, telnum, maddress, mgender, mpassword, memail_info, moddate, regdate, from_social) 
		values (#{memail}, #{mname}, #{birth}, #{telnum, jdbcType=NULL}
		, #{maddress, jdbcType=NULL}, #{mgender, jdbcType=NULL}, #{mpassword}, #{memail_info, jdbcType=NULL}
		, sysdate, sysdate, 0)
	</insert>
	
	<insert id="registerRole" parameterType="com.hyundai.project.dto.MemberRoleDTO">
		insert into memberrole
		(memail,role_set) 
		values (#{memail}, 'USER')
	</insert>
	
	<select id="findByEmail" resultType="com.hyundai.project.dto.MemberJoinDTO">
		select
		c1.memail, c1.moddate, c1.regdate, c1.from_social, c1.mname, c1.mpassword, c2.role_set
		from
		member c1 join memberrole c2
		on c1.memail = c2.memail
		where c1.memail = #{memail} and c1.from_social=#{from_social}
	</select>
</mapper>
