<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.memberDAO.MemberDAO">
	
	<select id="showAllMember"
		resultType="com.hyundai.project.dto.MemberJoinDTO">
		select memail, mname, role_set, msleep, regdate, gname from (select memail, mname, role_set, msleep, regdate, gno from member natural join memberrole) natural join grade
	</select>
	
	<select id="getMemberInfo"
		resultType="com.hyundai.project.dto.MemberJoinDTO">
		<![CDATA[
		select memail, moddate, regdate, from_social, mname, mpassword, role_set, gno, birth, telnum, maddress, mpoint, mgender, memail_info, gname from(select
		c1.memail, c1.moddate, c1.regdate, c1.from_social, c1.mname, c1.mpassword, c2.role_set, c1.gno, c1.birth, c1.telnum, c1.maddress, c1.mpoint, c1.mgender, c1.memail_info
		from
		member c1 join memberrole c2
		on c1.memail = c2.memail
		where c1.memail LIKE '%'||#{memail}||'%'
		) natural join grade
		]]>
	</select>
	
	<select id="getEmployeeInfo"
		resultType="com.hyundai.project.dto.MemberJoinDTO">
		<![CDATA[
		select memail, mname, role_set, msleep, regdate, gname from (select memail, mname, role_set, msleep, regdate, gno from member natural join memberrole) natural join grade
		where role_set = 'EMPLOYEE'
		]]>
	</select>
	
	<select id="modifyMember" parameterType="com.hyundai.project.dto.AuthMemberDTO">
		update member set memail_info=#{memail_info}, mpassword=#{mpassword}, mname = #{mname}, birth = #{birth}, telnum = #{telnum}, maddress = #{maddress} where memail = #{memail}
	</select>
	
	<update id="admodifyMember">
		update member set mname = #{mname}, birth = #{birth}, telnum = #{telnum}, maddress = #{maddress}, gno = #{gno}, moddate = sysdate where memail = #{memail}
	</update>
	
	<delete id="delMember">
		delete from member where memail = #{email}
	</delete>
	
	<insert id = "insertLoginLog">
		insert into loginLog values (#{memail}, sysdate, logno_seq.nextval)
	</insert>
	
	<!-- 휴면 계정 갱신 -->
	<update id = "updateMemberSleep">
		<![CDATA[
			merge
			into member A
			using loginlog B
			on (A.memail = B.memail and to_date(b.logindate) - to_date(A.regdate) > 30)
			when matched then
			update
			set A.msleep = 1
		]]>
	</update>
	
	<!-- 등급 갱신 -->
	<update id = "updateMemberGrade">
		<![CDATA[
			update (select A.memail, price, A.gno as g from member A,
			(select memail, sum(oprice) as price from orderlist group by memail) B
			where A.memail = B.memail)
			set g = 
			case when price >= 0 and price < 1000000 then 1 
			     when price >= 1000000 and price < 2000000 then 2
			     when price >= 2000000 and price < 3000000 then 3 
			     when price >= 3000000 and price < 5000000 then 4 
			     when price >= 5000000 then 5 end
		]]>
	</update>
	
	<!-- 유림 -->
	<insert id="simpleRegister" parameterType="com.hyundai.project.dto.MemberDTO">
		insert into member
		(memail, mname, birth, telnum, maddress, mgender, mpassword, memail_info, moddate, regdate, from_social, gno, mpoint)
		values (#{memail}, #{mname}, #{birth}, #{telnum}
			   , #{maddress}, #{mgender}, #{mpassword}, #{memail_info}
			   , sysdate, sysdate, #{from_social}, #{gno}, #{mpoint})
	</insert>
	
	<insert id="registerRole" parameterType="com.hyundai.project.dto.MemberRoleDTO">
		insert into memberrole
		(memail,role_set) 
		values (#{memail}, 'USER')
	</insert>
	
	<select id="findByEmail" resultType="com.hyundai.project.dto.MemberJoinDTO">
		select
		c1.memail, c1.moddate, c1.regdate, c1.from_social, c1.mname, c1.mpassword, c2.role_set, c1.gno, c1.birth, c1.telnum, c1.maddress, c1.mpoint, c1.mgender, c1.memail_info
		from
		member c1 join memberrole c2
		on c1.memail = c2.memail
		where c1.memail = #{memail} and c1.from_social=#{from_social}
	</select>

	<!-- 정민 -->
	<update id="pointApply">
		update member set mpoint = mpoint - #{ousedpoint} where memail = #{memail}
	</update>

	<select id="getPoint" resultType="int">
		select mpoint from member where memail = #{memail}
	</select>
	
	<update id="pointSaving">
		update member set mpoint = mpoint + #{savingpoint} where memail = #{memail}
	</update>
</mapper>