<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.memberDAO.QnaDAO">

	<select id="getQna"
		resultType="com.hyundai.project.dto.QnaDTO">
		select qid, qtitle, qcontent, qdate, qimage, qkind, memail from qna where memail=#{memail}
	</select>

	<insert id="insertQna">
		insert into qna(memail, qtitle, qkind, qcontent, qdate, qimage)  values(#{memail}, #{qtitle}, #{qkind}, #{qcontent}, sysdate, #{qimage})
	</insert>

	<delete id="deleteQna">
		delete qna where qid = #{qid}
	</delete>

<!--	<delete id="deleteAllCart">-->
<!--		delete cart where memail=#{memail}-->
<!--	</delete>-->

<!--	<update id="updateCart">-->
<!--		update cart set ccolorcode=#{param2.newcolorcode}, ssize=#{param2.newsize}, qty=#{param2.newqty} where memail=#{memail} and pid=#{param2.pid} and ccolorcode=#{param2.ccolorcode} and ssize=#{param2.ssize}-->
<!--	</update>-->

<!--	<select id="getCartTotal" resultType="int">-->
<!--		select count(pid) from cart where memail = #{memail}-->
<!--	</select>-->

</mapper>