<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css"
          rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css"
          rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css"
          rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet"
          media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet"
          media="all">
    <link
            href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
            rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet"
          media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css"
          rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<form id="CSRFForm" method="post">
    <div>
        <input type="hidden" name="CSRFHeadername" th:value="${_csrf.headerName}"/>
        <input type="hidden" name="CSRFToken" th:value="${_csrf.token}"/>
        <input type="hidden" name="CSRFParameterName" th:value="${ _csrf.parameterName }"/>
    </div>
</form>

<script type="text/javascript">
    let category_obj = [], depth1 = [], depth2 = [], depth3 = [], size_obj = [];
    let idx = 0;

    function getCsrfHeaderName() {
        return $("#CSRFForm [name='CSRFHeadername']").val();
    }

    function getYCsrfToken() {
        return $("#CSRFForm [name='CSRFToken']").val();
    }

    function getDepth2() {
        let depth1 = $("#depth1").val();
        for (var i = 0; i < category_obj.length; i++) {
            if (category_obj[i].clarge == depth1) {
                if (depth2.includes(category_obj[i].cmedium)) continue;
                depth2.push(category_obj[i].cmedium);
            }
        }
        var depth2html = `<option value="0">상품 중분류</option>`;
        for (var i = 0; i < depth2.length; i++) {
            depth2html += `<option value="${depth2[i]}">${depth2[i]}</option>`;
        }
        document.getElementById("depth2").innerHTML = depth2html;
    }

    function getDepth3() {
        let depth1 = $("#depth1").val();
        let depth2 = $("#depth2").val();
        for (var i = 0; i < category_obj.length; i++) {
            if (category_obj[i].clarge == depth1 && category_obj[i].cmedium == depth2) {
                if (depth3.includes(category_obj[i].csmall)) continue;
                depth3.push(category_obj[i].csmall);
            }
        }
        var depth3html = `<option value="0">상품 소분류</option>`;
        for (var i = 0; i < depth3.length; i++) {
            depth3html += `<option value="${depth3[i]}">${depth3[i]}</option>`;
        }
        document.getElementById("depth3").innerHTML = depth3html;
    }

    function deleteSize(idx) {
        document.getElementById("size" + idx).style.display = "none";
        var target = document.getElementById("size" + idx).innerText;
        var arr = target.split(' ');
        console.log(arr);
        for (var i = 0; i < size_obj.length; i++) {
            if (size_obj[i] === arr[2]) {
                size_obj.splice(i, 1);
                i--;
            }
        }
        console.log(size_obj);
    }

    function addSize() {
        var ssize = $("#ssize").val();
        console.log(ssize);
        size_obj.push(ssize);
        var shtml = `<p style="height: 45px; color: #3f729b;" id="size${idx}">사이즈 : ${ssize} <button style="float: right;" class="btn btn-secondary mb-1" onclick="deleteSize(${idx})">삭제</button></p>`;
        document.getElementById("sizeDiv").innerHTML += shtml;
        idx += 1;
    }

    function insertProduct() {
        var ssize = [];
        var pid = $("#pid").val();
        var bname = $("#bname").val();
        var clarge = $("#depth1").val();
        var cmedium = $("#depth2").val();
        var csmall = $("#depth3").val();
        var pname = $("#pname").val();
        var pprice = $("#pprice").val();
        var pdetail = $("#pdetail").val();
        var ccolorcode = $("#ccolorcode").val();
        var cimage1 = $("#cimage1").val();
        var cimage2 = $("#cimage2").val();
        var cimage3 = $("#cimage3").val();
        var ccolorimage = $("#ccolorimage").val();
        var cmatchpid = $("#cmatchpid").val();
        var samount = 0; // !!! 나중에 재고 입력받기
        for (var i = 0; i < size_obj.length; i++) {
            var temp = {
                pid: pid,
                ccolorcode: ccolorcode,
                samount: samount,
                ssize: size_obj[i]
            }
            ssize.push(temp);
        }
        var data = {
            pid: pid,
            bname: bname,
            clarge: clarge,
            cmedium: cmedium,
            csmall: csmall,
            pname: csmall,
            pprice: pprice,
            pdetail: pdetail,
            ccolorcode: ccolorcode,
            cimage1 : cimage1,
            cimage2 : cimage2,
            cimage3 : cimage3,
            ccolorimage : ccolorimage,
            cmatchpid : cmatchpid,
            ssize: ssize
        }
        console.log(data);
        $.ajax({
            url: "/back/product",
            method: "post",
            data: JSON.stringify(data),
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
            },
            cache: false,
            success: function (data) {
                console.log("GG");
                var lc = new layerAlert('완료되었습니다.');
                lc.confirmAction = function () {

                };
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }
</script>
<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#scrollmodal">
    Scrolling
</button>
<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">신상품 입력</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 ID</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pid" name="text-input" class="form-control">
                            <small class="form-text text-muted">상품 pid를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">상품 카테고리</label>
                        </div>
                        <div class="col-12 col-md-9" style="float: inherit">
                            <div class="noti-wrap">
                                <select name="select" id="depth1" class="form-control"
                                        style="width: 150px; margin-right:20px;" onchange="getDepth2()">
                                    <option value="0">상품 대분류</option>
                                </select>
                                <select name="select" id="depth2" class="form-control"
                                        style="width: 150px; margin-right:20px;" onchange="getDepth3()">
                                    <option value="0">상품 중분류</option>
                                </select>
                                <select name="select" id="depth3" class="form-control" style="width: 150px;">
                                    <option value="0">상품 소분류</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">브랜드 이름</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="bname" name="text-input" class="form-control">
                            <small class="form-text text-muted">브랜드를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 이름</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pname" name="text-input" class="form-control">
                            <small class="form-text text-muted">상품명을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 가격</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pprice"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                   class="form-control">
                            <small class="form-text text-muted">상품 가격을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 상세</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="textarea-input" id="pdetail" rows="9" class="form-control"></textarea>
                            <small class="form-text text-muted">상품 상세 내용을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 색상코드</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ccolorcode" class="form-control">
                            <small class="form-text text-muted">색상코드를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 이미지</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="cimage1" class="form-control">
                            <input type="text" id="cimage2" class="form-control">
                            <input type="text" id="cimage3" class="form-control">
                            <small class="form-text text-muted">상품 이미지를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">컬러칩 이미지</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ccolorimage" class="form-control">
                            <small class="form-text text-muted">컬러칩 이미지를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 사이즈</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" id="ssize" name="text-input" class="form-control">
                        </div>
                        <button onclick="addSize()" class="btn btn-secondary btn-sm" style="height: 38px;">사이즈 추가
                        </button>
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"></label>
                        </div>
                        <div class="col-md-7">
                            <small class="form-text text-muted" style="margin-bottom: 20px;">사이즈를 추가 해주세요</small>
                        </div>
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"></label>
                        </div>
                        <div class="col-md-7">
                            <div id="sizeDiv"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">함께 코디한 상품</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="cmatchpid" class="form-control">
                            <small class="form-text text-muted">함께 코디한 상품을 입력해주세요</small>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="insertProduct()">상품 등록</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="insertProduct()">상품 등록</button>
        </div>
    </div>
</div>
</div>


<!-- Jquery JS-->
<script src="vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/popper.min.js"></script>
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="vendor/slick/slick.min.js">
</script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="vendor/circle-progress/circle-progress.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="vendor/chartjs/Chart.bundle.min.js"></script>
<script src="vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/back/category",
            method: "get",
            contentType: "application/json",
            cache: false,
            success: function (data) {
                category_obj = data;
                console.log(data);
                for (var i = 0; i < category_obj.length; i++) {
                    if (depth1.includes(category_obj[i].clarge)) continue;
                    depth1.push(category_obj[i].clarge);
                }
                var depth1html = `<option value="0">상품 대분류</option>`;
                for (var i = 0; i < depth1.length; i++) {
                    depth1html += `<option value="${depth1[i]}">${depth1[i]}</option>`;
                }
                document.getElementById("depth1").innerHTML = depth1html;
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    });
</script>
<script src="js/main.js"></script>
</body>

</html>
<!-- end document-->
