<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
	
    <!-- Title Page-->
    <title>매장관리BO</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css"
          rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css"
          rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css"
          rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet"
          media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet"
          media="all">
    <link
            href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
            rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet"
          media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css"
          rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGSJCSLKXZ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-PGSJCSLKXZ');
	</script>
</head>

<body class="animsition">
<form id="CSRFForm" method="post">
    <div>
        <input type="hidden" name="CSRFHeadername"
               th:value="${_csrf.headerName}" /> <input type="hidden"
                                                        name="CSRFToken" th:value="${_csrf.token}" /> <input type="hidden"
                                                                                                             name="CSRFParameterName" th:value="${ _csrf.parameterName }" />
    </div>
</form>

<script>
    let category_obj = [], depth1 = [], depth2 = [], depth3 = [], size_obj = [];
    let idx = 0;
	
    function logoutClick() {
		$('#logoutForm').submit();
	}
    
    function getCsrfHeaderName() {
        return $("#CSRFForm [name='CSRFHeadername']").val();
    }

    function getYCsrfToken() {
        return $("#CSRFForm [name='CSRFToken']").val();
    }

    function getCsrfParameterName() {
        return $("#CSRFForm [name='CSRFParameterName']").val();
    }

    function getDepth2() {
        let depth1 = $("#depth1").val();
        for (var i = 0; i < category_obj.length; i++) {
            if (category_obj[i].clarge == depth1) {
                if (depth2.includes(category_obj[i].cmedium)) continue;
                depth2.push(category_obj[i].cmedium);
            }
        }
        var depth2html = `<option value="0">상품 중분류</option>`;
        for (var i = 0; i < depth2.length; i++) {
            depth2html += `<option value="${depth2[i]}">${depth2[i]}</option>`;
        }
        document.getElementById("depth2").innerHTML = depth2html;
        depth2 = [];
    }

    function getDepth3() {
        let depth1 = $("#depth1").val();
        let depth2 = $("#depth2").val();
        for (var i = 0; i < category_obj.length; i++) {
            if (category_obj[i].clarge == depth1 && category_obj[i].cmedium == depth2) {
                if (depth3.includes(category_obj[i].csmall)) continue;
                depth3.push(category_obj[i].csmall);
            }
        }
        var depth3html = `<option value="0">상품 소분류</option>`;
        for (var i = 0; i < depth3.length; i++) {
            depth3html += `<option value="${depth3[i]}">${depth3[i]}</option>`;
        }
        document.getElementById("depth3").innerHTML = depth3html;
        depth3 = [];
    }

    function deleteSize(idx) {
        document.getElementById("size" + idx).style.display = "none";
        var target = document.getElementById("size" + idx).innerText;
        var arr = target.split(' ');
        console.log(arr);
        for (var i = 0; i < size_obj.length; i++) {
            if (size_obj[i] === arr[2]) {
                size_obj.splice(i, 1);
                i--;
            }
        }
        console.log(size_obj);
    }

    function addSize() {
        var ssize = $("#ssize").val();
        console.log(ssize);
        size_obj.push(ssize);
        var shtml = `<p style="height: 45px; color: #3f729b;" id="size${idx}">사이즈 : ${ssize} <button style="float: right;" class="btn btn-secondary mb-1" onclick="deleteSize(${idx})">삭제</button></p>`;
        document.getElementById("sizeDiv").innerHTML += shtml;
        idx += 1;
    }

    function insertProduct() {
        var ssize = [];
        var pid = $("#pid").val();
        var bname = $("#bname").val();
        var clarge = $("#depth1").val();
        var cmedium = $("#depth2").val();
        var csmall = $("#depth3").val();
        var pname = $("#ipname").val();
        var pprice = $("#pprice").val();
        var pdetail = $("#pdetail").val();
        var ccolorcode = $("#ccolorcode").val();
        var ccolorimage = $("#ccolorimage").val();
        var cmatchpid = $("#cmatchpid").val();
        var samount = 0; // !!! 나중에 재고 입력받기
        for (var i = 0; i < size_obj.length; i++) {
            var temp = {
                pid: pid,
                ccolorcode: ccolorcode,
                samount: samount,
                ssize: size_obj[i]
            }
            ssize.push(temp);
        }
        var data = {
            pid: pid,
            bname: bname,
            clarge: clarge,
            cmedium: cmedium,
            csmall: csmall,
            pname: pname,
            pprice: pprice,
            pdetail: pdetail,
            ccolorcode: ccolorcode,
            ccolorimage : ccolorimage,
            cmatchpid : cmatchpid,
            ssize: ssize
        }
        var formData = new FormData();
        var fileInput = $('#cimage');
        var fileInput2 = $('#ccolorimage');
        console.log(fileInput2);
        // fileInput 개수를 구한다.
        for (var i = 0; i < fileInput.length; i++) {
            if (fileInput[i].files.length > 0) {
                for (var j = 0; j < fileInput[i].files.length; j++) {
                    console.log(" fileInput[i].files[j] :::"+ fileInput[i].files[j]);
                    // formData에 'file'이라는 키값으로 fileInput 값을 append 시킨다.
                    formData.append('cimage', $('#cimage')[i].files[j]);
                }
            }
        }
        console.log(fileInput2);
        formData.append("ccolorimage",fileInput2[0].files[0]);
        formData.append('key', new Blob([ JSON.stringify(data) ], {type : "application/json"}));
        console.log(data);
        $.ajax({
            url: "/back/product",
            method: "post",
            data: formData,
            contentType: false,               // * 중요 *
            processData: false,               // * 중요 *
            enctype : 'multipart/form-data',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
            },
            cache: false,
            success: function (data) {
                showList();
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }
</script>

<div class="modal fade" id="productinsertmodal" tabindex="-1" role="dialog" aria-labelledby="productinsertmodalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productinsertmodalLabel">신상품 입력</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 ID</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pid" name="text-input" class="form-control">
                            <small class="form-text text-muted">상품 pid를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="select" class=" form-control-label">상품 카테고리</label>
                        </div>
                        <div class="col-12 col-md-9" style="float: inherit">
                            <div class="noti-wrap">
                                <select name="select" id="depth1" class="form-control"
                                        style="width: 150px; margin-right:20px;" onchange="getDepth2()">
                                    <option value="0">상품 대분류</option>
                                </select>
                                <select name="select" id="depth2" class="form-control"
                                        style="width: 150px; margin-right:20px;" onchange="getDepth3()">
                                    <option value="0">상품 중분류</option>
                                </select>
                                <select name="select" id="depth3" class="form-control" style="width: 150px;">
                                    <option value="0">상품 소분류</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">브랜드 이름</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="bname" name="text-input" class="form-control">
                            <small class="form-text text-muted">브랜드를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 이름</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ipname" name="text-input" class="form-control">
                            <small class="form-text text-muted">상품명을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 가격</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="pprice"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                   class="form-control">
                            <small class="form-text text-muted">상품 가격을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 상세</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="textarea-input" id="pdetail" rows="9" class="form-control"></textarea>
                            <small class="form-text text-muted">상품 상세 내용을 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 색상코드</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="ccolorcode" class="form-control">
                            <small class="form-text text-muted">색상코드를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">상품 이미지</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="cimage" name="file-multiple-input" multiple class="form-control-file">
                            <small class="form-text text-muted">상품 이미지를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">컬러칩 이미지</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="file" id="ccolorimage" name="file-multiple-input" class="form-control-file">
                            <small class="form-text text-muted">컬러칩 이미지를 입력해주세요</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">상품 사이즈</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" id="ssize" name="text-input" class="form-control">
                        </div>
                        <button onclick="addSize()" class="btn btn-secondary btn-sm" style="height: 38px;">사이즈 추가
                        </button>
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"></label>
                        </div>
                        <div class="col-md-7">
                            <small class="form-text text-muted" style="margin-bottom: 20px;">사이즈를 추가 해주세요</small>
                        </div>
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label"></label>
                        </div>
                        <div class="col-md-7">
                            <div id="sizeDiv"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">함께 코디한 상품</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="cmatchpid" class="form-control">
                            <small class="form-text text-muted">함께 코디한 상품을 입력해주세요</small>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="openInsertModal()" data-dismiss="modal">상품 등록</button>
        </div>
    </div>
</div>
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html"> <img
                            src="images/icon/logo.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                     <span class="hamburger-box"> <span class="hamburger-inner"></span>
                     </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub"><a class="js-arrow" href="#"> <i
                            class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="index2.html">Dashboard 2</a></li>
                            <li><a href="index3.html">Dashboard 3</a></li>
                            <li><a href="index4.html">Dashboard 4</a></li>
                        </ul></li>
                    <li><a href="chart.html"> <i class="fas fa-chart-bar"></i>Charts
                    </a></li>
                    <li><a href="table.html"> <i class="fas fa-table"></i>Tables
                    </a></li>
                    <li><a href="form.html"> <i class="far fa-check-square"></i>Forms
                    </a></li>
                    <li><a href="calendar.html"> <i
                            class="fas fa-calendar-alt"></i>Calendar
                    </a></li>
                    <li><a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps
                    </a></li>
                    <li class="has-sub"><a class="js-arrow" href="#"> <i
                            class="fas fa-copy"></i>Pages
                    </a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="forget-pass.html">Forget Password</a></li>
                        </ul></li>
                    <li class="has-sub"><a class="js-arrow" href="#"> <i
                            class="fas fa-desktop"></i>UI Elements
                    </a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li><a href="button.html">Button</a></li>
                            <li><a href="badge.html">Badges</a></li>
                            <li><a href="tab.html">Tabs</a></li>
                            <li><a href="card.html">Cards</a></li>
                            <li><a href="alert.html">Alerts</a></li>
                            <li><a href="progress-bar.html">Progress Bars</a></li>
                            <li><a href="modal.html">Modals</a></li>
                            <li><a href="switch.html">Switchs</a></li>
                            <li><a href="grid.html">Grids</a></li>
                            <li><a href="fontawesome.html">Fontawesome Icon</a></li>
                            <li><a href="typo.html">Typography</a></li>
                        </ul></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    <img src="images/icon/handsome-logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="chart">
                                <i class="fas fa-chart-bar"></i>차트</a>
                        </li>
                        <li><a href="memberBO"> <i
                                class="far fa-check-square"></i>회원 관리
                        </a></li>
                        <li class="active"><a href="productBO"> <i class="fas fa-table"></i>매장 관리
                        </a></li>
                        <li>
                            <a href="qnaBO" style="bottom : 0">
                                <svg style="margin-right: 15px; margin-top: 5px;" xmlns="http://www.w3.org/2000/svg"
                                     width="16" height="15" fill="currentColor" class="bi bi-pencil-square"
                                     viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                                <div style="display: inline-block; margin-bottom: 10px">문의 관리</div>
                            </a>
                        </li>
                        <li><a href="sendMail"> <i class="zmdi zmdi-email"></i>메일 보내기
                        </a></li>
                        <li><a href="streamingBO"> <i class="fas fa-tv"></i>스트리밍 관리
                        </a></li>


                    </ul>
                </nav>
            </div>
        </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <!-- <form class="form-header" action="" method="POST">
                           <input class="au-input au-input--xl" type="text" name="search"
                              placeholder="Search for datas &amp; reports..." />
                           <button class="au-btn--submit" type="submit" id="productSearch">
                              <i class="zmdi zmdi-search"></i>
                           </button>
                        </form> -->
                        <div class="form-header" action="" method="">
                            <input onkeyup="enterkey();" id="pname"
                                   class="au-input au-input--xl" type="text" name="search"
                                   placeholder="상품명을 검색하세요." />
                            <button id="productSearch" class="au-btn--submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>
                        <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="/resources/_ui/desktop/common/images/admin.png" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">관리자</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">관리자</a>
                                                    </h5>
                                                    <span class="email" sec:authentication="principal.memail">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <!-- <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div> -->
                                            <div class="account-dropdown__footer">
	                                            <form id="logoutForm" action="/member/logout" method="post">
	                                            	<input type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }">
	                                            </form>
                                                <a href="#" onclick = "logoutClick();">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">상품 정보</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">All Properties</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Today</option>
                                            <option value="">3 Days</option>
                                            <option value="">1 Week</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>filters
                                    </button>
                                </div>
                                <div class="table-data__tool-right">
                                    <button type="button" class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#productinsertmodal">
                                        상품 등록
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>
                                        <th>상품 아이디</th>
                                        <th>카테고리</th>
                                        <th>브랜드</th>
                                        <th>상품 이름</th>
                                        <th>상품 상태</th>
                                        <th>가격</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="searchRes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="insertmodal" tabindex="-1" role="dialog"
     aria-labelledby="insertmodal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">상품 등록</h5>
                <button type="button" class="close" id="insert-ico-cancle" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row form-group">
                        상품 등록이 완료되었습니다.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" id="insertconfirm" class="btn btn-primary btn-sm" data-dismiss="modal">
                            <i class="fa fa-dot-circle-o"></i> 확인
                        </button>
                        <button type="button" id="insertcancle" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> 취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
     aria-labelledby="deletemodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">상품 삭제</h5>
                <button type="button" class="close" id="ico-cancle" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body card-block">
                    <div class="row form-group">
                        해당 상품을 삭제하시겠습니까?
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" id="confirm" class="btn btn-primary btn-sm" data-dismiss="modal">
                            <i class="fa fa-dot-circle-o"></i> 확인
                        </button>
                        <button type="button" id="cancle" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-ban"></i> 취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/popper.min.js"></script>
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="vendor/slick/slick.min.js">
</script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="vendor/circle-progress/circle-progress.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="vendor/chartjs/Chart.bundle.min.js"></script>
<script src="vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="js/main.js"></script>
<script>
    function numWithComma(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function showList(){
        var pname = document.getElementById("pname");
        if(pname.value.length < 2){
        	alert("상품명을 2글자 이상 입력해주세요.");
        	return;
        }

        $.ajax({
            type: "POST",
            url: "/back/productSearch",
            dataType: "JSON",
            contentType: "application/json",
            data: JSON.stringify({
                'pname': pname.value,
                "CSRFToken": getYCsrfToken()
            }),
            beforeSend: function(xhr){
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            },
            success: function(result){
                let html = '';
                if(result.length>0){

                    for(let i=0;i<result.length;i++){
                        let price = numWithComma(result[i].pprice);
                        html += `
                           <tr class="tr-shadow" data-id="${result[i].pid}" id="view_${result[i].pid}">
                           <td><strong>${result[i].pid}</strong></td>
                           <td>${result[i].category}</td>
                           <td style="color: green">${result[i].bname}</td>
                           <td>${result[i].pname}</td>`

                        if(result[i].pstatus === 1){
                            html += `<td><span class="text-success" style="font-weight:bold">신상품</span></td>`
                        }else if(result[i].pstatus === 2){
                            html += `<td><span class="text-warning" style="font-weight:bold">베스트</span></td>`
                        }else{
                            html += `<td><span class="text-info">기본</span></td>`
                        }

                        html += `<td>₩${price}</td>
                           <td>
                              <div class="table-data-feature">
                                 <button class="item modiBtn" type="button" data-toggle="modal" data-target="#scrollmodal" data-placement="top" title="" data-original-title="Edit">
                                     <i class="zmdi zmdi-edit"></i>
                                  </button>
                                 <button class="item" id="btn-modal" type="button" onclick="openModal('${result[i].pid}')" data-placement="top" title="" data-original-title="Delete" >
                                    <i class="zmdi zmdi-delete"></i>
                                 </button>
                              </div>
                           </td>
                        </tr>



                        <tr class="tr-shadow" data-id="${result[i].pid}" id="mview_${result[i].pid}" style="display: none;">
                           <td>${result[i].pid}</td>
                           <td>${result[i].category}</td>
                           <td style="color: ">${result[i].bname}</td>
                           <td>${result[i].pname}</td>`

                        if(result[i].pstatus === 1){
                            html += `<td><input type="text" name="pstatus" id="pstatus${result[i].pid}" value="신상품" style="color: indianred; font-weight: 600; background: aliceblue; border-radius: 20px; padding: 7px;"></td>`
                        }else if(result[i].pstatus === 2){
                            html += `<td><input type="text" name="pstatus" id="pstatus${result[i].pid}" value="베스트" style="color: indianred; font-weight: 600; background: aliceblue; border-radius: 20px; padding: 7px;"></td>`
                        }else{
                            html += `<td><input type="text" name="pstatus" id="pstatus${result[i].pid}" value="기본" style="color: indianred; font-weight: 600; background: aliceblue; border-radius: 20px; padding: 7px;"></td>`
                        }
                        html += `<td><input type="text" name="pprice" id="pprice${result[i].pid}" value="${result[i].pprice}" style="color: indianred; font-weight: 600; background: aliceblue; border-radius: 20px; padding: 7px;"></td>
                           <td>
                              <div class="table-data-feature">
                                 <button class="item modifyBtn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" style="background: lightsteelblue;">
                                     <i class="zmdi zmdi-edit"></i>
                                  </button>
                                 <button class="item" id="btn-modal" type="button" onclick="openModal('${result[i].pid}')" data-placement="top" title="" data-original-title="Delete" >
                                    <i class="zmdi zmdi-delete"></i>
                                 </button>
                                 <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="More">
                                    <i class="zmdi zmdi-more"></i>
                                 </button>
                              </div>
                           </td>
                        </tr>

                        <tr class="spacer"></tr>
                      `;
                    }
                } else {
                    html += `
                         <div class="alert alert-warning" role="alert">
                         <h4 class="alert-heading">해당 상품이 존재하지 않습니다!</h4>
                         <hr>
                         <p>상품을 다시 검색하세요.</p>
                         </div>
                      `;
                }
                $("#searchRes").html(html);
            }

        })
    }

    var productBtn = document.getElementById("productSearch");
    productBtn.addEventListener("click", function(event){
        showList();
    })

    function enterkey(){
        if(window.event.keyCode == 13){
            showList();
        }
    }

    $(document).on("click", ".modiBtn", function() {
        let pid = $(this).parents("tr").attr("data-id");
        $("#view_" + pid).css("display", "none");
        $("#mview_" + pid).css("display", "");
    });

    $(document).on("click", ".modifyBtn", function() {
        let pid = $(this).parents("tr").attr("data-id");
        let pprice = $("#pprice" + pid).val();
        let pstatus = 0;

        if($("#pstatus" + pid).val() == '신상품'){
            pstatus = 1;
        }else if($("#pstatus" + pid).val() == '베스트'){
            pstatus = 2;
        }else{
            pstatus = 0;
        }

        let modifyinfo = JSON.stringify({
            pid : pid,
            pprice : pprice,
            pstatus : pstatus,
            "CSRFToken": getYCsrfToken()
        });
        $.ajax({
            url:'/back/product',
            method:'PUT',
            contentType:'application/json;charset=utf-8',
            data: modifyinfo,
            datatype: 'json',
            beforeSend: function(xhr){
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
            },
            success:function() {
                showList();
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            },
        });
    });

    $(document).ready(function () {
        $("#searchRes").html('<div class="alert alert-light">'
            + '<h4 class="alert-heading">관리자 페이지에 오신 것을 환영합니다!</h4>'
            + '<hr>'
            + '<p>상단바에 있는 검색창에 상품명을 검색하세요.</p>'
            + '<p class="mb-0">상품 및 매장 관리를 하실 수 있습니다.</p>'
            + '</div>');

    })

    function openModal(pid){
        $("#deletemodal").modal("toggle");
        document.getElementById("confirm").setAttribute("onclick","deleteProduct('"+pid+"')");
    }

    function openInsertModal() {
        $("#insertmodal").modal("toggle");
        document.getElementById("insertconfirm").setAttribute("onclick","insertProduct()");
    }

    function deleteProduct(pid) {
        let url = "/back/delProduct";
        $.ajax({
            url: url,
            method: "delete",
            data: JSON.stringify({
                pid: pid,
                "CSRFToken": getYCsrfToken()
            }),
            contentType: "application/json",
            beforeSend: function(xhr){
                xhr.setRequestHeader(getCsrfHeaderName(), getYCsrfToken());
            },
            cache: false,
            success: function (res) {
                showList();
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }
    $(document).ready(function () {
        $.ajax({
            url: "/back/category",
            method: "get",
            contentType: "application/json",
            cache: false,
            success: function (data) {
                category_obj = data;
                console.log(data);
                for (var i = 0; i < category_obj.length; i++) {
                    if (depth1.includes(category_obj[i].clarge)) continue;
                    depth1.push(category_obj[i].clarge);
                }
                var depth1html = `<option value="0">상품 대분류</option>`;
                for (var i = 0; i < depth1.length; i++) {
                    depth1html += `<option value="${depth1[i]}">${depth1[i]}</option>`;
                }
                document.getElementById("depth1").innerHTML = depth1html;
            },
            error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    });
</script>


</body>
</html>
<!-- end document-->