<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
    <!-- Title Page-->
    <title>문의관리BO</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGSJCSLKXZ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-PGSJCSLKXZ');
	</script>
</head>

<body class="animsition">
   
    
    <script>
       var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");
      
      function confirm(){
    	  $("#deletemodal").modal("toggle");
		  document.getElementById("confirm").setAttribute("onclick","delQna()");
      }
      
      $(function(){
         document.getElementById("home-tab").click();
         $('#home-tab').addClass('active');
         
      });
      
      function go_edit(qid) {
          $('#home-tab').removeClass('active');
          document.getElementById("modify-tab").click();
          $('#modify-tab').addClass('active');
          $('#input_qid').val(qid);
          //$('#getQna').click();
          getQna();
      }
      
      // 회원 검색 조회
      function findUser(){
         var emailBean = {
                 email:$("#inputEmail").val()
             };
             $.ajax({
                 url: "/back/qnaView",
                 type: "POST",
                 data: emailBean,
                 beforeSend: function(xhr) {
                       xhr.setRequestHeader(header, token);
                    },
             })
             .done(function (fragment) {
                 $('#qnaInfo').replaceWith(fragment);
             });
      }

      function getQna() {
          var qid = $("#input_qid").val();
          console.log("GET QNA : " + qid);
          $.ajax({
              url : '/mypage/qnaDetail?qid=' + qid,
              type: 'get',
              dataType: 'JSON',
              beforeSend: function(xhr) {
                  xhr.setRequestHeader(header, token);
              },
              cache: false,
              success: function(res){
                  $("#qid").text(res.qid);
                  $("#memail").text(res.memail);
                  $("#qtitle").text(res.qtitle);
                  $("#qcontent").text(res.qcontent);
                  $("#qkind").text(res.qkind);
                  $("#qdate").text(res.qdate);
                  if(res.qimage != null) {
                      $("#qimagediv").html(`<img id="qimage" src="${res.qimage}" alt="thumimg" style="width:300px" class="tlt"/>`)
                  }
                  $("#qstatus").text(res.qstatus);
                  $("#qreplycontent").text(res.qreplycontent);
                  if(res.qreplydate != null) {
                      $("#qdatediv").html(`<div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="selectSm" class=" form-control-label">답글 등록 시간</label>
                                                  </div>
                                                  <div class="col-12 col-md-9"><p id="qreplydate"></p>
                        </div>
                                              </div>`);
                      $("#qreplydate").text(res.qreplydate);
                  }
              },
              error: function(res){
                  console.log(res)
              }
          });
      }
       // 회원 검색
       function findUser2(){
          var email = $("#input_email").val();
          $.ajax({
             url : '/back/member',
             type: 'POST',
             dataType: 'JSON',
             data : {
                'email' : email
             },
             beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                 },
                cache: false,
             success: function(res){
                console.log(res[0].gno);
                if (res[0].gno == 1){
                   $('#SelectLm option:eq(1)').prop('selected', true);
                }else if (res[0].gno == 2){
                   $('#SelectLm option:eq(2)').prop('selected', true);
                }else if (res[0].gno == 3){
                   $('#SelectLm option:eq(3)').prop('selected', true);
                }else if (res[0].gno == 4){
                   $('#SelectLm option:eq(4)').prop('selected', true);
                }else if (res[0].gno == 5){
                   $('#SelectLm option:eq(5)').prop('selected', true);
                }
                
                if (res[0].msleep == 1){
                   $('#SelectSleep option:eq(1)').prop('selected', true); //휴면
                } else{
                   $('#SelectSleep option:eq(2)').prop('selected', true); //비휴면
                }
                $("#mname").val(res[0].mname);
                $("#birth").val(res[0].birth);
                $("#telnum").val(res[0].telnum);
                $("#maddress").val(res[0].maddress);
             },
             error: function(res){
                console.log(res)
             }
          });
       }
       
       // 게시글 답변
       function modify(){
          console.log("QNA REPLY");
          console.log($("#input_qid").val());
          $.ajax({
             url : '/mypage/qnaReply',
             type: 'PUT',
             contentType : "application/json",
             data : JSON.stringify({
                qid : $("#input_qid").val(),
                 qreplycontent : $("#qreplycontent").val()
             }),
             beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                async: false,
                cache: false,
             success: function(res){
                location.href = "/back/qnaBO"
             },
             error: function(res){
                alert("수정 실패");
             }
          });
       }
       
       // 게시글 삭제
       function delQna2(qid){
		console.log('delQna2(qid)');
          console.log(qid);

           $.ajax({
               url : "/mypage/deleteQNA?qid=" + qid,
               type: 'DELETE',
               contentType: "application/json",
               beforeSend: function(xhr) {
                   xhr.setRequestHeader(header, token);
               },
               async : false,
               cache: false,
               success: function(res){
                   location.href="/back/qnaBO";
               },
               error: function(){
                   alert("error")
               }
           });
       }
       
       // 게시글 삭제
       function delQna(){
          console.log("DEL QNA");
          var qid = $("#input_qid").val();
          console.log(qid);
          $.ajax({
             url : "/mypage/deleteQNA?qid=" + qid,
             type: 'DELETE',
             contentType: "application/json",
             beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                 },
                async : false,
                cache: false,
             success: function(res){
            	 location.href="/back/qnaBO";
             },
             error: function(){
                alert("error")
             }
          });
       }
       
       // 모달 창 확인
       function go_check(){
          location.reload();
       }
       
       // delete modal
       function delModal(qid){
			console.log('delmodal');
			console.log('delQna2(' + qid + ')');
			$('#confirm').attr('onclick', 'delQna2(' + qid + ')');
			console.log('check')
        	$("#deletemodal").modal();
       }
		
       function numWithComma(num) {
    	  	  return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    	  	}
       
       $(document).ready(function () {
           // const mem = numWithComma([[${userTotal}]]);
    	   // const totAmount = numWithComma([[${amountTotal}]]);
    	   // const wAmount = numWithComma([[${amountWeek}]]);
    	   // const revenue = numWithComma([[${revenueTotal}]]);
    	   // $("#userTotal").html(mem);
    	   // $("#amountTotal").html(totAmount);
    	   // $("#amountWeek").html(wAmount);
    	   // $("#revenueTotal").html("₩" +revenue);
       });
       
       // ga tag
       function search(){
   	    gtag('event', '검색', {
   	        'event_label': '문의',
   	        'event_category': 'backoffice',
   	    });
   	}
    </script>
   
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>상품 관리</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-square"></i>회원 관리</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/handsome-logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        
                        <li>
                            <a href="chart">
                                <i class="fas fa-chart-bar"></i>차트</a>
                        </li>
                        <li class="active"><a href="memberBO"> <i
                        class="far fa-check-square"></i>회원 관리
                  </a></li>
                  <li><a href="productBO"> <i class="fas fa-table"></i>매장 관리
                  </a></li>
                  <li><a href="sendMail"> <i class="zmdi zmdi-email"></i>메일 보내기
                  </a></li>
                  <li><a href="streamingBO"> <i class="fas fa-tv"></i>스트리밍 관리
                  </a></li>
                        <li>
                            <a href="qnaBO">
                                <i class="fas fa-chart-bar"></i>문의 관리</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST" style="visibility:hidden">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">관리자</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">관리자</a>
                                                    </h5>
<!--                                                    <span class="email" sec:authentication="principal.memail">johndoe@example.com</span>-->
                                                </div>
                                            </div>
                                            <!-- <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div> -->
                                            <div class="account-dropdown__footer">
	                                            <form id="logoutForm" action="/member/logout" method="post">
	                                            	<input type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }">
	                                            </form>
                                                <a href="#" onclick = "logoutClick();">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                
                            </div>
                            
                            <div class="col-md-12">
                               <div class="card">
                           <div class="card-header">
                              <h4>문의 관리</h4>
                           </div>
                           <div class="card-body">
                              
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                 <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" >문의 조회</a>
                                 </li>
                                 <li class="nav-item" hidden>
                                    <a class="nav-link" id="modify-tab" data-toggle="tab" href="#modify" role="tab" aria-controls="modify" >Menu 2</a>
                                 </li>
                              </ul>
                              
                              <div class="tab-content pl-3 p-1" id="myTabContent">
                                 <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="table-responsive table-responsive-data2" id = "qnaInfo">
                                                <table class="table table-data2">
                                                    <thead>
                                                       <tr align = "right">
                                                          <div class="input-group">
                                                   <div class="input-group-btn">
                                                      <input type="text" id="inputEmail" name="input-small" placeholder="Email" class="input-sm form-control-sm form-control">
                                                   </div>
                                                   <button type="button" class="btn btn-primary btn-sm" onclick = "findUser(); search();">검색</button>
                                                              <input type="hidden" id="input_qid" name="input_qid"  placeholder="Email" class="form-control">
                                                </div>   
                                                       </tr>
                                                          
                                                        <tr>
                                                            <th>문의 번호</th>
                                                            <th>작성자</th>
                                                            <th>분류</th>
                                                            <th>제목</th>
                                                            <th>등록 날짜</th>
                                                            <th>상태</th>
                                                            <th>
                                                               
                                                               <!-- <input type="text" name="search" placeholder="Email" id = "inputEmail"/> -->
                                                        </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="tr-shadow" th:each = "qna : ${qnaList}">
                                                            <td th:text = "${qna.qid}"></td>
                                                            <td>
                                                                <span class="block-email" th:text = "${qna.memail}"></span>
                                                            </td>
                                                            <td th:text = "${qna.qkind}"></td>
                                                            <td th:text = "${qna.qtitle}"></td>
                                                            <td th:text = "${qna.qdate}"></td>
                                                            <td th:if = "${qna.qstatus == 0}">
                                                                <span class="role admin">답변 대기</span>
                                                            </td>
                                                            <td th:if = "${qna.qstatus == 1}">
                                                                <span class="role user">답변 완료</span>
                                                            </td>
                                                            <td>
                                                                <div class="table-data-feature">
                                                                    
                                                                    <button class="item" id="editQna" data-toggle="tooltip" data-placement="top" title="Edit" th:onclick = "go_edit([[${qna.qid}]]);">
                                                                        <i class="zmdi zmdi-edit"></i>
                                                                    </button>
                                                                    <button class="item" id="delQna" data-toggle="tooltip" data-placement="top" title="Delete" th:onclick="delModal([[${qna.qid}]])">
                                                                        <i class="zmdi zmdi-delete"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="spacer"></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                 </div>
                                  <div class="tab-pane fade" id="modify" role="tabpanel" aria-labelledby="modify-tab">
                                      <div class="card">
                                          <div class="card-header">
                                              <strong>게시글 조회</strong>
                                          </div>

                                          <div class="card-body card-block">
                                              <div class="from-group">
                                                  <div class="input-group">
                                                      <div class="input-group-btn">
                                                          <button type = "button" hidden class="btn btn-primary" onclick="findUser2()" id = "findUser2">
                                                              <i class="fa fa-search">Search</i>
                                                          </button>
                                                      </div>
                                                      <input type="hidden" id="input_email" name="input_email"  placeholder="Email" class="form-control">
                                                  </div>
                                              </div>
                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="company" class=" form-control-label">문의 번호</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="qid"></p>
                                                  </div>
                                              </div>
                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="vat" class=" form-control-label">작성자</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="memail"></p>
                                                  </div>
                                              </div>

                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="street" class=" form-control-label">분류</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="qkind"></p>
                                                  </div>
                                              </div>

                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="country" class=" form-control-label">제목</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="qtitle"></p>
                                                  </div>
                                              </div>

                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="selectSm" class=" form-control-label">등록 날짜</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="qdate"></p>
                                                  </div>
                                              </div>

                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="country" class=" form-control-label">내용</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <p id="qcontent"></p>
                                                  </div>
                                              </div>

                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="selectSm" class=" form-control-label">첨부 파일</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <div id="qimagediv"></div>
                                                  </div>
                                              </div>
                                                <hr>
                                              <div class="row form-group">
                                                  <div class="col col-md-3">
                                                      <label for="selectSm" class=" form-control-label">답글</label>
                                                  </div>
                                                  <div class="col-12 col-md-9">
                                                      <textarea name="textarea-input" id="qreplycontent" rows="9" class="form-control"></textarea>
                                                  </div>
                                              </div>

                                              <div id="qdatediv"></div>
                                              <div class="card-footer">
                                                  <button class="btn btn-primary btn-sm" onclick = "modify();">
                                                      <i class="fa fa-dot-circle-o"></i> 수정하기
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                           </div>
                        </div>
                            </div>
                                <!-- END USER DATA-->
                            </div>
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        
        <!-- modal static -->
        <input type="hidden" id="delWho" value="">
        <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
	     aria-labelledby="deletemodalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-md" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="scrollmodalLabel">회원 탈퇴</h5>
		                <button type="button" class="close" id="ico-cancle" data-dismiss="modal"
		                        aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body">
		                <div class="card-body card-block">
		                    <div class="row form-group">
		                        해당 게시글을 삭제하시겠습니까?
		                    </div>
		                </div>
		                <div class="card-footer">
		                    <div class="float-right">
		                        <button type="button" id="confirm" class="btn btn-primary btn-sm" data-dismiss="modal">
		                            <i class="fa fa-dot-circle-o"></i> 확인
		                        </button>
		                        <button type="button" id="cancle" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
		                            <i class="fa fa-ban"></i> 취소
		                        </button>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

      <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
          data-backdrop="static">
            <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="staticModalLabel">Success</h5>
                     <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button> -->
                  </div>
                  <div class="modal-body">
                     <p>
                        처리되었습니다.
                     </p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary" onclick = "go_check();">확인</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- end modal static -->
         
         <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
	      aria-labelledby="deletemodalLabel" aria-hidden="true">
	      <div class="modal-dialog modal-md" role="document">
	         <div class="modal-content">
	            <div class="modal-header">
	               <h5 class="modal-title" id="scrollmodalLabel">회원 삭제</h5>
	               <button type="button" class="close" id="ico-cancle" data-dismiss="modal"
	                  aria-label="Close">
	                  <span aria-hidden="true">&times;</span>
	               </button>
	            </div>
	            <div class="modal-body">
	               <div class="card-body card-block">
	                  <div class="row form-group">
	                     해당 회원을 삭제하시겠습니까?
	                  </div>
	               </div>
	               <div class="card-footer">
	               	<div class="float-right">
	                  <button id="confirm" class="btn btn-primary btn-sm" data-dismiss="modal">
	                     <i class="fa fa-dot-circle-o"></i> 확인
	                  </button>
	                  <button type="button" id="cancle" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">
	                     <i class="fa fa-ban"></i> 취소
	                  </button>
	                 </div>
	               </div>
	            </div>
	         </div>
	      </div>
	</div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->