<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/common}">
<div layout:fragment="content">     
		<script type="text/javascript">
        var newItemsSlider = "";
        var bestItemsSlider = "";
        var newProductCategory = "";
        var bestProductCategory = "";
        var checkInstagramInfo = false;
        var allLinkTemp = [];
        var allUrlTemp = [];
        var allCaptionTemp = [];
        var allIndex = 0;
        var accountCount = 0;
        var horiz = $(".horiz_topbanner").length;
        
        var rate_en = "";
        var symbol_en = "";
        var rate_zh = "";
        var symbol_zh = "";
        
        var sleep = 1;
        
       
        
        $(document).ready(function(){
            var todayDate = new Date();
            
           
            if(horiz > 0) {
                $("#mainNoticeWrap").css("top","230px");
                $(".popWrap1901").css("top", "78px");
            }
            
            mainSlider1903();
            edtSlider1903();
            videoPlay1903();
//             신상품, 베스트 상품, 매거진 리스트 조회에
            $.ajax({
            	type: "get",
            	url : "/mainCategoryList",
                async : true,
                contentType : "application/json",
                error : function( request, status, error ){
                    console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
                }, 
                success : function( result ) {
                	if(result.length > 0) {
                		var newHtml = "";
                		var bestHtml = "";
                		var newCount = 0;
                		var bestCount = 0;
                		var isoCode = "ko";
                		var categoryName = "";
                		
                		for(var i=0; i < result.length; i++) {
                			if(isoCode == "ko") {
                				categoryName = result[i].categoryName;
                			}
                			// displayTypeYn은 메인에 보여줄 카테고리인지 체크
                			// displayType이 true이면 신상품, false이면 베스트
               				if(result[i].displayTypeYn == true) {
	                			if(result[i].displayType == true) {
		                			if(newCount == 0) {
		                				newProductCategory = result[i].categoryCode;
		                				newHtml += '<li class="on">';
		                			} else {
		                				newHtml += '<li>';
		                			}
		                			
		                			newHtml += '	<a href="javascript:getNewProductList(\''+result[i].categoryCode+'\')" onclick="GA_Event(\'메인\', \'신상품\', \''+categoryName+'\');">'+categoryName+'</a>';
		                			newHtml += '</li>';
		                			newCount++;
	                			} else if(result[i].displayType == false) {
	                				if(bestCount == 0) {
	                					bestProductCategory = result[i].categoryCode;
	                					bestHtml += '<li class="on">';
		                			} else {
		                				bestHtml += '<li>';
		                			}
		                			
	                				bestHtml += '	<a href="javascript:getBestProductList(\''+result[i].categoryCode+'\')" onclick="GA_Event(\'메인\', \'베스트\', \''+categoryName+'\');">'+categoryName+'</a>';
	                				bestHtml += '</li>';
	                				bestCount++;
	                			}
               				}
                		}
                		$(".nbe_cnt.new .product_left_menu > ul").html(newHtml);
                		tabNew();
                		getNewProductList(newProductCategory);
                		$(".nbe_cnt.best .product_left_menu > ul").html(bestHtml);
                		tabBest();
                		getBestProductList(bestProductCategory);
                	}
                }
            });
            
            getMagazineList();
            
            var getUrlParameter = function getUrlParameter(sParam) {//URL에 포함된 파라미터 이용하기
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
            //layerPopup front test (노출 기한 상관 없이 pk 이용하여 메인에서 팝업 보기)
            var pop1 = getUrlParameter('pop1'); 
            if (typeof pop1 == "undefined") pop1 = "N";
                     
            $(".closeLayerPopup").on("click", function(){
                if($(this).hasClass("stoptoday")){//오늘은 그만보기
                    var todayDate = new Date(); 
                    var cookieId = $(this).parents(".popwrap_renewal1910").attr("id");
                    setCookie(cookieId, todayDate.getDate(),1);
                }
                $(this).parents(".popwrap_renewal1910").css("display","none");
            });
            
            
            var todayDate = new Date();
            
            //전환된 회원일 경우 처리
                    // 여기 확인 비로그인시 주석처리
                    setCookie("memberTransPopup", 'Y', 90);
                
        });
      
	    // 메인페이지 Ajax 
	    // 여성 WE , 남성 ME, 포인트 ACC WE03
        function getNewProductList(categoryCode) {
        	$.ajax({
        		type: "get",
            	url : "/mainNewProductList"+"?categoryCode="+categoryCode,
                dataType : "json",
                async : true,
                contentType : "application/json",
                error : function( request, status, error ){
                    console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
                }, 
                success : function( result ) {
                	var html = "";
                	if(result.length > 0) {
                	    window.sessionStorage.setItem('main_new_ecommerceDataList', JSON.stringify(result));
                		html += '<div class="nbe_cnt_inner swiper-container" id="newListSlider">';
                		html += '	<ul class="items_list swiper-wrapper">';
                		for(var i=0; i < result.length; i++) {
               			html += '		<li class="swiper-slide">';
               			html += '			<div class="item_box">';
                		html += `				<a href="/detail/${result[i].productCode}" class="item_info1" onclick="javascript:GA_Event('메인','신상품','${result[i].productCode}'); GA_main('newImg',$(this));setEcommerceData('${i}', 'NEW',  '${categoryCode}');">`;
               			html += '					<span class="item_img">';
               			html += '						<img src="'+result[i].t01imageUrl+'" alt="" name="'+result[i].productName+'" class="respon_image">';
                		html += '					</span>';
               			html += '				</a>';
               			html += `				<a href="/detail/${result[i].productCode}" class="item_info2" onclick="javascript:GA_Event('메인','신상품','${result[i].productCode}'); GA_main('new',$(this));setEcommerceData('{$i}', 'NEW', '${categoryCode}');">`;
               			html += '					<span class="brand">'+result[i].brandName+'</span>';
               			html += '					<span class="price">'+ getExchangePrice(result[i].price) +'</span>';
               			html += '				</a>';
               			html += '			</div>';
               			html += '		</li>';
                		}
                		html += '	</ul>';
                		html += '<div class="swiper-button-next"></div>';
                        html += '<div class="swiper-button-prev"></div>';
                		html += '</div>';
                		$(".product_list1903 .nbe_cnt.new .nbe_cnt_inner_wrap").html(html);
			        	newProductListSlider1903();
                	} else {
                		$(".product_list1903 .nbe_cnt.new .nbe_cnt_inner_wrap").html(html);
                	}
                }
        	});
        }
        
        function getBestProductList(categoryCode) {
        	$.ajax({
        		type: "get",
            	url : "/mainBestProductList"+"?categoryCode="+categoryCode,
                dataType : "json",
                async : true,
                contentType : "application/json",
                error : function( request, status, error ){
                    console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
                }, 
                success : function( result ) {
                	var html = "";
                	if(result.length > 0) {
                	    window.sessionStorage.setItem('main_best_ecommerceDataList', JSON.stringify(result));
                		html += '<div class="nbe_cnt_inner swiper-container" id="bestListSlider">';
                		html += '	<ul class="items_list swiper-wrapper">';
                		for(var i=0; i < result.length; i++) {
               			html += '		<li class="swiper-slide">';
               			html += '			<div class="item_box">';
                		html += `				<a href="/detail/${result[i].productCode}" class="item_info1" onclick="javascript:GA_Event('메인','베스트','${result[i].productCode}'); GA_main('bestImg',$(this));setEcommerceData('${i}', 'BEST',  '${categoryCode}');">`;
               			html += '					<span class="item_img">';
               			html += '						<img src="'+result[i].t01imageUrl+'" alt="" name="'+result[i].productName+'" class="respon_image" onclick="GA_main(\'bestImg\',$(this))">';
               			html += '					</span>';
               			html += '				</a>';
                		html += `				<a href="/detail/${result[i].productCode}" class="item_info2" onclick="javascript:GA_Event('메인','베스트','${result[i].productCode}'); GA_main('best',$(this));setEcommerceData('${i}', 'BEST',  '${categoryCode}');">`;
               			html += '					<span class="brand">'+result[i].brandName+'</span>';
               			html += '					<span class="price">'+ getExchangePrice(result[i].price) +'</span>';
               			html += '				</a>';
               			html += '			</div>';
               			html += '		</li>';
                		}
                		html += '	</ul>';
                		html += '<div class="swiper-button-next"></div>';
                        html += '<div class="swiper-button-prev"></div>';
                		html += '</div>';
                		$(".product_list1903 .nbe_cnt.best .nbe_cnt_inner_wrap").html(html);
	                	bestProductListSlider1903();
                	}else {
                    	$(".product_list1903 .nbe_cnt.best .nbe_cnt_inner_wrap").html(html);
                    }
                }
        	});
        }
        
        function getMagazineList() {
        	$.ajax({
        		type: "get",
            	url : "/mainMagazine",
                cache : false,
                dataType : "json",
                async : true,
                contentType : "application/json",
                error : function( request, status, error ){
                    console.log( "code:" + request.status+"\n" + "message:" + request.responseText+"\n" + "error:" + error );
                }, 
                success : function( result ) {
                	var categoryText = "";
                	var url = "";
                	var html = "";
                	if(result.length > 0) {
                		for(var i=0; i < result.length; i++) {
                			if(result[i].category == "뉴스") {
                				categoryText = "뉴스";
                			} else if(result[i].category == "SPOTLIGHT_ON") {
                				categoryText = "위클리 픽";
                			} else if(result[i].category == "HANDSOME_PEOPLE") {
                				categoryText = "핸썸피플";
                			} else if(result[i].category == "TREND_TO_KNOW") {
                				categoryText = "셀렉션";
                			} else if(result[i].category == "HOW_TO_STYLE") {
                				categoryText = "커버스토리";
                			} else if(result[i].category == "EDITORS_PICK") {
                				categoryText = "스타일 가이드";
                			} else if(result[i].category == "PLAY_PLAY") {
                				categoryText = "플레이";
                			} else if(result[i].category == "SHARP_SOME") {
                                categoryText = "#SOME";
                            }
                			
                			html += '<li class="swiper-slide">';
                			if(result[i].category == "뉴스") {
                			html += `	<a href="javascript:void(0)" class="img_wrap" onclick="GA_Event('메인','매거진','${result[i].desktopTitle}'); GA_main('${i}'theMagazine',$(this));">`;
                			} else {
                   			html += `	<a href="javascript:void(0)" class="img_wrap" onclick="GA_Event('메인','매거진','${result[i].desktopTitle}'); GA_main('${i}'theMagazine',$(this));">`;
                			}
                			if(result[i].imageUrl.indexOf(".mp4") > -1){
                			    html += '          <video autoplay muted playsinline loop preload="auto" style="width:100%; max-height:352px; auto;outline:none;" poster="">';
                			    html += '          <source src="'+result[i].imageUrl+'" type="video/mp4">';
                			    html += '          </video>';
                            }else{
                                html += '       <img src="'+result[i].imageUrl+'/dims/resize/348x352" alt="매거진이미지">';
                            }
                			
                			
                			html += '	</a>';
                			html += '	<div class="txt_wrap">';
                			html += '		<p class="magazine_tit">'+categoryText+'</p>';
                			html += '		<p class="tit">'+result[i].desktopTitle+'</p>';
                			html += '		<p class="s_t">'+result[i].desktopSubTitle+'</p>';
                			if(result[i].category == "뉴스") {
                			html += '		<a href="javascript:void(0)" class="detail" onclick="GA_main(\''+i+'theMagazine\',$(this));">자세히 보기</a>';
                			} else {
                			html += '		<a href="javascript:void(0)" class="detail" onclick="GA_main(\''+i+'theMagazine\',$(this));">자세히 보기</a>';
                			}
                			html += '	</div>';
                			html += '</li>';
                			html += '';
                		}
                		$(".the_magazine_wrap1903 .magazine_slider1903 > ul").html(html);
        				magazinSlider1903();
                	}
                }
        	});
        }
        
         // 상단 띠 배너 닫기
        function popClose03() {
            $('.horiz_topbanner, .horiz_topbanner_inner').slideUp();
            if(horiz > 0) {
                $("#mainNoticeWrap").css("top","150px");
            }
        };
		
    function mainSlider1903() {
        $('.big_banner_inner').each(function(){
            if($(this).hasClass('init')){
                $(this).removeClass('init');
            }
        });
        
        var bannerIndex1 = $('#mainSlider1903_0 .swiper-slide').length;
        var bannerIndex2 = $('#mainSlider1903_1 .swiper-slide').length;
        var bannerIndex3 = $('#mainSlider1903_2 .swiper-slide').length;
        
        var interleaveOffset = 1;
        var swiperOptions0 = {
            initialSlide:0,
            loop: bannerIndex1 === 1 ? false:true,
            autoplay: {
                delay: 4000,
                autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
                disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
            },
            loopAdditionalSlides: 6,
            speed: 1000,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next.bigb',
                prevEl: '.swiper-button-prev.bigb',
            },
            simulateTouch:false,
            parallax: true,
            grabCursor: true,
            watchSlidesProgress: true,
            slidesPerView: 'auto',
            centeredSlides:true,
            on: {
                progress: function(){
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        var slideProgress = swiper.slides[i].progress,
                                innerOffset = swiper.width * interleaveOffset,
                                innerTranslate = slideProgress * innerOffset;
                        swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                            "translate3d(" + innerTranslate + "px, 0, 0)";
                    }
                },
                touchStart: function() {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = "";
                    }
                },
                setTransition: function(speed) {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = speed + "ms";
                        swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                            speed + "ms";
                    }
                }
            }
        }
            var swiperOptions1 = {
                initialSlide:1,
                loop: bannerIndex2 === 1 ? false:true,
                autoplay: {
                    delay: 4000,
                    autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
                    disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
                },
                loopAdditionalSlides: 6,
                speed: 1000,
                navigation: {
                    nextEl: '.swiper-button-next.bigb',
                    prevEl: '.swiper-button-prev.bigb',
                },
                parallax: true,
                grabCursor: true,
                watchSlidesProgress: true,
                slidesPerView: 'auto',
                centeredSlides:true,
                on: {
                    progress: function(){
                        var swiper = this;
                        for (var i = 0; i < swiper.slides.length; i++) {
                            var slideProgress = swiper.slides[i].progress,
                                    innerOffset = swiper.width * interleaveOffset,
                                    innerTranslate = slideProgress * innerOffset;
                            swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                                "translate3d(" + innerTranslate + "px, 0, 0)";
                        }
                    },
                    touchStart: function() {
                        var swiper = this;
                        for (var i = 0; i < swiper.slides.length; i++) {
                            swiper.slides[i].style.transition = "";
                        }
                    },
                    setTransition: function(speed) {
                        var swiper = this;
                        for (var i = 0; i < swiper.slides.length; i++) {
                            swiper.slides[i].style.transition = speed + "ms";
                            swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                                speed + "ms";
                        }
                    }
                }
            }
        var swiper2length = $("#mainSlider1903_2 > ul > li").length;
        if(swiper2length > 0){
            swiper2length -= 1;
        }
                var swiperOptions2 = {
                    initialSlide: swiper2length ,
                    loop: bannerIndex3 === 1 ? false:true,
                    autoplay: {
                        delay: 4000,
                        autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
                        disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
                    },
                    loopAdditionalSlides: 6,
                    speed: 1000,
                    navigation: {
                        nextEl: '.swiper-button-next.bigb',
                        prevEl: '.swiper-button-prev.bigb',
                    },
                    parallax: true,
                    grabCursor: true,
                    watchSlidesProgress: true,
                    slidesPerView: 'auto',
                    centeredSlides:true,
                    on: {
                        progress: function(){
                            var swiper = this;
                            for (var i = 0; i < swiper.slides.length; i++) {
                                var slideProgress = swiper.slides[i].progress,
                                        innerOffset = swiper.width * interleaveOffset,
                                        innerTranslate = slideProgress * innerOffset;
                                swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                                    "translate3d(" + innerTranslate + "px, 0, 0)";
                            }
                        },
                        touchStart: function() {
                            var swiper = this;
                            for (var i = 0; i < swiper.slides.length; i++) {
                                swiper.slides[i].style.transition = "";
                            }
                        },
                        setTransition: function(speed) {
                            var swiper = this;
                            for (var i = 0; i < swiper.slides.length; i++) {
                                swiper.slides[i].style.transition = speed + "ms";
                                swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                                    speed + "ms";
                            }
                        }
                    }
        };
        
        $("#mainSlider1903_1").find("div.a_txt_wrap").hide();
        $("#mainSlider1903_2").find("div.a_txt_wrap").hide();
        var swiper01 = new Swiper("#mainSlider1903_0", swiperOptions0);
        var swiper02 = new Swiper("#mainSlider1903_1", swiperOptions1);
        var swiper03 = new Swiper("#mainSlider1903_2", swiperOptions2);
    }
    
    
    function edtSlider1903(){//기획전 슬라이더
        $('.edt_banner_wrap1903 .edt_list1903').each(function(idx){
            var swiper1903 = new Swiper('#edtSlider1903_'+idx, {
                    slidesPerView: 3,
                    freeMode: false,
                    spaceBetween: 11,
                    simulateTouch:true,
                    pagination: {
						el: '.edt-swiper-pagination',
					},
                    navigation: {
                        nextEl: '.swiper-button-next.btn'+idx,
                        prevEl: '.swiper-button-prev.btn'+idx,
                    }
            });
            
            if($(this).find('.swiper-slide').length < 4){
                $(this).find('.swiper-button-next, .swiper-button-prev').hide();
            }
        });
    }
    
    function newProductListSlider1903(){//신상품 슬라이더
        var swiper1903 = new Swiper('#newListSlider', {
                slidesPerView: 'auto',
                freeMode: false,
                simulateTouch:false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
        });
    }
    function bestProductListSlider1903(){//베스트 슬라이더
        var swiper1903 = new Swiper('.product_list1903 .nbe_cnt.best .nbe_cnt_inner', {
                slidesPerView: 'auto',
                freeMode: false,
                simulateTouch:false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                }
        });
    }
    function tabNew(){
        var $newMenu = $('.product_list1903 .nbe_cnt.new .product_left_menu');
        var $newProd = $('.product_list1903 .nbe_cnt.new .nbe_cnt_inner');
        $newMenu.find('a').on('click',function(){
            $newMenu.find('li').removeClass('on');
            $(this).closest('li').addClass('on');
        });
    }
    function tabBest(){
        var $bestMenu = $('.product_list1903 .nbe_cnt.best .product_left_menu');
        var $bestProd = $('.product_list1903 .nbe_cnt.best .nbe_cnt_inner');
        $bestMenu.find('a').on('click',function(){
            $bestMenu.find('li').removeClass('on');
            $(this).closest('li').addClass('on');
        });
    }
    
    function magazinSlider1903(){
        var swiper1903 = new Swiper('#magazinSlider1903', {
               slidesPerView: 3,
               freeMode: false,
               spaceBetween: 20,
               navigation: {
                   nextEl: '.themagazine_arrow.next',
                   prevEl: '.themagazine_arrow.prev',
               }
        });
        
        $(".the_magazine_wrap1903 .themagazine_arrow.prev").css("opacity", "1");
        $(".the_magazine_wrap1903 .themagazine_arrow.next").css("opacity", "1");
        $(".the_magazine_wrap1903 .magazine_slider1903 ul").css("opacity", "1");
    }//더매거진 슬라이더
    
    function videoWidth(){
        var target = $('.video_area1903').attr('id');
        var idx = 0;
        var width = $("#"+ target +" div:eq("+idx+")").width();
        var height = $("#"+ target +"  div:eq("+idx+")").height();
        $('#'+target).find('video').css({'width':width+'px','height':height+'px'});
        $('#'+target).css({'width':width+'px','height':height+'px'});
    }
    function videoPlay1903(){
	    $('.video_area1903').children('a').on('click',function(){
	        $(this).find('.video_main').next('video').show();
	        $(this).find('.video_main').hide();
	        $('#video')[0].play();
	    });
    }
    function videoEnded(target, idx){
	    $("#"+ target +" video").hide();
	    $("#"+ target +" div:eq("+idx+")").show();
    }

    	function GA_main(action,e){
    		var index;
    		var label;
    		var eventAction;
    		if(action == "banner"){
    			label = escape(e.find('.title').text());
    			index = parseInt(e.parent().attr('data-swiper-slide-index')) + 1;
    			eventAction = "배너_"+index;
    			
    		} else if (action == "eventBanner"){
    			eventAction = "이벤트_배너";
    			label = escape(e.find('.s_title').text());
    			
    		} else if (action == "exhibitionBanner"){
    			eventAction = "기획전_배너";
    			label = escape(e.find('.s_title').text());
    			
    		} else if (action == "exhibitionListImage0"){
    			eventAction = "기획전_리스트";
    			label = escape(e.parents().find('.edt_banner_inner1 .s_title').text())+"_"+escape(e.parent().find('.title').html());
    			
    		} else if (action == "exhibitionList0"){
    			eventAction = "기획전_리스트";
    			label = escape(e.parents().find('.edt_banner_inner1 .s_title').text())+"_"+escape(e.find('.title').html());
    			
    		} else if (action == "exhibitionListImage1"){
    			eventAction = "기획전_리스트";
    			label = escape(e.parents().find('.edt_banner_inner3 .s_title').text())+"_"+escape(e.parent().find('.title').html());
    			
    		} else if (action == "exhibitionList1"){
    			eventAction = "기획전_리스트";
    			label = escape(e.parents().find('.edt_banner_inner3 .s_title').text())+"_"+escape(e.find('.title').html());
    			
    		} else if (action == "newImg") {
    			eventAction = "신상품";
    			label = escape(e.parents().find('.nbe_cnt.new li.on').text())+"_"+escape(e.find('img').attr('name'));
    			
    		} else if (action == "new") {
    			eventAction = "신상품";
    			label = escape(e.parents().find('.nbe_cnt.new li.on').text())+"_"+escape(e.parent().find('img').attr('name'));
    			
    		} else if (action == "bestImg") {
    			eventAction = "베스트";
    			label = escape(e.parents().find('.nbe_cnt.best li.on').text())+"_"+escape(e.attr('name'));
    			
    		} else if (action == "best") {
    			eventAction = "베스트";
    			label = escape(e.parents().find('.nbe_cnt.best li.on').text())+"_"+escape(e.parent().find('img').attr('name'));
    			
    		} else if (action == "exhibitionVideo"){    		
    			eventAction = "기획영상";
    			label = escape(e.parents().find('.video_main_wrap p.tit').text());
    			
    		} else if (action.indexOf("theMagazine") > -1){
    			action.split("the");
    			index = parseInt(action[0])+1;
    			eventAction = "더매거진";
    			label = index+"_"+ escape(e.parent().find('p.tit').text());
    		} else if (action == "recommend"){
    			eventAction = "당신만을위한추천";
    			label = escape(e.parent().find('.title').text());
    		} else if (action == "moment"){
    			eventAction = "한섬모먼트";
    			label = e.find('.account p').text().substring(1);
    		}
    	
    		
    		GA_Event("메인", eventAction,label);
    	}
    	
        //CMS 컴포넌트 처리용 GA 전자상거래 메인데이터
    	function setEcommerceDataCompnt(productCode, brandName, productName, location){
    	    var listNm = "";
    	    var position;
    	    if(location == "0"){
    	        listNm = "메인_기획전";
    	        position = 1;
    	    }else if(location == "1"){
                listNm = "메인_기획전_하단";
                position = 2;
            }
    	    
            dataLayer.push({
	                'event': 'ga_event', 'layerCategory' : 'Ecommerce', 'layerAction' : 'Click','layerLabel' : undefined,
	                'ecommerce': {
	                'currencyCode': 'KRW', //통화
	                'click': {
	                'actionField': { 'list': listNm }, //상품 리스트명
	                'products':
		                [{
			                "id": productCode.indexOf("_") > -1 ? productCode.split("_")[0] : productCode, //상품코드
			                "name": productName.replace(/\&#039;/gi,"'"), //상품명
			                "brand": brandName.replace(/\&#039;/gi,"'"), //상품 브랜드
			                "category": "", //상품 카테고리
			                "position": position //상품 위치
		                }]
	                }
                }
            });
            /* Ecommerce data 초기화
            dataLayer에 남아 있는 경우에는 전자상거래 단계만을 위해 사용하는
            필드들이 세팅되어 있으므로 undefined를 통해 초기화합니다. */
            dataLayer.push({
	            'layerCategory' : undefined,
	            'layerAction' : undefined,
	            'nonInteraction' : false,
	            'ecommerce' : undefined
            });
        }
    	
    	//기본 GA 전자상거래 메인데이터
    	function setEcommerceData(idx, type, categoryCode){
    	    var listNm = "";
    	    var position;
    	    var prodList;
    	    
    	    if(type == "NEW"){
    	        prodList = JSON.parse(window.sessionStorage.getItem('main_new_ecommerceDataList'));
    	        if(categoryCode == "WE"){
                    listNm += "메인_신상품_여성";
                    position = 3;
                }else if(categoryCode == "ME"){
                    listNm += "메인_신상품_남성";
                    position = 4;
                }
    	    }else if(type == "BEST"){
    	        prodList = JSON.parse(window.sessionStorage.getItem('main_best_ecommerceDataList'));
    	        if(categoryCode == "WE"){
                    listNm += "메인_베스트_여성";
                    position = 5;
                }else if(categoryCode == "ME"){
                    listNm += "메인_베스트_남성";
                    position = 6;
                }
            }else if(type == "RECOMMEND"){
                
                prodList = JSON.parse(window.sessionStorage.getItem('main_recommend_ecommerceDataList'));
                listNm += "메인_개인화 추천";
                position = 7;
                
    	    }
    	    
    	    if(prodList != null && typeof prodList != undefined){
                if(prodList.length > 0){
                    var prodInfo = prodList[idx];
                    
                    if(listNm != ""){
			    	    dataLayer.push({
					        'event': 'ga_event', 'layerCategory' : 'Ecommerce', 'layerAction' : 'Click','layerLabel' : undefined,
					        'ecommerce': {
					        'currencyCode': 'KRW', //통화
					        'click': {
						        'actionField': { 'list': listNm }, //상품 리스트명
						        'products':
							        [{
		                                'id': prodInfo.baseProductCode.indexOf("_") > -1 ? prodInfo.baseProductCode.split("_")[0] : prodInfo.baseProductCode,  //상품코드
		                                'name': prodInfo.productName, //상품명
		                                'brand': prodInfo.brandName, //상품 브랜드
		                                'category': '', //상품 카테고리
		                                'position': position //상품 위치
		                            }]
						        }
					        }
				        });
				        dataLayer.push({
					        'layerCategory' : undefined,
					        'layerAction' : undefined,
					        'nonInteraction' : false,
					        'ecommerce' : undefined
				        });
                    }
                    
                    if(type == "RECOMMEND"){
                        brazeLogCustomEvent(type, idx);
                    }
                }
    	    }
    	}
		
		function getExchangePrice(price) {
			var exchangePrice = "";
				exchangePrice = "₩" + addComma(parseInt(price));
			return exchangePrice;
		}
        
	</script>

    <!-- bodyWrap -->
<div id="bodyWrap" style="padding-bottom:0;">
        <div class="notice_pop" id="mainNoticeWrap"></div>
        <div id="membershipInfoMainWrap"></div>
        <!-- main_container-->
        <div class="big_banner1903">
            <div class="swiper-container big_banner_inner swiper-container-horizontal swiper-container-wp8-horizontal" id="mainSlider1903_0">
                <div class="big_banner_frame"></div>
                <ul class="slides swiper-wrapper" style="transform: translate3d(-12228px, 0px, 0px); transition-duration: 0ms;">
                   <li class="swiper-slide" data-swiper-slide-index="0" style="width:600px;height:600px; transition: all 0ms ease 0s;">
            <div class="slide-bgimg" style="background-image: url(&quot;https://d1uizj3c0a660l.cloudfront.net/HandsomeDay.jpg&quot;); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
                </li></ul>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            </div>
            <div class="swiper-button-prev bigb"></div>
            <div class="swiper-button-next bigb"></div>
        </div>
        <div class="main_container">
            <!-- new & best -->
            <!-- ajax 이용해서 ul안에 여성, 남성, 포인트ACC, 셀렉티드  카테고리의 상품들 나오도록함 -->
            <div class="product_list1903">
                <div class="nbe_cnt new">
                    <div class="product_left_menu"> <!-- 상품 카테고리 -->
                        <h4 class="tit">신상품</h4>
                        <ul>
                        </ul>
                    </div>
                    <div class="nbe_cnt_inner_wrap"> <!-- 상품 이미지 리스트  -->
                    </div>
                </div>
                <div class="nbe_cnt best">
                    <div class="product_left_menu">
                        <h4 class="tit">베스트</h4>
                        <ul>
                        </ul>
                    </div>
                    <div class="nbe_cnt_inner_wrap">
                    </div>
                </div>
            </div>
            <!-- new & best -->
        </div>
        <!-- //main_container-->
        <div class="video_main_wrap">
					<h4 class="tit"><spring:theme code="main.video.title" /></h4>
					<div class="video_area1903" id="videoDiv1903">
						<a href="javascript:void(0);" onclick="GA_main('exhibitionVideo',$(this));">
							<div class="video_main" style="display: block;">
								<span class="play_btn"></span>
								<img src="/resources/medias/220610-D-awesome-03.jpg?context=bWFzdGVyfGltYWdlc3w4NjUzM3xpbWFnZS9qcGVnfGltYWdlcy9oMWUvaGRjLzkzMDQ4OTk3ODA2MzguanBnfDRjODEzNTQ3NDgxYzhmNDZhNGY2ZWRjMWY4OWVjOTNhOTY4NWFkMTM5ZDViMzQyYjgzOWFiMjdhZmI4YzY1NzY" alt="poster">
							</div>
							<video id="video" class="video-js" controls="auto" preload="auto" style="display: none; width:884px; height:auto;" onended="videoEnded('videoDiv1903',0)" width="884" height="auto">
								<source src="http://s3.ap-northeast-2.amazonaws.com/cdn.thehandsome.com-kr/pc/0_main_video/220610_awesome/awsomelife_handsome.mp4" type="video/mp4">
							</video>
						</a>
					</div>
					<div class="txt">
						<p class="tit">aweSOME life 7.<br>HANESOME-E</p>
						<p class="s_t">변함없는 지구를 그리며<br>핸써미와 함께한 지속 가능한 선택</p>
					</div>
				</div>
			<!--// video_main_wrap-->
        <!-- main_container-->
        <div class="main_container">
            <!-- the_magazine_wrap1903-->
            <div class="the_magazine_wrap1903">
                <h4 class="tit">THE 매거진</h4>
                <div class="magazine_slider1903 swiper-container" id="magazinSlider1903">
                    <ul class="swiper-wrapper">
                    </ul>
                </div>
                <!--add arrow -->
                <div class="themagazine_arrow next">다음</div>
                <div class="themagazine_arrow prev">이전</div>
            </div>
            <!-- //the_magazine_wrap1903-->
            <!--배너영역 -->
            <!--//배너영역 -->
            
        </div>

</div>
</div>
</html>