<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>
    <div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control" aria-label="Recipient's username"
                       aria-describedby="button-addon2"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send" onclick="send()">전송
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const username = "[[${member.getMemail()}]]";
    const websocket = new WebSocket("ws://localhost:8080/ws/chat");

    websocket.onmessage = onMessage;
    websocket.onopen = onOpen;
    websocket.onclose = onClose;

    function send() {
        console.log("SEND");
        let msg = document.getElementById("msg");

        console.log(username + ":" + msg.value);
        websocket.send(username + ":" + msg.value);
        msg.value = "";
    }

    //채팅창에 들어왔을 때
    function onOpen(evt) {
        var str = username + ": 님이 입장하셨습니다.";
        websocket.send(str);
    }

    //채팅창에서 나갔을 때
    function onClose(evt) {
        var str = username + ": 님이 방을 나가셨습니다.";
        websocket.send(str);
    }

    function onMessage(msg) {
        //console.log(msg);
        var data = msg.data;
        var sessionId = null;
        //데이터를 보낸 사람
        var message = null;
        var arr = data.split(":");

        for (var i = 0; i < arr.length; i++) {
            console.log("arr[" + i + "]: " + arr[i]);
        }

        var cur_session = username;

        //현재 세션에 로그인 한 사람
        console.log("cur_session : " + cur_session);

        sessionId = arr[0];
        message = arr[1];

        console.log("sessionID : " + sessionId);
        console.log("cur_session : " + cur_session);

        if (arr[1] == " 님이 입장하셨습니다." || arr[1] == " 님이 방을 나가셨습니다.") {
            var str = "<div class='col-6'>";
            str += "<div class='alert alert-secondary'>";
            str += "<b style='color: #3f729b'>" + sessionId + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        } else {
            //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
            if (sessionId == cur_session) {
                var str = "<div class='col-6'>";
                str += "<div class='alert alert-secondary'>";
                str += "<span><span style='color: #574a95; font-size: 18px;'>" + sessionId + "</span> : " + message + "</span>";
                str += "</div></div>";
                $("#msgArea").append(str);
            } else {
                var str = "<div class='col-6'>";
                str += "<div class='alert alert-warning'>";
                str += "<span><span style='color: #574a95; font-size: 18px;'>" + sessionId + "</span> : " + message + "</span>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }
        }
    }
</script>
</html>
