@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 50px;
    background-color: red;
}

.logo {
    text-indent: -999em;
    display: block;
    height: 40px;
    /* margin: 21px 0 18px 21px; */
    background: url(/resources/_ui/desktop/common/images/main/top-header-handsome-logo.png) 0 7px no-repeat;
    width: 190px;
}

.cnts_title {
    margin-bottom: 18px;
}

.title {
    font-family: 'ROKAFSansBold';
}

@media (min-width:421px) {
    #main {
        display: grid;
        grid-template-columns: 4fr 1fr;    
    }

    #main #streaming {
        margin-right: 20px;
        margin-left: 10px
    }

    #main #chating {
        margin-right: 10px;
        margin-height: 730px; 
        background-color: #f5f5f5;
        border-radius: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 0px;
        max-height: 1127px;
        overflow: scroll;
    }

    ::-webkit-scrollbar {
    display: none;
    }
    video#amazon-ivs-videojs {
        width: 100%;
        height: 100%;
    }

    .bottom {
        margin-left: 3.39%;
    }

    .txt .tit {
        /* float: left;
        color: #0b0b0b;
        font-size: 2rem;
        width: 27%;
        line-height: 2.3rem;
        margin-right: 20%; */
        /* margin-left: 3.39%; */
        float: left;
        color: #0b0b0b;
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .txt {
        display: inline-block;
        margin-top: 3%;
        overflow: hidden;
        width: 100%;
        text-align: left;
        font-family: Arial,'Apple SD Gothic Neo',sans-serif;
        border-bottom: 1px solid lightgray;
        margin-bottom: 3%;
        padding-bottom: 3%;
    }

    .txt .s_t {
        float: right;
        width: 49.32%;
        font-size: 1.3rem;
        color: #494949;
        line-height: 1.8rem;
        margin-right: 3.39%;
    }

    .profile {
        float: left;
        width: 100%;
        height: 50px;
        margin-bottom: 3%;
    }

    .profileimg {
        display: inline-block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 2%;
    }

    .profilename {
        font-weight: bold;
        display: inline-block;
    }

    #msgArea{
        padding-top: 3%;
        margin-left: 8%;
        overflow:scroll;
        height : 66rem;
    }
    #fixInput {
        margin-left: 15px;
    }

    .description {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 1px solid lightgray;
        padding-bottom: 3%;
        font-size: 1rem;
    }

    .watchagain {
        white-space: nowrap;
        overflow-x: scroll;
        height: 50%;
    }

    .again{
        display: inline-block;
        margin-right: 3%;
        width: 30%;
    }

    #img {
        width: 100%
    }

    .againdetail {
        position: relative;
        cursor: pointer;
        margin-left: 0;
        margin-top: 5%;
        flex: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .againprofileimg {
        /* display: inline-block; */
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;
        /* margin-right: 20px; */
    }
    
    .titleNname {
        overflow-x: hidden;
        padding-left: 5%;
        width: 100%;
    }
    
    .againtitle {
        display: block;
        font-size: 0.88em;
        font-weight: bold;
    }
    
    .againtitlelink {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: black;
    
        font-family: "Roboto","Arial",sans-serif;
        /* font-size: 1.4rem;
        line-height: 2rem; */
        font-weight: 500;
        max-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    
        word-wrap: break-word;
    }
    
    .againprofilename {
        font-size: 0.8em;
    }

    li#welcome {
        padding: revert;
        padding: 3%;
        text-align: center;
        background-color: lavender;
        list-style: none;
    }

    li#chatUI {
        list-style: none;
        padding: revert;
        padding: 1%;
        padding-left: 3%;
        border: 2px solid lemonchiffon;
        background-color: antiquewhite;
    }

    #msg{
        width: 80%; 
        background-color: white;
    }

    span {
        word-break: break-all;
    }
}

@media (max-width:420px){ /*가로 너비가 420px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;    
    }

    #main #streaming {  
        margin-bottom: 10px; 
        margin-right: 10px;
    }
    #main #chating {
    	margin-left: 10px;
    }

    .head {
        text-align: center;
    }

    .logo {
        display: inline-block;
    }

    .cnts_title {
        display: inline-block;
    }

    .bottom {
        margin-left: 3.39%;
    }
    
    .txt .tit {
        /* float: left;
        color: #0b0b0b;
        font-size: 1rem;
        line-height: 20px;
        margin-right: 20%; */
        float: left;
        color: #0b0b0b;
        font-size: 1rem;
        line-height: 20px;
    }
    
    .txt {
        display: inline-block;
        margin-top: 3%;
        overflow: hidden;
        text-align: left;
        font-family: Arial,'Apple SD Gothic Neo',sans-serif;
        /* width: 884px; */
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin-bottom: 3%;
        padding-bottom: 3%;
    }
    
    .txt .s_t {
        /* float: left;
        width: 20%;
        font-size: 0.5rem;
        color: #494949;
        line-height: 15px; */
        float: right;
        /* width: 20%; */
        font-size: 0.5rem;
        color: #494949;
        line-height: 15px;
    }

    .profile {
        float: left;
        width: 100%;
        height: 20px;
        margin-bottom: 5%;
    }
    
    .profileimg {
        display: inline-block;
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 70%;
        overflow: hidden;
        /* margin-right: 20px; */
    }
    
    .profilename {
        font-weight: bold;
        display: inline-block;
        font-size: 0.4rem;
        line-height: 0.6rem;
    }

    .description {
        display: block;
        width: 100%;
        /* max-width: 615px; */
        /* margin-bottom: 20px; */
        border-bottom: 1px solid lightgray;
        font-size: 0.4rem;
        line-height: 0.6rem;
        padding-bottom: 3%;
    }

    #againtit {
        font-size: 0.4rem;
        line-height: 0.6rem;
    }

    .description {
        display: block;
        width: 100%;
        /* max-width: 615px; */
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
        font-size: 0.4rem;
        line-height: 0.6rem;
    }

    .watchagain {
        /* white-space:nowrap; */
        /* overflow-y:scroll; */
        display: block;
        white-space:nowrap;
        /* overflow-x:scroll; */
    }

    .again{
        width: 80%;
        text-align: center;
        margin: auto;
    }

    #img {
        width: 100%;
        /* height: 94px; */
        margin: auto;
    }

    .againdetail {
        position: relative;
        cursor: pointer;
        margin-left: 0;
        flex: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 3%;
    }

    .againprofileimg {
        /* display: inline-block; */
        width: 20px;
        height: 20px;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .titleNname {
        overflow-x: hidden;
        padding-left: 5%;
        width: 100%;
        font-size: 0.4rem;
        line-height: 0.6rem;
        text-align: left;
    }
    
    .againtitle {
        margin: 0;
        display: block;
        font-size: 0.88em;
        font-weight: bold;
    }
    
    .againtitlelink {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: black;
    
        font-family: "Roboto","Arial",sans-serif;
        /* font-size: 1.4rem;
        line-height: 2rem; */
        font-weight: 500;
        max-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    
        word-wrap: break-word;
    }
    
    .againprofilename {
        font-size: 0.8em;
    }

    li#welcome {
	    font-size: 13px;
	}
	li#chatUI {
		font-size: 12px;
	}
	#chating{
		height: 330px;
	}
	#msgArea{
		padding-top: 3%;
		margin-left: 8%;
		overflow:scroll;
		height : 17rem;
	}

}