#main {
    display: grid;
    grid-template-columns: 3fr 1fr;    
}

#main #streaming {
    min-height: 300px; 
    background-color:#00ffff; 
    margin-right: 10px;
}

#main #chating {
    min-height: 300px; 
    background-color: #00bfff;
}

video#amazon-ivs-videojs {
    width: 100%;
    height: 100%;
}

.txt .tit {
    float: left;
    color: #0b0b0b;
    font-size: 34px;
    width: 39.59%;
    line-height: 36px;
    margin-left: 3.39%;
}

.txt {
    display: inline-block;
    margin: 35px 0 32px 0;
    overflow: hidden;
    width: 884px;
    text-align: left;
    font-family: Arial,'Apple SD Gothic Neo',sans-serif;
}

.txt .s_t {
    float: right;
    width: 49.32%;
    font-size: 20px;
    color: #494949;
    line-height: 27px;
    margin-right: 3.39%;
}


@media (max-width:840px){ /*가로 너비가 840px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;    
    }

    #main #streaming {  
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #main #chating {
        min-height: 0;
    }
    
    .txt .tit {
        float: left;
        color: #0b0b0b;
        font-size: 20px;
        width: 20%;
        line-height: 20px;
        margin-left: 3.39%;
    }
    
    .txt {
        display: inline-block;
        margin: 35px 0 32px 0;
        overflow: hidden;
        width: 884px;
        text-align: left;
        font-family: Arial,'Apple SD Gothic Neo',sans-serif;
    }
    
    .txt .s_t {
        float: left;
        width: 20%;
        font-size: 10px;
        color: #494949;
        line-height: 15px;
        margin-right: 20.39%;
    }

}